.section-title-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 35px 0;

    @media(max-width: 599px) {
        flex-wrap: wrap;
    }

    .section-title {
        color: $primaryColor;
        white-space: nowrap;
        padding: 0 20px;
        font-weight: 600;
        font-size: 17pt;
    }

    h2 {
        color: $primaryColor;
        white-space: nowrap;
        padding: 0 20px;
        font-weight: 600;
        font-size: 17pt;
    }

    h3 {
        color: $primaryColor;
        white-space: nowrap;
        padding: 0 20px;
        font-weight: 600;
        font-size: 17pt;

        @media(max-width: 599px) {
            width: 100%;
            order: 1;
            padding-bottom: 15px;
        }
    }

    h4 {
        color: $primaryColor;
        white-space: nowrap;
        padding: 0 20px;
        font-weight: 600;
        font-size: 15pt;
    }

    p {
        font-family: $h-font;
        color: $primaryColor;
        padding: 0;
        font-weight: 600;
        font-size: 14pt;
        text-align: center;
        width: 100%;
    }
}

.section-title-decoration {
    flex-grow: 1;
    height: 2px;
    width: 100%;

    &.left {
        background-image: linear-gradient(to left, #585077, #dde1e8);
    }
    &.right {
        background-image: linear-gradient(to right, #585077, #dde1e8);
    }

    @media(max-width: 599px) {
        &.left {
            order: 2;
            width: 40%;
            margin-right: 10px;
        }
        &.right {
            order: 3;
            width: 40%;
            margin-left: 10px;
        }
    }
}
