.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 30px 0 rgba(216, 205, 186, 0.31);

    .card-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-body {
        flex-grow: 1;
        background-color: #fbfcfe;
        color: $primaryColor;
        font-family: $h-font;

        .card-title {
            display: block;
            font-weight: 600;
            overflow: hidden;
            font-size: 12pt !important;
        }

        .description {
            font-weight: 400;
            color:red;
            //-- todo
        }
    }

    .card-footer {
        background-color: #d8cdba;
    }
}
