.page-footer {
  @media(max-width: 1599px) {
    .page-footer-main {
      //max-width: 90%;
    }

    .page-footer-footer {
      .footer-container {
        //max-width: 90%;
        //margin-right: 30px;
      }
    }
  }

  @media(max-width: 1499px) {
    .page-footer-main {
      margin: 0 auto;
      //padding: 0 0 60px;
    }

    .page-footer-footer {
      .footer-container {
        margin: 0 auto;
      }
    }
  }

  @media(max-width: 1399px) {
    .page-footer-main {
      max-width: 1200px;
    }

    .pros-card {
      width: 100%;
      padding: 30px 20px;
    }

    .footer-h4 {
      font-size: 12pt;
    }

    p {
      font-size: 11pt;
    }
  }

  @media(max-width: 1299px) {
    .footer-h4 {
      font-size: 11pt;
    }

    p {
      font-size: 10pt;
    }

    .content-column-left {
      &::after {
        top: 50%;
      }
    }

    // Center
    .content-column-center {
      padding-top: 30px;
    }
  }

  @media(max-width: 1199px) {
    .page-footer-main {
      max-width: 990px;
    }

    .content-column-left {
      max-width: 50%;
      flex: 0 0 50%;
    }

    .content-column-center {
      max-width: 25%;
      flex: 0 0 25%;
    }

    .content-column-right {
      max-width: 25%;
      flex: 0 0 25%;
    }

    .page-footer-subscribe-box {
      width: 100%;
    }

    .join-us-button {
      width: 90%;
      margin: 0 auto;
    }

    .page-footer-subscribe-box {
      .form-group {
        .form-control.email {
          padding-right: 10px;
          height: 40px;
        }

        #NewsletterEnvelope {
          top: 25%;
        }

        .btn-subscribe {
          position: static;
          transform: none;
          width: 100%;
          margin-top: 10px;

          .spinner-border {
            //right: 1vw;
            //top: auto;
            //bottom: .65vw;
          }
        }
      }
    }
  }

  @media(max-width: 991px) {
    .page-footer-footer {
      .page-footer-main {
        padding-bottom: 0;
      }
    }

    .page-footer-main {
      max-width: 90%;
    }

    .content-column-left {
      max-width: 65%;
      flex: 0 0 65%;
    }

    .content-column-center {
      max-width: 35%;
      flex: 0 0 35%;
    }

    .content-column-right {
      max-width: 100%;
      flex: 0 0 100%;
      margin-top: 40px;
    }

    .page-footer-main {
      padding-bottom: 30px;
    }

    .pros-card {
      width: 50%;
      margin: 0 auto;

      p {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .logo-pros-container {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
      }
    }

    p {
      font-size: 12pt;
    }

    .join-us-button {
      width: 50%;
    }

    .page-footer-subscribe-box {
      .btn-subscribe {
        line-height: 1;
        font-size: 8pt;
      }
    }

    .news-letter-wrap {
      .image-container {
        margin: 0 auto;
      }
    }
  }

  @media(max-width: 767px) {
    .content-column-left {
      max-width: 100%;
      flex: 0 0 100%;
      padding-bottom: 20px;

      &::after {
        top: auto;
        bottom: 0;
        width: 96%;
        height: 1px;
        right: 50%;
        transform: translate(50%, 0);
      }
    }

    .more-information {
      margin-top: 20px !important;
    }

    .content-column-center {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .content-column-right {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .pros-card {
      width: 100%;
      max-width: 400px;
    }

    .content {
      max-width: 400px;
      margin: 0 auto;
    }

    .brand-logo {
      margin: 0 auto;
    }

    .news-letter-wrap {
      .image-container {
        img {
          margin: 0 auto;
        }
      }

      .footer-h4 {
        text-align: center;
      }
    }
    .join-us-button {
      a {
        font-size: 16pt;
      }
    }

    p {
      text-align: center;
    }
  }

  @media(max-width: 599px) {
    .page-footer-footer {
      height: auto;
      padding: 20px;

      .social {
        margin: 0 auto;
      }

      .content {
        p {
          margin: 20px auto 0;
        }
      }
    }

    .content-column-left {
      &::after {
        width: 85%;
      }
    }

    .page-footer-subscribe-box  {
      .form-group  {
        .btn-subscribe {
          .spinner-border {
            bottom: 1.5vw;
          }
        }
      }
    }

    .more-info {
      flex-wrap: wrap;

      .page-footer-link {
        width: 50%;
        margin-right: 0;
      }
    }
  }
}
