
//new site
$main-font: 'Lato', sans-serif;
$h-font: 'Raleway', sans-serif;
$text-color: #342e49;
$grey: #b3b3b3;
$primaryColor: #585077;
$pageFooterPrimaryColor: #403a57;
$pageFooterSecondaryColor: #312c43;
$central-content-width: 1280px;

//screen media
$break-760: 760px;
$break-600: 600px;
$break-400: 400px;
$break-900: 900px;
$break-1000: 1000px;
$break-1400: 1400px;
$break-1300: 1300px;
$break-1200: 1200px;
$break-1070: 1070px;
$smaller-screen: 1100px;
