.article {
  @media(max-width: 1899px) {
    //.container-lg {
    //  max-width: 1495px;
    //}

    .cards-section {

    }

    .card {
      max-width: 450px;
    }
  }

  @media(max-width: 1599px) {
    .container-lg {
      max-width: 1340px !important;
    }
  }

  @media(max-width: 1399px) {
    .container-lg {
      max-width: 1280px !important;
    }

    .article-content {
      .big-img {
        height: 450px;
      }
    }

    .commercial-3 {
      .find-by-zip-code {
        button {
          width: 110px;
          height: 100px;
          font-size: 15.5pt;
        }
      }

      .h-c {
        h2 {
          font-size: 21pt;
        }
      }
    }
  }

  @media(max-width: 1365px) {
    .container-lg {
      max-width: 1140px !important;
    }
  }

  @media(max-width: 1199px) {
    .container-lg {
      max-width: 960px !important;
    }

    // Content
    .article-content {
      h1 {
        font-size: 28pt !important;
      }

      h2 {
        font-size: 18pt !important;
      }

      h3 {
        font-size: 16pt !important;
      }

      .commercial-3 {
        .find-by-zip-code {
          button {
            padding: 10px;
          }

          input {
            width: 90%;
          }
        }
      }
    }
  }

  @media(max-width: 991px) {
    .tool-panel {
      .seen {
        font-size: 11pt;
      }
    }

    .commercial-3 {
      .commercial-content {
        padding: 20px 20px 20px 20px !important;
      }

      .h-c {
        justify-content: flex-start !important;
      }

      .f-c {

      }
    }
  }

  @media(max-width: 767px) {
    //.cards-section {
    //  .container-lg {
    //    padding: 0 15px;
    //  }
    //}

    .container-lg {
      width: 100%;
      max-width: initial;
      padding: 0 15px !important;
    }

    .article-content {
      .commercial-2 {
        button {
          width: 150px;
        }
      }
    }

    .commercial-3 {
      .find-by-zip-code {
        flex-direction: column;
        align-items: flex-start !important;
        margin-top: 20px;

        button {
          justify-content: center;
          width: 96%;
          max-width: 240px;
          min-width: 170px;
          height: 70px;
          margin-top: 20px;
          margin-left: 0;
          padding: 10px;
          font-size: 15pt;
          border: none;
        }

        .f-c {
          input {
            width: 100%;
          }
        }
      }
    }

  }

  @media(max-width: 599px) {
    padding-top: 50px !important;

    .card {
      max-width: 350px;
      margin: 0 auto;
    }

    .article-section {
      .article-header {
        flex-direction: column;
      }

      .tool-panel {
        margin: 10px 0 0 auto;
        padding-top: 20px;

        span {
          padding: 0 10px;
          font-size: 10pt;
        }
      }

      .article-content {
        .likes {
          position: static;
          justify-content: flex-end;

          span {
            padding: 0 8px;
            font-size: 10pt;

            .fa-thumbs-up,
            .fa-thumbs-down {
              font-size: 10pt;
            }
          }
        }

        h1 {
          margin-top: 30px;
        }

        .big-img {
          height: 300px;
        }
      }

      .commercial-2 {
        flex-direction: column;
      }
    }
  }
}
