.home {
  .categories {
    font-family: $main-font;
    font-weight: 400;
    background: url("../images/bg/bg__categories_d.png") no-repeat center bottom / auto;
  }

  .other-categories {
    .section-sub-title {
      color: $text-color;
      font-family: $h-font;
      font-weight: 600;
    }
  }

  .magazine {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: calc(100% - 175px);
      background-color: $primaryColor;
    }

    .magazine-header {
      position: absolute;
      top: 0;
      width: 100%;
    }

    .article {
      color: #fff;

      .main-title {
        color: #d8cdba;
      }

      .profile-image {
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }

  .common-searches {
    background-color: #fff;
  }

  .services {
    background-color: #f8f4ef;
  }

  .view-more-container {
    button {
      font-family: $h-font;
      font-weight: 400;
      color: #fff;
    }
  }
}
