.home {
  @media(min-width: 1200px) {
    .categories,
    .common-searches,
    .services {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .categories {
      padding-bottom: 320px;
    }

    .magazine {
      position: relative;
      padding-top: 360px;

      .magazine-header {
        position: absolute;
        top: 0;
        transform: translate(0, -50%);
        width: 100%;
      }

      .cards-container {
        margin-top: 40px;
      }

      .tips-container {
        margin-top: 80px;
      }

      .article {
        padding-right: 40px;

        .main-title {
          margin-bottom: 40px;
        }

        .profile {
          margin-bottom: 30px;
        }

        .profile-image {
          width: 58px;
          height: 58px;
          margin-right: 10px;
        }

        .profile-name {
          margin-bottom: 4px;
        }

        .article-content {
          p {
            line-height: 1.75;
          }
        }
      }

      .more-tips {
        margin-top: 40px;

        .title {
          color: #d8cdba;
        }
      }
    }

    .other-categories {
      margin-top: 120px;

      .list {
        padding-top: 100px;
      }
    }

    .services-list {
      padding-left: 50px;
      padding-right: 20px;
    }

    .view-more {
      padding-top: 40px;
    }
  }
  // EOL: @media(min-width: 1200px)

  @media(min-width: 1400px) {
    .section-container {
      max-width: 1300px;
    }
  }
  // EOL: @media(min-width: 1400px)


  @media(min-width: 1600px) {
    .view-more {
      padding-top: 60px;
    }
  }
  // EOL: @media(min-width: 1600px)
}
