.home {
  @media(min-width: 300px) {
    padding-top: 56px;

    .head-section {
      .head-section-content {
        background-image: url('../images/header/main-image-m.jpg');
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
      }

      .head-section-content-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 110px;
        //margin-top: -56px;
        height: calc(100vh - 63vw);
        min-height: 460px;
      }

      .find-box {
        width: 100%;
      }

      .find-btn {
        width: 100%;
        margin-top: 20px;
        padding: 15px 0;
        background-color: $primaryColor;
        color: #fff;
        font-family: $h-font;
        font-weight: bold;
        font-size: 7.5pt;
      }

      .super-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100%;
      }

      .super-placeholder-heading {
        display: block;
        line-height: 1.5;
        margin-bottom: 10px;
        font-family: $h-font;
        font-weight: bold;
        font-size: 16.5pt;
        color: #fff;
        text-align: center;
      }

      .form-control {
        height: 48px;
        padding-right: 10px;
        padding-left: 50px;
        border-radius: 4px;
        box-shadow: 0px 11px 7px 0 rgba(0, 0, 0, 0.02);
        border: solid 2px #d8cdba;
        background-color: #ffffff;
      }

      .form-control,
      .form-control::placeholder {
        font-family: $main-font;
        font-weight: 500;
        font-size: 9.75pt;
        color: #b3b3b3;
      }

      .reasons {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        //margin-left: -10px;
        //margin-right: -10px;

        .reason {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 50%;
          //margin-bottom: 20px;
        }

        .reason-icon {
          width: 35px;
        }

        .headings {
          text-align: center;
          margin-top: 10px;
        }
      }
    }

    .common-searches {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .categories {
      padding-top: 40px;
      padding-bottom: 240px;
    }

    .other-categories {
      margin-top: 40px;

      .list {
        padding-top: 50px;
      }

      .section-sub-title {
        font-size: 12pt;
      }
    }

    .view-more-container {
      padding-top: 40px;

      button {
        font-size: 11pt;
      }
    }

    .magazine {
      padding-top: 360px;

      &:before {
        height: calc(100% - 105px);
      }

      .magazine-header {
        margin-top: -550px;

        .magazine-header-text {
          font-size: 12pt;
        }
      }

      .article {
        padding-right: 40px;

        .main-title {
          margin-bottom: 40px;
          font-size: 30pt;
        }

        .profile {
          margin-bottom: 30px;
        }

        .profile-image {
          width: 58px;
          height: 58px;
          margin-right: 10px;
        }

        .profile-name {
          margin-bottom: 4px;
          font-size: 10.5pt;
        }

        .profile-origin {
          font-size: 10.5pt;
        }

        .article-content {
          p {
            line-height: 1.75;
            font-size: 13.5pt;
          }
        }
      }

      .more-tips {
        margin-top: 60px;

        .main-title {
          color: #d8cdba;
          font-size: 30pt;
        }
      }
    }

    .tips-container {
      margin-top: 30px;
    }

    .google-search {
      margin-top: 95px;

      .form-control {
        padding: 0 95px 0 80px;
        font-size: 12pt;

        &::placeholder {
          font-size: 12pt;
        }
      }

      .super-placeholder {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translate(0, -50%);

        img {
          max-width: 100%;
          width: 60px;
        }
      }

      .icon-search {
        position: absolute;
        top: 0;
        right: 70px;
        display: flex;
        align-items: center;
        height: 100%;
        opacity: .5;
      }

      .search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: calc(100% - 8px);
        font-size: 0;

        i {
          font-size: 13pt;
        }
      }
    }

    .questionnaire {
      margin-top: 20px;
      padding-bottom: 30px;

      &:before {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-color: $primaryColor;
      }

      .section-container {
        max-width: 600px;
      }

      .questionnaire-image {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .questionnaire-title {
        padding-left: 5px;
        font-size: 16.5pt;
        font-weight: bold;
        color: $primaryColor;
      }

      .questionnaire-text {
        margin-top: 20px;
        line-height: 1.5;
        font-size: 12pt;
        font-weight: 500;
      }

      .questionnaire-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .questionnaire-content-outer {
        flex-grow: 1;
        flex-direction: column;
        padding-bottom: 10px;
      }

      .questionnaire-content-inner {
        flex-direction: column;
        padding: 10px;
      }

      .questionnaire-content-item {
        position: relative;
        padding: 25px 10px;

        &:not(:last-child) {
          &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            display: block;
            content: '';
            width: calc(100% - 60px);
            border-bottom: 1px solid transparentize(#325181, .8);
          }
        }

        .questionnaire-content-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          margin-right: 30px;
        }

        span {
          margin-top: 10px;
          line-height: 1.5;
          font-size: 12pt;
        }
      }

      .join-us {
        flex-grow: 1;
        width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;

        button {
          width: 100%;
          height: 48px;
          font-size: 13.5pt;
        }
      }
    }
  }
  // EOL: @media(min-width: 300px)

  // Only for mobile devices
  @media only screen and (min-width: 300px) and (max-width: 991px) {
    padding-top: 56px;

    .head-section {
      .head-section-content {
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-color: transparentize(#181522, .52);
        }

        .head-section-content-inner {
          position: relative;
          z-index: 22;
          width: 96%;
          max-width: 400px;
          margin: -56px auto 0;
        }
      }

      .join-our-network {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px 15px;
        color: #fff;
        font-family: $h-font;
        font-weight: 300;
        font-size: 12pt;
        background-color: transparentize(#333, .6);

        .join-our-network-inner {
          max-width: 400px;
          width: 100%;
          margin: 0 auto;
          padding: 0 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        i {
          font-size: 14pt;
          margin-left: auto;
        }
      }
    }
  }

  @media(min-width: 600px) {
    padding-top: 0;

    .logo {
      width: 100%;
      max-width: 210px;
      margin-top: 50px;
    }
  }

  @media(min-width: 992px) {
    padding-top: 0;

    .head-section {
      background-image: url('../images/header/main-image.jpg');
      background-position: center 60%;
      background-size: 106% auto;

      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize(#181522, .61);
      }

      .head-section-content {
        height: 462px;
        padding-top: 50px;
        background: none;
      }

      .head-section-content-inner {
        padding-top: 0;
        margin-top: 0;
        height: initial;
      }

      .super-placeholder {
        position: absolute;
        top: 0;
        left: 20px;
        width: initial;
        height: 100%;

        img {
          width: 12px;
        }
      }

      .super-placeholder-heading {
        margin-left: 8px;
        margin-bottom: 0;
        color: #352f4a;
        text-align: initial;
        font-size: 12pt;
      }

      h1 {
        margin-top: 30px;
        font-size: 20pt;
      }

      .logo {
        max-width: 300px;
      }

      .find-box {
        z-index: 1;
        transform: translate(0, calc(50% - 50px));
        max-width: $central-content-width;
        width: 100%;
        margin-top: auto;
        padding: 15px;
        background-color: #f4eee4;
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
      }

      .find-btn {
        top: 1px;
        right: 1px;
        height: calc(100% - 2px);
        width: 150px;
        margin-top: 0;
        font-size: 16px;
      }

      .form-control {
        height: 80px;
        padding-left: 290px;
        padding-right: 210px;
        border-radius: 4px;
        box-shadow: 0px 11px 7px 0 rgba(0, 0, 0, 0.02);
        border: solid 2px #d8cdba;
        background-color: #ffffff;
        font-size: 12pt;
      }

      .form-control::placeholder {
        font-size: 12pt;
      }

      h1 {
        font-family: $main-font;
        font-weight: 500;
        font-size: 26.25pt;
        color: #fff;
      }

      .reasons {
        flex-wrap: nowrap;
        width: 100%;
        margin: 20px 0 0;
        background-color: #f4eee4;

        .reason {
          flex-direction: row;
          width: 25%;
          height: 70px;
          padding: 16px;

          &:not(:first-child):before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(50%, 50%);
            width: 2px;
            height: 40px;
            background-color: $primaryColor;
          }
        }

        .headings {
          text-align: left;
          margin-left: 15px;

          & h2 {
            font-size: 12pt;
          }

          & h3 {
            margin: 8px 0 0 0;
            font-size: 10pt;
          }
        }

        .reason-icon {
          width: 36px;
        }
      }
    }

    .common-searches {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .categories {
      padding-top: 200px;
      padding-bottom: 320px;
    }

    .magazine {
      padding-top: 360px;

      &:before {
        height: calc(100% - 175px);
      }

      .magazine-header {
        position: absolute;
        top: 0;
        width: 100%;
        transform: translate(0, -44%);
        margin-top: 0;
      }

      .tips-container {
        margin-top: 0;
      }

      .more-tips {
        margin-top: 40px;

      }
    }

    .other-categories {
      margin-top: 120px;

      .list {
        padding-top: 80px;
      }

      .section-sub-title {
        font-size: 12pt;
      }
    }

    .google-search {
      .super-placeholder {
        img {
          width: auto;
        }
      }

      .search-btn {
        width: 204px;
        padding: .375rem .75rem;
        font-size: 15pt;

        i {
          margin-left: 40px;
        }
      }

      .form-control {
        padding: 0 216px 0 130px;
      }
    }

    .questionnaire {
      margin-top: 86px;
      padding-bottom: 0;

      &:before {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
      }

      .section-container {
        max-width: 100%;
      }

      .questionnaire-image {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .questionnaire-text {
        font-weight: bold;
        font-size: 13.5pt;
      }

      .questionnaire-title {
        margin-top: 12px;
        padding-left: 0;
        font-size: 20pt;
      }

      &:before {
        height: calc(100% - 114px);
      }

      .questionnaire-content {
        flex-grow: 0;
      }

      .questionnaire-content-outer {
        flex-grow: 0;
        flex-direction: row;
        margin-top: 20px;
        margin-left: -30px;
        padding: 6px;
      }

      .questionnaire-content-inner {
        flex-direction: row;
        padding: 20px 10px;
      }

      .questionnaire-content-item {
        padding: 15px;

        &:not(:last-child) {
          border-right: 2px solid #e5e4ea;
          border-bottom: none;

          &::after {
            display: none;
          }
        }

        span {
          font-size: 11.25pt;
        }
      }

      .join-us {
        flex-grow: 0;
        width: auto;
        height: 100%;

        button {
          width: auto;
          height: 130px;
        }
      }
    }
  }
  // EOL: @media(min-width: 992px)

  @media(min-width: 1200px) {

    .other-categories {
      .list {
        padding-top: 100px;
      }
    }

    .questionnaire {
      .questionnaire-content-inner {
        padding: 20px;
      }

      .questionnaire-content-item {
        padding: 10px 40px;
      }

      .questionnaire-title {
        font-size: 22.5pt;
      }

      .join-us {
        margin-right: 3px;
        margin-top: 3px;
        margin-bottom: 3px;

        button {
          width: 150px;
        }
      }
    }
  }
  // EOL: @media(min-width: 1200px)

  @media(min-width: 1400px) {
    .section-container {
      max-width: 1300px;
    }

    .questionnaire {

      .section-container {
        max-width: 1300px;
      }

      .questionnaire-text {
        margin-top: 30px;
      }

      .questionnaire-content-outer {
        margin-top: 30px;
      }

      .questionnaire-content-inner {

      }

      .questionnaire-content-item {
        padding: 20px 40px;
      }
    }
  }
  // EOL: @media(min-width: 1400px)

  @media(min-width: 1600px) {
    .head-section {
      h1 {
        font-size: 25pt;
      }
      .find-btn {
        width: 200px;
      }

      .form-control {
        height: 80px;
        padding-left: 320px;
        padding-right: 210px;
      }
    }

    .view-more-container {
      padding-top: 60px;
    }

    .questionnaire {
      margin-top: 106px;

      .questionnaire-title {
        font-size: 22.5pt;
      }
    }
  }
  // EOL: @media(min-width: 1600px)

  @media(min-width: 1920px) {
    .find-btn {
      font-size: 18px;
    }
  }
  // EOL: @media(min-width: 1920px)
}
