.home {
  @media(min-width: 600px) {
    padding-top: 170px;

    .header {
      .header-content {

      }
    }
  }
  // EOL: @media(min-width: 600px)

  @media(min-width: 1200px) {
    padding-top: 110px;

    .common-searches,
    .services {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .categories {
      padding-top: 60px;
      padding-bottom: 320px;
    }

    .magazine {
      padding-top: 360px;

      .magazine-header {
        transform: translate(0, -44%);

        .magazine-header-text {
          font-size: 12pt;
        }
      }

      .cards-container {
        margin-top: 40px;
      }

      .article {
        padding-right: 40px;

        .main-title {
          margin-bottom: 40px;
          font-size: 30pt;
        }

        .profile {
          margin-bottom: 30px;
        }

        .profile-image {
          width: 58px;
          height: 58px;
          margin-right: 10px;
        }

        .profile-name {
          margin-bottom: 4px;
          font-size: 10.5pt;
        }

        .profile-origin {
          font-size: 10.5pt;
        }

        .article-content {
          p {
            line-height: 1.75;
            font-size: 13.5pt;
          }
        }
      }

      .more-tips {
        margin-top: 40px;

        .main-title {
          color: #d8cdba;
          font-size: 30pt;
        }
      }
    }

    .other-categories {
      margin-top: 120px;

      .list {
        padding-top: 100px;
      }

      .section-sub-title {
        font-size: 12pt;
      }
    }

    .google-search {
      margin-top: 95px;

      .form-group {
        .form-control {
          padding: 0 216px 0 130px;
          font-size: 13.5pt;

          &::placeholder {
            font-size: 13.5pt;
          }
        }
      }

      .search-btn {
        width: 204px;
        height: calc(100% - 8px);
        font-size: 15pt;

        i {
          margin-left: 40px;
        }
      }
    }

    .questionnaire {
      margin-top: 86px;

      &:before {
        height: calc(100% - 114px);
      }

      .questionnaire-content {
        .questionnaire-title {
          margin-top: 12px;
          font-size: 20.5pt;
        }

        .questionnaire-text {
          line-height: 1.5;
          margin-top: 30px;
          font-size: 13.5pt;
        }

        .questionnaire-content-outer {
          margin-top: 20px;
          margin-left: -30px;

          .questionnaire-content-inner {
            padding: 20px;

            .questionnaire-content-item {
              padding: 10px 40px;

              img {
                margin-right: 30px;
              }

              span {
                line-height: 1.5;
                font-size: 11pt;
              }
            }
          }

          .join-us {
            height: 100%;
            margin-right: 3px;
            margin-top: 3px;

            button {
              width: 150px;
              height: 120px;
              font-size: 13.5pt;
            }
          }
        }
      }
    }

    .common-searches-list {
      //padding-left: 20px;
      //padding-right: 20px;
    }

    .services-list {
      padding-left: 50px;
      padding-right: 20px;
    }

    .view-more-container {
      padding-top: 40px;

      button {
        font-size: 11pt;
      }
    }
  }
  // EOL: @media(min-width: 1200px)

  @media(min-width: 1400px) {
    .section-container {
      max-width: 1300px;
    }
    .questionnaire {
      .questionnaire-content {
        .questionnaire-text {
          margin-top: 40px;
        }

        .questionnaire-content-outer {
          margin-top: 40px;

          .questionnaire-content-inner {
            padding: 25px;

            .questionnaire-content-item {
              padding: 20px 40px;
            }
          }

          .join-us {
            margin-right: 6px;
            margin-top: 6px;
          }
        }
      }
    }
  }
  // EOL: @media(min-width: 1400px)

  @media(min-width: 1600px) {
    .view-more-container {
      padding-top: 60px;
    }

    .questionnaire {
      margin-top: 106px;

      .questionnaire-content {
        .questionnaire-title {
          font-size: 22.5pt;
        }
      }
    }
  }
  // EOL: @media(min-width: 1600px)
}
