.home {
  .categories {
    font-family: $main-font;
    font-weight: 400;
  }

  .other-categories {
    .section-sub-title {
      color: $text-color;
      font-family: $h-font;
      font-weight: 600;
    }
  }

  .magazine {
    background-color: $primaryColor;

    .article {
      color: #fff;

      .main-title {
        color: #d8cdba;
      }

      .profile-image {
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }

  .common-searches {
    background-color: #fff;
  }

  .services {
    background-color: #f8f4ef;
  }

  .view-more-container {
    button {
      font-family: $h-font;
      font-weight: 400;
      color: #fff;
    }
  }
}
