.home {
  .categories {
    font-family: $main-font;
  }

  .magazine {
    background-color: $primaryColor;
  }

  .common-searches {
    background-color: #fff;
  }

  .services {
    background-color: #f8f4ef;
  }
}
