body {
  &.blocked {
    overflow: hidden;
  }
}

.landing-sign-up {
  @media(min-width: 300px) { // from 300

  }

  @media(min-width: 768px) { // from 768

  }

  @media(min-width: 1200px) { // from 1200
    .container-lg {
      max-width: 1140px;
    }

  }

  @media(min-width: 1366px) {
    .container-lg {
      max-width: 1280px;
    }
  }

  @media(min-width: 1400px) {
    .container-lg {
      max-width: 1340px;
    }
  }

  @media(min-width: 1600px) { // from 1600
    .container-lg {
      max-width: 1480px;
    }
  }

  @media(min-width: 1900px) { // from 1900
    .container-lg {
      max-width: 1770px;
    }
  }
}

@media(min-width: 300px) { // from 300
  .landing-sign-up {

    h2 {
      font-size: 15px;
      color: $primaryColor;
    }
  }

  .quality-card-text {
    font-size: 10px;
    color: $primaryColor;
  }

  .head-section {
    background-image: url("../images/bg/landing-sign-up-bg-d.png");
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 8px solid $primaryColor;
  }

  .head-section-content {
    min-height: 300px;
  }

  .head-section-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 80px;
      padding: 5px;
    }
  }

  .brand-address {
    margin-left: 10px;
  }

  .btn-wrapper {
    padding-top: 70px;

    h1 {
      font-size: 23px;
    }

    button {
      width: 228px;
      height: 52px;
      margin-top: 10px;
      font-size: 23px;
    }
  }

  .quality-cards {
    flex-direction: column;
    align-items: center;
  }

  .quality-card {
    width: 96%;
    height: 190px;
    margin-bottom: 20px;
    padding: 20px 30px 10px;
  }

  .quality-card-image {
    width: 50px;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .content {
    h2 {
      line-height: 1.25;
      padding: 30px 15px;
    }
  }
}

@media(min-width: 768px) { // from 768
  .head-section {
    background-image: url("../images/bg/landing-sign-up-bg-d.png");
    border-top-width: 28px;
  }

  h1 {
    font-size: 25px;
  }

  .brand-address {
    margin-left: 30px;
  }

  .quality-cards {
    flex-direction: row;
  }

  .quality-card {
    width: 33%;
    margin: 0 5px;
    padding: 20px 10px 10px 10px;
  }

  .quality-card-image {
    height: 65px;
    margin-bottom: 20px;


    img {
      width: auto;
      height: 100%;
      max-width: initial;
    }
  }

  .quality-card-text {
    font-size: 12px;
  }
}

@media(min-width: 992px) { // from 992
  .laptop {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 3;
  }

  .logo {
    img {
      width: 100px;
      padding: 20px 20px 20px 20px;
    }
  }

  .pro-img {
    width: 130px;
  }

  .content {
    h2 {
      padding: 0 50px;
    }
  }

  .quality-cards {
    margin-top: 20px;
  }
}

@media(min-width: 1200px) { // from 1200
  .content {
    h2 {
      font-size: 18px;
    }
  }

  .laptop {
    width: 52%;
    transform: translate(0, -70%);
  }

  .quality-card-text {
    font-size: 15px;
    line-height: 1.2;
  }

  .head-section-content {
    min-height: 467px;
  }

  .head-section-header {

  }

  .head-section-body {
    margin-top: -20px;
  }

  .logo {
    width: 240px;

    img {
      width: 100%;
      padding: 20px 30px 30px 20px;
    }
  }

  .brand-address {
    margin-left: 50px;
    font-size: 20px;
  }

  .pro-img {
    width: 200px;
    margin-left: 10px;
  }

  .btn-wrapper {
    margin-left: 50px;
    padding-top: 0;

    h1 {
      line-height: .95;
      font-size: 53px;
    }

    button {
      margin-top: 40px;
    }
  }

  .section-2 {
    padding-top: 30px;
  }

  .quality-card {
    height: 210px;
    margin: 0 10px;
    padding: 20px 15px 15px;
  }

  .quality-card-image {
    margin-bottom: 30px;
  }
}

@media(min-width: 1366px) { // from 1366
  .quality-card {
    height: 230px;
  }

}

@media(min-width: 1600px) { // from 1600
  .head-section-container {
    max-width: 1400px !important;
  }

  .section-2 {
    padding-top: 40px;
  }

  .laptop {

  }

  .quality-cards {
    margin-top: 40px;
    padding-right: 10px;
  }

  .quality-card {
    height: 270px;
    padding: 60px 20px 20px;
  }

  .quality-card-text {
    font-size: 18px;
  }

  .content {
    h2 {
      padding: 0 90px;
      font-size: 22px;
    }
  }
}

@media (min-width: 1900px) { // from 1900
  .content {
    h2 {
      font-size: 27px;
    }
  }

  .quality-cards {
    padding-right: 40px;
  }

  .quality-card {
    height: 310px;
  }

  .quality-card-text {
    font-size: 24px;
  }

  .head-section-container {
    max-width: 1700px !important;
  }

  .laptop {
    top: -150px;
  }
}
