.landing-page {
  @media(min-width: 300px) {  }

  @media(min-width: 600px) {
    .all-categories {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .head-section {
      width: 100%;
      background: url('../images/loading-map.png') no-repeat center;
      background-size: cover;

      .section-container {
        padding-top: 60px;
      }

      .section-title {
        margin-top: 110px;
        line-height: 1.5;
        font-size: 14pt;
      }

      .card {
        max-width: 500px;
        height: 210px;
        margin: 60px auto 0;
        padding: 20px 40px 0;

        .card-title {
          margin: 30px 0;
          font-size: 14pt;
        }

        .card-heading {
          font-size: 14pt;
        }

        .services-container {
          position: absolute;
          bottom: -32%;
          left: 50%;
          transform: translate(-50%, 0);
          padding: 0 20px;

          .service-item {
            flex-direction: column;
            height: 100px;
            border-radius: 5px;

            &:before {
              //position: absolute;
              bottom: -6px;
              left: 50%;
              transform: translateX(-50%);
              width: 98%;
              height: 6px;
            }
          }

          .service-icon {
            top: -40%;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 60px;
          }

          .service-name {
            margin: 35px auto 0;
            font-size: 16pt;
          }

          .service-btn {
            margin-top: 5px;
            padding: 0;
            font-size: 12pt;
          }
        }
      }

      .why-us {
        width: 100%;
        margin-top: 130px;

        .reason {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 46%;
          margin-bottom: 20px;
          padding: 20px 20px;
          background-color: #fff;
          border-radius: 5px;

          h2 {
            font-size: 13pt;
          }

          h3 {
            margin-top: 5px;
            font-size: 11pt;
          }

          .headings {
            margin: 10px 0 0 0;
            text-align: center;
          }
        }

        .reason-icon {
          width: 36px;
        }
      }
    }

    .bg-container {
      &:before {
        position: absolute;
        top: 150px;
        left: 0;
        height: 300px;
      }
    }

    .section-2 {
      padding: 20px 0 10px;

      .section-title {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13pt;
        font-weight: 900;
      }

      .list {
        p {
          font-size: 13pt;
          line-height: 2;
        }
      }

      .newsletter-container {
        flex-direction: column;
        height: 440px;
        margin-top: 20px;
        padding: 144px 15px 20px 15px;
        background:
          #fffdfa
          url('../../assets/images/landing/newsletter-bg-mobile.png')
          no-repeat;
        background-size: 100%;

        .super-placeholder {
          width: 80%;
          text-align: center;
        }

        .newsletter-text {
          line-height: 1.5;
          font-size: 16pt;
          font-weight: 400;
        }
      }

      .form-group {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 200px;
        padding: 20px 10px;

        .form-control {
          height: 70px;
          width: 100%;
          padding: 0 10px 0 100px;
          font-size: 15pt;
        }

        .placeholder {
          position: absolute;
          top: 28%;
          left: 30px;
          transform: translate(0, -50%);
          //width: auto;
          font-size: 15pt;

          span {
            padding-left: 10px;
          }
        }

        .send {
          height: 70px;
          width: 100%;
          font-size: 15pt;
        }
      }
    }

    .search-pros-inner {
      padding: 10px;

      .logo {
        width: 140px;
      }

      .search {
        flex-grow: 1;
        margin-left: 60px;

        .form-group {
          .form-control {
            width: 100%;
            height: 50px;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 11pt;

            &::placeholder {
              font-size: 11pt;
            }
          }
        }
      }

      .activity-areas-list {
        margin-top: 20px;
      }

      .activity-areas-title {
        font-size: 12pt;
      }

      .activity-area {
        margin: 10px 0;
        font-size: 10pt;
      }
    }

    .pros-list-container {
      .pros-card {
        padding: 10px;

        &:not(:first-child) {
          margin-top: 40px;
        }

        .pros-logo {
          img {
            width: 100%;
          }
        }

        .pros-content {
          height: 100%;
          padding: 5px 0 20px;

          .pros-name {
            line-height: 1.5;
            font-size: 12pt;
          }

          .pros-info {
            padding: 5px 0;

            .text {
              font-size: 10pt;
            }

            button {
              padding: 0;
              font-size: 10pt;
            }
          }

          .pros-id,
          .pros-location {
            span {
              padding-left: 10px;
              font-size: 10pt;
            }
          }

          .pros-id,
          .pros-name,
          .pros-location {
            padding: 8px 0;
          }

          .job-types {
            margin-top: 10px;

            span {
              margin-right: 10px;
              padding: 5px;
              font-size: 11pt;
            }
          }

          .pros-phone {
            position: absolute;
            bottom: 0;
            right: 15px;
            transform: translateY(calc(50% + 10px));
            padding: 10px;

            span {
              padding-left: 10px;
              font-size: 13pt;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .pagination-container {
      padding: 0 16px;

      .title {
        font-size: 13pt;
      }

      .page-prev,
      .page-next {
        margin: 0 15px;

        i {
          font-size: 16pt;
        }
      }

      .pagination {
        width: 64%;
        overflow: hidden;
        padding: 15px 0;
        font-size: 10pt;
      }

      .page-item {
        padding: 10px 0;

        .page-link {
          padding: 0 8px;
        }
      }
    }
  }

  @media(min-width: 992px) {
    .all-categories {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .head-section {
      height: calc(100vh - 92px);

      .section-container {
        padding-top: 40px;
      }

      .section-title {
        margin-top: 60px;
      }

      .card {
        max-width: 700px;
        height: 210px;
        margin: 35px auto 0;
        padding: 20px 20px 0;

        .card-title {
          margin: 30px 0;
          font-size: 19pt;
        }

        .card-heading {
          font-size: 10pt;

          &:after {
            top: 30px;
          }
        }

        .services-container {
          bottom: -14%;
          left: 50%;
          transform: translate(-50%, 0);
          padding: 0 50px;

          .service-item {
            height: 90px;

            &:before {
              bottom: -3px;
              height: 3px;
            }
          }

          .service-name {
            font-size: 14pt;
          }

          .service-btn {
            font-size: 11pt;
          }
        }
      }

      .why-us {
        flex-wrap: nowrap;
        margin-top: 90px;
        padding: 10px 0;
        background-color: #fff;

        .reason {
          flex-direction: row;
          width: auto;
          padding-right: 20px;
          padding-left: 20px;
          background-color: transparent;
          border-radius: 0;

          &:not(:last-child) {
            border-right: 1px solid $primaryColor;
          }

          h2 {
            font-size: 13pt;
          }

          h3 {
            font-size: 10pt;
          }

          .headings {
            margin: 0 0 0 15px;
            text-align: left;
          }
        }
      }
    }

    .bg-container {
      &:before {
        position: absolute;
        top: 450px;
        left: 0;
        height: 700px;
        background: #ebe2d3 url(../images/landing/bg2.png) no-repeat bottom center;
        background-size: 100%;
      }
    }

    .section-2 {
      padding: 40px 0 20px;

      .section-title {
        font-weight: 400;
      }

      .newsletter-container {
        flex-direction: row;
        height: 76px;
        margin-top: 40px;
        padding: 0;
        background: #fffdfa;

        .super-placeholder {
          //width: 50%;
          height: 100%;
          text-align: left;
        }

        .newsletter-text {
          line-height: 1.5;
          font-size: 11pt;
          font-weight: bold;
        }

        .newsletter-bg {
          width: 82%;

          &:after {
            display: block;
            content: '';
            background-image: linear-gradient(91deg, rgba(255, 255, 255, 0) 21%, #fff 64%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      .form-group {
        flex-direction: row;
        //justify-content: space-between;
        width: 50%;
        height: 100%;
        padding: 10px 10px 10px 0;

        .form-control {
          height: 100%;
          width: 80%;
          padding: 0 10px 0 84px;
          font-size: 11pt;
        }

        .placeholder {
          //position: absolute;
          top: 50%;
          left: 20px;
          transform: translate(0, -50%);
          //width: auto;
          font-size: 12pt;

          span {
            padding-left: 5px;
          }
        }

        .send {
          width: auto;
          height: 100%;
          flex-grow: 1;
          margin-left: 10px;
         }
      }
    }

    .search-pros-inner {
      padding: 30px;

      .search {
        flex-grow: 0;
        width: 340px;
        margin-left: 0;

        .form-group {
          .form-control {
            width: 100%;
            height: 60px;
            padding-right: 50px;
            padding-left: 30px;
            font-size: 11pt;

            &::placeholder {
              font-size: 11pt;
            }
          }
        }
      }

      .logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .pros-card {
        padding: 20px;

        &:not(:first-child) {
          margin-top: 40px;
        }

        .pros-content {
          height: 100%;
          padding: 5px 0 15px;

          .pros-name {
            line-height: 1.5;
            padding-bottom: 10px;
            font-size: 13pt;
          }

          .pros-info {
            padding: 5px 0;

            .text {
              font-size: 12pt;
            }
          }

          .pros-id,
          .pros-location {
            span {
              padding-left: 10px;
              font-size: 12pt;
            }
          }

          .pros-id,
          .pros-name,
          .pros-location {
            padding: 10px 0;
          }

          .job-types {
            margin-top: 10px;

            span {
              margin-right: 10px;
              margin-bottom: 10px;
              padding: 5px;
              font-size: 11pt;
            }
          }

          .pros-phone {
            position: absolute;
            bottom: 0;
            right: 35px;
            transform: translateY(calc(50% + 30px));
            width: 166px;
            padding: 10px;

            span {
              padding-left: 10px;
              font-size: 13pt;
            }
          }
        }
      }

      .activity-areas-title {
        padding: 0 10px;
        font-size: 13pt;
      }

      .activity-area {
        padding: 0 10px;
        margin: 10px 0;
        font-size: 10pt;
        border-right: 2px solid $text-color;
      }
    }

    .pagination-container {
      padding: 0 36px;

      .title {
        font-size: 13pt;
      }

      .page-prev,
      .page-next {
        margin: 0 15px;

        i {
          font-size: 16pt;
        }
      }

      .pagination {
        width: 88%;
        //overflow: hidden;
        padding: 15px 0;
        font-size: 10pt;
      }

      .page-item {
        padding: 10px 0;

        .page-link {
          padding: 0 8px;
        }
      }
    }
  }

  @media(min-width: 1366px) {
    .bg-container {
      &:before {
        position: absolute;
        top: 450px;
        left: 0;
        height: 700px;
      }
    }
  }

  @media(min-width: 1600px) {
    .head-section {
      .why-us {
        margin-top: 150px;
      }
    }

    .bg-container {
      &:before {
        top: 470px;
        height: 770px;
      }
    }

    .section-search-pro {
      .search-pros-inner {
        padding: 50px;
      }

      .pros-list-container {
        .pros-card {
          padding: 32px;
        }
      }

      .pagination-container {
        padding: 0 36px;

        .page-prev,
        .page-next {
          margin: 0 15px;

          i {
            font-size: 16pt;
          }
        }

        .pagination {
          font-size: 13pt;

          .page-item {
            padding: 10px 0;

            .page-link {
              padding: 0 10px;
            }
          }
        }
      }
    }
  }

  @media(min-width: 1920px) {
    .head-section {
      .section-container {
        padding-top: 70px;
      }

      .section-title {
        font-size: 16pt;
      }

      .card {
        max-width: 930px;
        height: 330px;
        padding: 30px 50px 0;

        .card-title {
          margin: 50px 0;
          font-size: 21pt;
        }

        .card-heading {
          font-size: 14pt;

          &:after {
            top: 40px;
          }
        }

        .services-container {
          bottom: -10%;

          .service-item {
            height: 120px;

            &:before {
              bottom: -5px;
              height: 5px;
            }
          }

          .service-icon {
            width: 90px;
            height: 90px;
          }

          .service-name {
            margin-top: 40px;
            font-size: 16pt;
          }

          .service-btn {
            font-size: 12pt;
          }
        }
      }

      .why-us {
        margin-top: 190px;
      }
    }

    .bg-container {
      &:before {
        top: 520px;
      }
    }

    .section-2 {
      padding-top: 90px;
    }


    .section-search-pro {
      .job-types {
        span {
          margin-right: 20px;
        }
      }
    }
  }
}
