@import '../components/form';

.landing-sign-up {
  font-family: $h-font;
  color: $primaryColor;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  h2 {
    font-weight: 300;
  }

  h3 {
    font-weight: 500;
  }
}

.head-section {
  background-position: center 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

img {
  max-width: 100%;
}

.head-section-body {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  button {
    background-color: $primaryColor;
    color: #fff;
    border-radius: 5px;
    font-family: $h-font;
    font-weight: 300;

    &:hover, &:focus {
      background-color: $primaryColor;
      color: #fff;
      border: none;
      outline: none;
    }
  }
}

.quality-cards {
  display: flex;
}

.quality-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  box-shadow: 0 1.5px 15px 0 rgba(88, 80, 119, 0.17);
  background-color: #fff;
  transition-duration: 400ms;

  &:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translate(-50%);
    width: 84%;
    height: 12px;
    background-color: #d8cdba;
  }

  &.scaled-up {
    transform: scale(1.05);
  }

  &:hover {
    transform: scale(1.05);
  }
}

.quality-card-image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.form-container {
  border-radius: 5px;
  box-shadow: 0 1.5px 25px 0 rgba(88, 80, 119, 0.19);
  background-color: #ffffff;

  h5 {
    margin-top: 8px;
    font-weight: normal;
  }
}

.sign-up-form {
  margin-top: 25px;
}

.section-bottom {
  width: 100%;
  font-family: $h-font;
  color: $primaryColor;

  .top-container {
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: -3px;
      width: 19px;
      height: 100%;
      border-top-right-radius: 7.5px;
      border-bottom-right-radius: 7.5px;
      background-color: #d8cdba;
    }
  }

  .bottom-decoration-element {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    border-top: 24px solid;
    border-top-right-radius: 7.5px;
    border-top-left-radius: 7.5px;
    border-color: #d8cdba;
  }

  .top-text {
    width: 100%;
    font-weight: 300;
    line-height: 1.25;
  }

  .bottom-text {
    width: 100%;
    line-height: 1.25;
    font-weight: 300;
  }
}
