.video {
  font-family: $h-font;
  color: $primaryColor;
  box-sizing: border-box;

  .container-lg {
    max-width: 1470px;
  }

  .video-inner {
    padding: 20px 40px 40px;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
  }

  .section-title {
    display: flex;
    align-items: center;
    padding: 0 40px 0 40px;
    color: #d8cdba;

    .decoration-element {
      display: block;
      background-image: linear-gradient(to left, #d8cdba 100%, rgba(216, 205, 186, 0) 0%);
    }
  }

  // categories container
  .categories-container {
    width: 315px;
    height: 100%;
    padding: 20px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .categories-list {

  }

  .categories-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      background-color: transparentize($primaryColor, .5);
    }
  }

  // Section Services
  .services {
    padding: 45px 0 80px;
    background-color: transparentize(#ebe2d3, .37);

    .container-lg {
      padding: 0 100px;
    }
  }
}
