.video {
  font-family: $h-font;
  color: $primaryColor;
  box-sizing: border-box;

  .container-lg {
    max-width: 1470px;
  }

  .video-container {
    width: 100%;
    height: 100%;
    max-width: 950px;

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      max-width: 950px;
      height: 100%;
      background-image: linear-gradient(to top, transparentize(#000000, .5) 99%, rgba(25, 23, 23, 0) -5%);
    }
  }

  .video-inner {
    padding: 20px 40px 40px;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
  }

  .section-title {
    display: flex;
    align-items: center;
    padding: 0 40px 0 40px;
    color: #d8cdba;

    .decoration-element {
      display: block;
      background-image: linear-gradient(to left, #d8cdba 100%, rgba(216, 205, 186, 0) 0%);
    }
  }

  // Section Services
  .services {
    padding: 45px 0 80px;
    background-color: transparentize(#ebe2d3, .37);

    .container-lg {
      padding: 0 100px;
    }
  }
}
