// helpers
@import 'helpers/variables.scss';
@import 'helpers/base.scss';
@import 'helpers/helpers.scss';


.article {
  font-family: $h-font;
  color: $primaryColor;
  box-sizing: border-box;

  h3 {
    margin-top: 24px;
    margin-bottom: .5rem;
    font-weight: 600;
    font-size: 15pt;
  }

  // tools
  .tool-panel {
    span {
      padding: 0 14px;
      cursor: pointer;
      font-weight: 300;
      font-size: 12pt;

      &:not(:last-of-type) {
        border-right: 1px solid #ececec;
      }

      &:first-child {
        .fa-eye {
          padding-right: 14px;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .commercial-h3 {
    font-size: 18pt;
    color: #585077;
  }

  .container-lg {
    max-width: 1470px;
  }

  // article-section
  .article-section {
    margin-top: 46px;
  }

  .article-inner {
    padding: 20px 40px 40px;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: #fff;
  }

  .article-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
    color: #585077;
    font-family: "Raleway", sans-serif;
  }

  .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #585077;
  }

  .author-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
  }

  .author-name {
    font-weight: 600;
  }

  .posted {
    margin-top: 5px;
    font-weight: 300;
  }

  // Content
  .article-content {
    margin-top: 26px;

    h1 {
      font-size: 30pt;
    }

    h2 {
        line-height: 1.33;
        margin: 5px 0 10px;
        font-weight: 500;
    }

    //h3 {
    //  line-height: 1.33;
    //  margin: 5px 0 10px;
    //  font-weight: 500;
    //}
  }

  .big-img {
    width: 100%;
    height: 560px;
    margin: 40px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .floated {
    overflow: auto;

    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }

  .small-img {
    width: 100%;
    max-width: 450px;
    height: 250px;
    margin: 0 0 20px 40px;
    float: right;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    line-height: 1.35;
    margin: 16px 0;
    font-weight: 300;
    font-size: 11pt;
  }

  .likes {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
      padding: 0 10px;
      cursor: pointer;
      font-weight: 300;
      font-size: 12pt;

      .fa-thumbs-up,
      .fa-thumbs-down {
        font-size: 14pt;
      }
    }
  }

  .aside-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .commercials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;

    button {
      margin-left: auto;
      background-color: $primaryColor;
    }

    h3 {
      text-align: center;
      font-size: 24pt;
    }
  }

  .commercial-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    background-color: #ebe9e4;

    .text {
      max-width: 480px;
      font-size: 13pt;
    }

    .number {
      font-size: 13pt;
    }

    span {
      line-height: 1.5;
      color: $primaryColor;
    }

    button {
      width: 240px;
      font-size: 12pt;
    }
  }

  .commercial-3 {
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/images/commercial-3-man.png');
      background-size: contain;
      background-position: top left;
      background-repeat: no-repeat;
    }

    .commercial-content {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      z-index: 200;
      padding: 20px 5px 20px 170px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) -53%, #f7f7f7 67%);
      background-size: cover;
      background-position: top left;
      background-repeat: no-repeat;

      .row {
        width: 100%;
        justify-content: space-between;
      }
    }

    button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 130px;
      height: 110px;
      line-height: 1.25;
      padding: 20px;
      font-size: 18.5pt;
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
      border: 3px solid #ffffff;
      background-color: #585077;
    }

    .h-c {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .f-c {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      label {
        color: #b3b3b3;
        font-size: 11pt;
      }

      input {
        height: 38px;
        border: none;
        border-bottom: 1px solid #585077;
        background-color: transparent;
        color: #c3c3c3;
        font-weight: 300;
        font-size: 11pt;

        &::placeholder {
          color: #c3c3c3;
          font-weight: 300;
          font-size: 11pt;
        }
      }
    }

    .commercial-h2 {
      max-width: 390px;
      line-height: 1.25;
      font-size: 21pt;
    }

    .find-by-zip-code {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .commercial-4,
  .commercial-5,
  .commercial-6,
  .commercial-7 {
    max-width: 290px;
  }

  .commercial-h3 {
    display: block;
    margin-top: 50px;
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 24pt;
    color: #585077;
  }

  .commercial-6 {
    padding: 30px;

    .inner {
      //height: 100%;
      border: 5px solid #585077;
    }

    .content {
      padding: 30px 20px;
    }

    .text {
      padding: 0 20px;
      text-align: center;
      font-size: 16pt;
    }
  }

  .commercial-6,
  .commercial-7 {
    height: 350px;
    background: url('../../assets/images/bg/commercial-6-7-bg.png') no-repeat;
    background-size: contain;

    .inner {
      height: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      max-width: 180px;
      margin-left: 0;
      margin-top: auto;
      color: #fff;
      font-size: 15pt;

      .fa-chevron-right {
        margin-left: 30px;
      }
    }
  }

  .commercial-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    border: 5px solid #585077;

    h3 {
      margin-top: 70px;
    }
  }

  // More
  .more {
    width: 100%;
    max-width: 290px;
    padding: 16px 30px;
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    .commercial-h3 {
      margin-bottom: 16px;
      margin-top: 0;
      text-align: left;
      font-size: 18pt;
    }
  }

  .i-cards-container {
    .i-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      color: #585077;
      cursor: pointer;
    }

    .title {
      margin-top: 16px;
      font-size: 11pt;
    }

    .text {
      margin: 0;
      font-weight: 300;
      font-size: 11pt;
    }
  }

  // stats
  .graphs-container {
    .graph-card {
      height: 308px;
      border-radius: 5px;
      box-shadow: 0 0.5px 4px 0 rgba(20, 46, 110, 0.1);
      background-color: #fff;
    }
  }


  // Aside
  .articles-categories {
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: #fff;
  }

  // EOL: article section

  // Section Cards Section
  .cards-section {
    background-color: #fff;

    .container-lg {
      padding: 80px 0 120px;
    }

    .card-image {
      height: 240px;
    }

    .card-body {
      min-height: 150px;

      .card-title {
        margin-bottom: 20px;
      }
    }
  }

  // Section Services
  .services {
    padding: 45px 0 80px;
    background-color: transparentize(#ebe2d3, .37);

    .container-lg {
      padding: 0 100px;
    }
  }

  button:active,
  button:focus {
    color: #fff;
  }
}
