@import 'helpers/variables';
@import 'helpers/helpers';

.home {
  @media(max-width: 1399px) {
    .section-container {
      max-width: 1200px;
    }

    .head-section {
      .head-section-content {
        height: 350px;
      }
    }
  }

  @media(max-width: 1199px) {
    .section-container {
      max-width: 990px;
    }
  }

  @media(max-width: 991px) {
    .section-container {
      max-width: 90%;
    }

    .find-box {
      left: 50% !important;
      transform: translate(-50%, 50%) !important;
      max-width: 96% !important;
    }

    .card {
      max-width: 100%;
    }

    .video-container {
      .text {
        left: 10px;
        top: auto;
        bottom: 10px;
        padding: 5px 20px 5px 10px;

        .video-title {
          font-size: 15pt;
        }
      }

      &.small-video {
        .fa-play-circle {
          //font-size: 78pt;
        }
      }
    }

    .common-searches {
      padding-bottom: 60px;
    }

    .magazine {
      padding-top: 20px;

      &:before {
        height: calc(100% - 175px);
      }

      .article {
        padding-right: 0;
      }

      .magazine-header {
        width: 100%;
        height: auto;
        margin-top: -200px;
      }

      .magazine-header-text {
        margin-top: 0;
      }

      .tips-container {
        margin-top: 30px;
      }

      .more-tips {
        margin-top: 40px;

        .main-title {
          color: #fff;
        }
      }
    }

    .google-search {
      .super-placeholder {
        img {
          width: auto;
        }
      }

      .search-btn {
        width: 204px;
        padding: .375rem .75rem;
        font-size: 15pt;

        i {
          margin-left: 40px;
        }
      }

      .form-control {
        padding: 0 216px 0 130px;
      }
    }

    .head-section {
      // Head section
      .head-section-content-inner {
        margin-top: 30px;
      }

      // head-section-header
      .head-section-header {
        display: none;
      }
    }
  }

  @media(max-width: 767px) {
    .common-searches {
      padding-top: 4vw;
    }
  }

  @media(max-width: 599px) {
    padding-top: 60px !important;

    .video-container {
      .text {
        .video-title {
          font-size: 14pt;
        }
      }
      
      .fa-play-circle {
        font-size: 52pt;
      }

      &.small-video {
        .fa-play-circle {
          font-size: 52pt;
        }
      }
    }

    .logo {
      display: none;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 50px;
      padding: 0 30px;
      text-align: center;
      font-size: 18pt !important;
    }

    .head-section-content {
      .head-section-content-inner {
        top: 40% !important;
        margin-top: 0;
      }
    }

    .find-box {
      bottom: -3%;
      width: 100%;
      height: auto;

      .super-placeholder-heading {
        padding-left: 10px;
        font-size: 13pt;
      }

      .location {
        display: none !important;
      }

      .magnifier {
        display: block !important;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .super-placeholder {
        top: 23% !important;
        transform: translateY(-50%) !important;
      }

      .find-btn {
        position: static !important;
        height: 48px !important;
        width: 100% !important;
        margin-top: 10px !important;
        font-size: 15pt !important;
      }

      .form-control {
        height: 58px !important;
        padding-right: 10px !important;
        padding-left: 50px !important;

        &::placeholder {
          color: transparent !important;
        }

        &.is-hidden {
          padding-left: 40px !important;

          &::placeholder {
            color: #b3b3b3 !important;
          }
        }
      }

      // ZIP code - when clicking on find pro btn
      &.is-active {
        //top: 6%;
        top: auto;
        bottom: 60%;
        position: fixed;
        z-index: 100;
        height: auto;
        width: 92vw;

        .form-group-mobile-bg {
          width: 100%;
          padding: 20px;
          background-color: transparentize($primaryColor, .3);
          border-radius: 6px;
          border: 1px solid $beige;

          .form-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }

        .location {
          display: block !important;
          width: 16px;
        }

        .magnifier {
          display: none !important;
        }

        .find-btn {
          position: static;
          width: 50%;
          height: 48px;
          margin: 20px auto 0;
          border: 1px solid $beige;
          background-color: $beige;
          color: $primaryColor;
          font-size: 10.5pt;
        }

        .super-placeholder {
          top: 0;
          transform: none;
          height: 48px;
        }
      }
    }

    .common-searches {
      padding-top: 10vw;

      .list-col-item {
        white-space: pre-line;
        text-align: left;
      }
    }

    .categories-home-page {
      padding-top: 28vh !important;
    }

    .magazine {
      padding-top: 32vh;

      .magazine-header {
        margin-top: -400px;
      }
    }

    .card {
      .card-body {
        .card-title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 16pt;
        }

        p {
          color: #585077;
        }
      }
    }
  }

  @media (max-width: 474px) {
    .magazine {
      .article {
        width: 100%;
        overflow: hidden;
      }
    }

    .list-item-with-icon {
      .list-item-icon {
        height: 34px;
      }

      h5 {
        font-size: 10pt;
      }
    }
  }

  @media (max-width: 374px) {
    .magazine {
      padding-top: 310px;

      .magazine-header {
        margin-top: -490px;
      }
    }

    .head-section {
      .head-section-content {
        padding-top: 6vw;

        .head-section-content-inner {
          top: 35% !important;
        }
      }

      .super-placeholder-heading {
        font-size: 11pt;

        img {
          width: 12px;
        }
      }

      .logo {
        width: 160px !important;
      }

      h1 {
        font-size: 15pt !important;
      }
    }
  }

  @media(min-width: 1600px) {
    .head-section {
      .head-section-content {
        height: 360px;
      }

      h1 {
        font-size: 25pt;
      }

      .logo {
        width: 280px;
      }

      .find-btn {
        width: 200px;
      }

      .form-control {
        height: 70px;
        padding-left: 300px;
        padding-right: 210px;
      }
    }
  }
}
