@import 'helpers/variables';
@import 'helpers/helpers';

.home {
  @media(max-width: 599px) {
    .find-box {
      &.is-active {
        position: fixed;
        z-index: 100;
        height: auto;
        width: 92vw;
      }
    }
  }

  @media(max-width: 991px) {
    .card {
      max-width: 100%;
    }

    .magazine {
      .magazine-header-text {
        margin-top: 0;
      }
    }

    .video-container {
      .text {
        left: 10px;
        top: auto;
        bottom: 10px;
        padding: 5px 20px 5px 10px;

        .video-title {
          font-size: 15pt;
        }
      }

      &.small-video {
        .fa-play-circle {
          font-size: 78pt;
        }
      }
    }
  }

  @media(max-width: 1090px) {
  }

  @media(min-width: 300px) {
    .main-title {
      display: block;
      margin-bottom: 40px;
      font-size: 26pt;
      font-family: "Raleway",sans-serif;
      font-weight: 900;
    }

    .head-section {
      .head-section-content {
        height: 80vw;
        padding-top: 10vw;
        background-image: url('../images/header/main-image-m.jpg');
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
      }

      .find-btn {
        width: 100%;
        margin-top: 20px;
        padding: 15px 0;
        background-color: $primaryColor;
        color: #fff;
        font-family: $h-font;
        font-weight: bold;
        font-size: 7.5pt;
      }

      .super-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100%;
      }

      .super-placeholder-heading {
        position: relative;
        display: block;
        line-height: 1.5;
        margin-bottom: 10px;
        font-family: $h-font;
        font-weight: bold;
        font-size: 15.5pt;
        color: #fff;
        text-align: center;

        &.zip-super-placeholder-heading,
        &.main-super-placeholder-heading {
          &.is-hidden {
            display: none !important;
          }

          &.is-active {
            display: block !important;
          }
        }
      }

      .form-control {
        height: 48px;
        padding-right: 10px;
        padding-left: 50px;
        border-radius: 4px;
        box-shadow: 0px 11px 7px 0 rgba(0, 0, 0, 0.02);
        border: solid 2px #d8cdba;
        background-color: #ffffff;
      }

      .form-control,
      .form-control::placeholder {
        font-family: $main-font;
        font-weight: 500;
        font-size: 9.75pt;
        color: #b3b3b3;
      }

      .reasons {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        .reason {
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 50%;
        }

        .reason-icon {
          width: 35px;
        }

        .headings {
          text-align: center;
          margin-top: 10px;
        }
      }
    }

    .common-searches {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .categories {
      padding-top: 40px;
      padding-bottom: 240px;
    }

    .other-categories {
      margin-top: 40px;

      .list {
        padding-top: 50px;
      }

      .section-sub-title {
        font-size: 12pt;
      }
    }

    .view-more-container {
      padding-top: 40px;

      button {
        font-size: 11pt;
      }
    }

    .magazine {
      padding-top: 360px;

      &:before {
        height: calc(100% - 105px);
      }

      .magazine-header {
        margin-top: -550px;

        .magazine-header-text {
          font-size: 12pt;
        }
      }

      .article {
        padding-right: 40px;

        .profile {
          margin-bottom: 30px;
        }

        .profile-image {
          width: 58px;
          height: 58px;
          margin-right: 10px;
        }

        .profile-name {
          margin-bottom: 4px;
          font-size: 10.5pt;
        }

        .profile-origin {
          font-size: 10.5pt;
        }

        .article-content {
          p {
            line-height: 1.75;
            font-size: 13.5pt;
          }
        }
      }

      .more-tips {
        margin-top: 60px;
      }
    }

    .tips-container {
      margin-top: 30px;
    }

    .google-search {
      margin-top: 95px;

      .form-control {
        padding: 0 95px 0 80px;
        font-size: 12pt;

        &::placeholder {
          font-size: 12pt;
        }
      }

      .super-placeholder {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translate(0, -50%);

        img {
          max-width: 100%;
          width: 60px;
        }
      }

      .icon-search {
        position: absolute;
        top: 0;
        right: 70px;
        display: flex;
        align-items: center;
        height: 100%;
        opacity: .5;
      }

      .search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: calc(100% - 8px);
        font-size: 0;

        i {
          font-size: 13pt;
        }
      }
    }

    .questionnaire {
      margin-top: 20px;
      padding-bottom: 30px;

      &:before {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-color: $primaryColor;
      }

      .section-container {
        max-width: 600px;
      }

      .questionnaire-image {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .questionnaire-title {
        padding-left: 5px;
        font-size: 16.5pt;
        font-weight: bold;
        color: $primaryColor;
      }

      .questionnaire-text {
        margin-top: 20px;
        line-height: 1.5;
        font-size: 12pt;
        font-weight: 500;
      }

      .questionnaire-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .questionnaire-content-outer {
        flex-grow: 1;
        flex-direction: column;
        padding-bottom: 10px;
      }

      .questionnaire-content-inner {
        flex-direction: column;
        padding: 10px;
      }

      .questionnaire-content-item {
        position: relative;
        padding: 25px 10px;

        &:not(:last-child) {
          &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            display: block;
            content: '';
            width: calc(100% - 60px);
            border-bottom: 1px solid transparentize(#325181, .8);
          }
        }

        .questionnaire-content-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          margin-right: 30px;
        }

        span {
          margin-top: 10px;
          line-height: 1.5;
          font-size: 12pt;
        }
      }

      .join-us {
        flex-grow: 1;
        width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;

        button {
          width: 100%;
          height: 48px;
          font-size: 13.5pt;
        }
      }
    }
  }
  // EOL: @media(min-width: 300px)

  @media (max-width: 374px) {
    .head-section {
      .head-section-content {
        padding-top: 6vw;
      }

      .super-placeholder-heading {
        font-size: 12.5pt;
      }
    }
  }

  // Only for mobile devices
  @media only screen and (min-width: 300px) and (max-width: 991px) {
    //padding-top: 56px;

    .head-section {
      .head-section-content {
        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-color: transparentize(#181522, .52);
        }

        .head-section-content-inner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 96%;
          //max-width: 400px;
        }
      }

      .join-our-network {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px 15px;
        color: #fff;
        font-family: $h-font;
        font-weight: 300;
        font-size: 12pt;
        background-color: transparentize(#333, .6);

        .join-our-network-inner {
          max-width: 400px;
          width: 100%;
          margin: 0 auto;
          padding: 0 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        i {
          font-size: 14pt;
          margin-left: auto;
        }
      }
    }
  }

  @media(min-width: 600px) {
    .logo {
      width: 100%;
    }

    .head-section {
      .head-section-content-inner {
        position: absolute;
        top: 40% !important;
        left: 50%;
        transform: translate(-50%, -90%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      h1 {
        margin-top: 15px;
        font-family: $main-font;
        font-weight: 500;
        font-size: 21px;
        color: #fff;
      }

      .logo {
        width: 160px;
      }

      .super-placeholder {
        position: absolute;
        top: 0;
        left: 12px;
        width: initial;
        height: 100%;

        img {
          width: 12px;
        }
      }

      .super-placeholder-heading {
        margin-left: 8px;
        margin-bottom: 0;
        color: #352f4a;
        text-align: initial;
        font-size: 10pt;
      }

      .find-box {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        transform: translate(0, 50%);
        max-width: $central-content-width;
        width: 100%;
        margin-top: auto;
        padding: 10px;
        background-color: #f4eee4;
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
      }

      .find-btn {
        top: 1px;
        right: 1px;
        height: calc(100% - 2px);
        width: 100px;
        margin-top: 0;
        font-size: 10.5pt;
      }

      .form-control {
        height: 50px;
        padding-left: 240px;
        padding-right: 100px;
        border-radius: 4px;
        box-shadow: 0px 11px 7px 0 rgba(0, 0, 0, 0.02);
        border: solid 2px #d8cdba;
        background-color: #ffffff;
        font-size: 12pt;

        &.is-hidden {
          padding-left: 160px;
        }
      }

      .form-control::placeholder {
        font-size: 10pt;
      }

      .reasons {
        flex-wrap: nowrap;
        align-items: stretch;
        width: 100%;
        max-width: initial;
        margin: 10px 0 0;
        padding: 0;
        background-color: #f4eee4;
        box-shadow: none;

        .reason {
          flex-wrap: wrap;
          flex-direction: row;
          width: 25%;
          padding: 5px 10px;

          &:not(:first-child):before {
            display: block;
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            transform: translate(50%, 0);
            width: 1px;
            height: 80%;
            background-color: $primaryColor;
          }
        }

        .headings {
          text-align: left;
          margin-top: 0;
          margin-left: 8px;
          padding: 0;
        }

        h2 {
          font-size: 10pt;
        }

        h3 {
          margin: 10px 0 0 0;
          line-height: 1.15;
          font-size: 9pt;
        }

        .reason-icon {
          width: 25px;
          height: auto;
        }
      }
    }

    .categories {
      padding-top: 110px;
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 991px) {
    .head-section {
      .head-section-content {
        height: 50vw;
      }

      .find-box {
        left: 50%;
        transform: translate(-50%, 50%);
        max-width: 96%;
      }

      .super-placeholder-heading {

      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .head-section {
      .head-section-content {
        height: 300px;
        padding-top: 40px;
      }
    }
  }

  @media(min-width: 992px) {
    padding-top: 0;

    .main-title {
      font-size: 30pt;
    }

    .head-section {
      background-image: url('../images/header/main-image.jpg');
      background-position: center 60%;
      background-size: cover;

      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize(#181522, .61);
      }

      .head-section-content {
        height: 290px;
        min-height: inherit;
        margin-top: 0;
        padding-top: 0;
        background: none;
      }

      .head-section-content-inner {
        top: 50% !important;
      }

      h1 {
        font-size: 18pt;
      }

      .logo {
        width: 220px;
      }

      .find-box {
        padding: 15px;
      }

      .form-control {
        height: 60px;
        padding-left: 290px;
        padding-right: 150px;

        &.is-hidden {
          padding-left: 190px;
        }
      }

      .form-control::placeholder {
        font-size: 10pt;
      }

      .find-btn {
        width: 150px;
        font-size: 11.5pt;
      }

      .super-placeholder {
        left: 20px;
      }

      .super-placeholder-heading {
        font-size: 12pt;
      }

      .reasons {
        .reason {
          flex-wrap: nowrap;
          height: 80px;
          padding: 16px;
          margin: 0;

          &:not(:first-child):before {
            top: 0;
            bottom: auto;
            transform: translate(50%, 50%);
            width: 2px;
            height: 40px;
          }
        }

        .reason-icon {
          width: 36px;
        }

        .headings {
          margin-top: 10px;
          padding: 0 10px;

          h2 {
            font-size: 12pt;
          }

          h3 {
            margin-top: 8px;
            line-height: inherit;
            font-size: 10pt;
          }
        }
      }
    }

    .section-title-container-trending-categories {
      padding-bottom: 30px;
    }

    .common-searches {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .categories {
      padding-top: 11vw;
      padding-bottom: 320px;
    }

    .magazine {
      padding-top: 360px;

      &:before {
        height: calc(100% - 175px);
      }

      .magazine-header {
        position: absolute;
        top: 0;
        width: 100%;
        transform: translate(0, -44%);
        margin-top: 0;
      }

      .tips-container {
        margin-top: 0;
      }

      .more-tips {
        margin-top: 40px;

      }
    }

    .other-categories {
      margin-top: 120px;

      .list {
        padding-top: 80px;
      }

      .section-sub-title {
        font-size: 12pt;
      }
    }

    .google-search {
      .super-placeholder {
        img {
          width: auto;
        }
      }

      .search-btn {
        width: 204px;
        padding: .375rem .75rem;
        font-size: 15pt;

        i {
          margin-left: 40px;
        }
      }

      .form-control {
        padding: 0 216px 0 130px;
      }
    }

    .questionnaire {
      margin-top: 86px;
      padding-bottom: 0;

      &:before {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
      }

      .section-container {
        max-width: 100%;
      }

      .questionnaire-image {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .questionnaire-text {
        font-weight: bold;
        font-size: 13.5pt;
      }

      .questionnaire-title {
        margin-top: 12px;
        padding-left: 0;
        font-size: 20pt;
      }

      &:before {
        height: calc(100% - 114px);
      }

      .questionnaire-content {
        flex-grow: 0;
      }

      .questionnaire-content-outer {
        flex-grow: 0;
        flex-direction: row;
        margin-top: 20px;
        margin-left: -30px;
        padding: 6px;
      }

      .questionnaire-content-inner {
        flex-direction: row;
        padding: 20px 10px;
      }

      .questionnaire-content-item {
        padding: 15px;

        &:not(:last-child) {
          border-right: 2px solid #e5e4ea;
          border-bottom: none;

          &::after {
            display: none;
          }
        }

        span {
          font-size: 11.25pt;
        }
      }

      .join-us {
        flex-grow: 0;
        width: auto;
        height: 100%;

        button {
          width: auto;
          height: 130px;
        }
      }
    }
  }
  // EOL: @media(min-width: 992px)

  @media(min-width: 1091px) {
    .small-video {
      .embed-responsive-16by9 {
        .fa-play-circle {
          //font-size: 50pt;
        }
      }
    }
  }

  @media(min-width: 1200px) {
    .head-section {
      .head-section-content {
        height: 350px;
      }

      .head-section-content-inner {

      }

      .form-control {

      }
    }

    .categories {
      padding-top: 9vw;
    }

    .other-categories {
      .list {
        padding-top: 100px;
      }
    }

    .questionnaire {
      .questionnaire-content-inner {
        padding: 20px;
      }

      .questionnaire-content-item {
        padding: 10px 40px;
      }

      .questionnaire-title {
        font-size: 22.5pt;
      }

      .join-us {
        margin-right: 3px;
        margin-top: 3px;
        margin-bottom: 3px;

        button {
          width: 150px;
        }
      }
    }
  }
  // EOL: @media(min-width: 1200px)

  @media(min-width: 1400px) {
    .section-container {
      max-width: 1300px;
    }

    .questionnaire {

      .section-container {
        max-width: 1300px;
      }

      .questionnaire-text {
        margin-top: 30px;
      }

      .questionnaire-content-outer {
        margin-top: 30px;
      }

      .questionnaire-content-inner {

      }

      .questionnaire-content-item {
        padding: 20px 40px;
      }
    }
  }
  // EOL: @media(min-width: 1400px)

  @media(min-width: 1600px) {
    .head-section {
      .head-section-content {
        height: 360px;
      }

      .head-section-content-inner {

      }

      h1 {
        font-size: 25pt;
      }

      .logo {
        width: 280px;
      }

      .find-btn {
        width: 200px;
      }

      .form-control {
        height: 70px;
        padding-left: 300px;
        padding-right: 210px;
      }
    }

    .view-more-container {
      padding-top: 60px;
    }

    .questionnaire {
      margin-top: 106px;

      .questionnaire-title {
        font-size: 22.5pt;
      }
    }
  }
  // EOL: @media(min-width: 1600px)

  @media(min-width: 1920px) {
    .head-section {
      .head-section-content {
        height: 500px;
      }

      .head-section-content-inner {

      }
    }

    .find-btn {
      font-size: 18px;
    }
  }
  // EOL: @media(min-width: 1920px)
}
