@import './video';
@import './helpers/variables';

body.blocked {
  overflow: hidden;
}

// Light Gallery
.lg-backdrop {
  background-color: transparentize(#000, .2) !important;
}

.lg-outer {
  top: 70px;

  .lg-sub-html {
    bottom: auto !important;
    top: 120px !important;
  }

  &.lg-pull-caption-up {
    &.lg-thumb-open {
      .lg-sub-html {
        bottom: auto !important;
        top: 120px !important;
      }
    }
  }

  .lg {
    height: calc(100% - 70px) !important;
  }
}

// Page styles
.index-business {
  font-family: "Helvetica","Arial",sans-serif;

  // Aside
  .aside-col {
    flex-shrink: 0;
    width: 286px;

    .aside-inner {
      position: sticky;
      top: 350px;
    }

    .item {
      padding-top: 10px;
      border-bottom: 1px solid #e7e7e7;

      .item-title {
        font-size: 14pt;
      }

      .item-text {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 12pt;

        span {
          line-height: 1;
        }
      }

      .job-address {
        font-size: 10pt;
      }
    }

    .icon {
      width: 16px;
      margin-right: 20px;
    }

    // Social
    .social {
      justify-content: space-between;
      width: 100%;
      padding: 0 40px 20px;
      border-bottom: 1px solid #e7e7e7;

      .social-item {
        cursor: pointer;
      }
    }

    // Buttons bottom aside
    .buttons {
      width: 100%;

      .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        margin-bottom: 20px;
        padding: 0 20px;
        box-shadow: 0 5px 17.5px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;

        span {
          margin: 0 auto;
          font-size: 15pt;
        }
      }
    }
  }

  // Section top
  .section-top-bg {
    position: sticky;
    top: 20px;
    left: 0;
    z-index: 220;
    width: 100%;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    //background-image: url('../../assets/images/bg/index_business-bg-d.jpg');
    //background-size: 100% 100%;
    //background-repeat: no-repeat;
    //background-position: center;
  }

  .section-top-sticky {
    position: sticky;
    top: 84px;
    left: 0;
    z-index: 301;
    width: 100%;
    margin: -186px auto 0;

    .section-container {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 96%;
        height: 1px;
        background-color: #e8e8e8;
        display: block;
        content: '';
      }
    }

    .image-col {
      width: 286px;

      .image-container {
        img {
          width: 100%;
          height: 100%;
          border: 4px solid #fff;
        }
      }
    }

    .content-block-col {
      padding-left: 0;
      padding-right: 0;
    }

    .content-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      font-family: $main-font;

      .heading {
        padding-top: 10px;
        font-size: 21pt;
        letter-spacing: 1.2px;
      }

      .reviews-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2vh 0;
        color: #d8cdba;

        .rating-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 20px;
        }

        .rate-index {
          font-size: 14pt;
        }

        .reviews {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 14pt;
        }

        .reviews-index {
          margin-right: 10px;
        }

        .divider {
          margin: 0 10px;
        }

        .location {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 14pt;

          img {
            display: block;
            margin-right: 5px;
          }
        }
      }

      .location {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          margin-left: 10px;
        }
      }
    }
  }

  // tabs
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 101%;
    margin-top: auto;
    margin-left: -2px;
    padding-right: 420px;
    padding-top: 23px;
    background-color: #fff;

    .tab {
      padding-bottom: 25px;
      font-weight: 600;
      font-size: 14pt;
      white-space: nowrap;
      cursor: pointer;

      &.active {
        position: relative;

        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          display: block;
          content: '';
          width: calc(100% + 10px);
          height: 6px;
          background-color: #d8cdba;
        }
      }
    }
  }

  // Send message btn
  .send-message {
    position: absolute;
    right: 0;
    top: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 56px;
    padding: 0 2%;
    background-color: #342e49;
    box-shadow: 0 4.5px 20px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;

    img {
      width: 15px;
      margin-right: 10px;
    }

    span {
      font-weight: bold;
      font-size: 13pt;
      color: #fff;
    }
  }

  // Add review

  .add-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    padding: .5rem 1rem;
    border: solid 1px #d8cdba;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 13pt;

    img {
      width: 10px;
    }
  }

  // Content
  .content {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  // Read more
  .read-more {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    cursor: pointer;

    img {
      width: 14px;
      padding-top: 3px;
      margin-left: 5px;
      object-fit: contain;
    }

    span {
      font-size: 13pt;
    }
  }

  // Post info
  .post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .post-text {
    line-height: 1.35;
    font-weight: normal;
    font-size: 11pt;
  }

  .post-date {
    font-size: 13pt;
  }

  // Load-more
  .load-more-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #ebe6dc;
    cursor: pointer;

    span {
      color: #585077;
    }

    img {
      width: 15px;
      margin-left: 10px;
      object-fit: contain;
    }
  }

  // Section about-us
  .about-us {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
      display: block;
      content: '';
    }

    .video-col {
      @media(min-width: 992px) {
        width: 40%;
        max-width: 480px;
      }
    }

    .video-container {
      @media(min-width: 992px) {
        height: 250px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      height: 100%;

      .text-title {
        font-size: 15pt;
      }

      .text-content {
        margin-top: 0;
        font-weight: normal;
        font-size: 12pt;
      }
    }
  }

  // Section our-projects
  .our-projects {
    position: relative;
    padding-bottom: 20px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
      display: block;
      content: '';
    }

    h2.our-projects-data {
      padding: 20px 0;
      font-size: 16pt !important;
    }

    .card-col {
      margin-bottom: 30px;
    }

    .card {
      box-shadow: 0 7px 22.5px 0 rgba(0, 0, 0, 0.1);

      .title {
        font-size: 14pt;
      }

      .info {
        padding: 15px;
      }

      .location {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
        font-size: 12pt;

        .location-icon {
          display: block;
          width: 13px;
          height: 15px;
          background-image: url('../../assets/images/icons/location-dark.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: auto 100%;
          margin-right: 10px;
        }
      }

      .card-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 12pt;

          .chevron {
            display: block;
            width: 10px;
            height: 13px;
            background-image: url('../../assets/images/icons/chevron-right-purple.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto 100%;
            margin-left: 10px;
          }
        }

        .view {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 13pt;
          cursor: pointer;
          border-bottom: 1px solid #342e49;

          i {
            font-size: 10pt;
            color: #585077;
            font-weight: bold;
          }
        }
      }
    }
  }

  // Section our-reviews
  .our-reviews {
    padding-bottom: 20px;

    .reviews-header {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 20px 0;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 103%;
        height: 1px;
        background-color: #e8e8e8;
        display: block;
        content: '';
      }
    }

    h2.our-reviews-data {
      font-size: 16pt !important;
    }

    .add-review-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 46px;
      padding: 0 10px;
      border: 1px solid #d8cdba;
      font-size: 13pt;
      cursor: pointer;

      img {
        width: 15px;
        object-fit: contain;
        margin-left: 10px;
        padding-top: 3px;
      }
    }

    .reviews-container-outer {
      padding: 20px 0;
    }

    .review-item {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 103%;
        height: 1px;
        background-color: #e8e8e8;
        display: block;
        content: '';
      }

      .user-col {
        width: 35%;
      }

      .review-item-details {
        padding-top: 3px;
      }

      .user {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 18px;
          margin-right: 10px;
          object-fit: contain;
        }

        .user-name {
          font-size: 15pt;
          white-space: nowrap;
        }
      }

      .review-item-details-top {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        span {
          font-size: 12pt;
          white-space: nowrap;

          &:not(:last-child) {

            margin-right: 2%;
          }
        }
      }

      .review-item-details-rating {
        display: flex;
        flex-direction: row;
        align-items: center;

        .rating-index {
          margin-left: 10px;
          font-size: 15pt;
        }
      }
    }
  }

  // Rating stars
  .rating {
    display: flex;
    flex-direction: row;
    align-items: center;

    .star {
      width: 20px;
      height: 20px;
      margin-right: 5px;

      img {
        width: 100%;
        height: 100%;

        fill: red;
      }
    }
  }
}

.index-business {
  @media(max-width: 1299px) {
    .our-projects {
      .our-projects-data {
        //font-size: 16pt !important;
      }
    }

    .our-reviews {
      .our-reviews-data {
        //font-size: 16pt !important;
      }
    }
  }

  @media(max-width: 1199px) {
    .section-top-sticky {
      //top: 90px;

      .section-container {
        & > .row {
          flex-wrap: nowrap;
        }
      }

      .content-block {
        padding: 0;

        .heading {
          font-size: 20pt;
        }

        .reviews-container {
          .rate-index {
            font-size: 12pt;
          }

          .reviews {
            font-size: 12pt;
          }
        }
      }
    }

    .about-us {
      .video-container {
        height: unset;
      }
    }

    .our-reviews {
      .review-item {
        .user {
          .user-name {
            font-size: 13pt;
          }
        }

        .review-item-details-top {
          span {
            font-size: 10pt;
          }

          span:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }

    .add-review {
      width: 150px;
      padding: .5rem 0.75rem;
      font-size: 12pt;
    }

    .rating {
      .star {
        width: 16px;
        height: 16px;
      }
    }

    .send-message {
      top: 0;
    }

    .tabs {
      padding-top: 31px;
      padding-right: 22%;

      .tab {
        font-size: 12pt;
        padding-bottom: 20px;
      }
    }

    .aside-col {
      .item {
        span {
          //font-size: 13pt;
        }
      }
    }
  }

  @media(max-width: 1099px) {
    .our-reviews {
      .review-item {
        .review-item-details-top {
          display: none;
        }
      }
    }

    .send-message {
      height: 50px;

      span {
        font-size: 11pt;
      }
    }
  }

  @media(max-width: 991px) {
    .send-message {
      width: 221px;
      position: absolute;
      left: 20px;
      bottom: 3px;
      top: auto;
      right: auto;
      justify-content: center;
    }

    .aside-col {
      width: 260px;

      .aside-inner {
        top: 350px;
      }
    }

    .section-top-bg {
      height: 214px;
    }

    .section-top-sticky {
      top: 77px;
      height: 210px;
      margin-top: -154px;

      .image-col {
        width: 260px;
      }

      .content-block-col {
        .heading {
          //font-size: 21pt;
        }

        .reviews-container {
          .rating-container {
            .star {
              width: 16px;
              height: 16px;
              margin-right: 3px;
            }
          }

          .rate-index,
          .reviews {
            //font-size: 14pt;
          }
        }
      }
    }

    .add-review {
      width: 140px;
      font-size: 11pt;
    }

    .tabs {
      .tab {
        font-size: 14pt;
      }
    }
  }

  @media(max-width: 767px) {
    // Aside
    .aside-col {
      width: 210px;

      .aside-inner {
        top: 330px;
      }

      .item {
        .icon {
          margin-right: 10px;
        }

        span {
          font-size: 11pt;
        }
      }

      .social {
        padding: 0 0 20px;
      }
    }

    .send-message {
      width: 171px;
      height: 45px;
    }

    .content {
      padding-top: 30px;
      padding-bottom: 60px;
    }

    .section-top-bg {
      height: 190px;
    }

    .section-top-sticky {
      top: 91px;
      height: 180px;
      margin: -119px auto 0;

      .section-container {
        &::after {
          display: none;
        }
      }

      .content-block-col {
        .heading {
          font-size: 18pt;
        }

        .reviews-container {
          flex-wrap: wrap;
          margin: 1.5vh 0 1.5vh;

          .rate-index {
            font-size: 11pt;
          }

          .reviews {
            font-size: 11pt;
          }
        }

        .location {
          img {
            width: 15px;
          }
        }
      }

      .image-col {
        width: 210px;
      }
    }

    .add-review {
      width: auto;
      font-size: 11pt;
      border: none;
      box-shadow: none;
      background-color: transparent;
      padding: 0 0 2px 0;
      border-bottom: 1px solid #d8cdba;

      img {
        width: 8px;
        margin-left: 5px;
      }

      span {
        font-weight: bold !important;
      }
    }

    .tabs {
      padding-right: 20px;

      .tab {
        padding-bottom: 10px;
        font-size: 13pt;
        //color: #fff;

        &.active {
          &::after {
            height: 4px;
          }
        }
      }
    }
  }

  @media(max-width: 599px) {
    .section-top-bg {
      height: 320px;
      position: static;
      //background-size: auto 100%;
    }

    .section-top-sticky {
      position: static;
      top: auto;
      left: auto;
      height: 340px;
      margin-top: -297px;
      padding-top: 0;

      .section-container {
        & >.row {
          flex-wrap: wrap;
          flex-direction: column;
        }
      }

      .image-col {
        margin: 0 auto;
      }

      .content-block-col {
        padding: 0 5px 10px;

        .heading {
          margin-top: 15px;
          padding-top: 0;
          font-size: 16pt;
        }
      }

      .content-block {
        .reviews-container {
          margin: 1vh 0;

          .rating-container {
            margin-right: 10px;
            margin-bottom: 7px;
          }
        }
      }
    }

    // Aside
    .aside-col {
      position: static;
      width: 100%;

      .aside-inner {
        position: static;
      }

      .social {
        padding: 0 23% 20px;

        .social-item {
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    .tabs {
      margin-top: 15px;
      padding-top: 30px;
      padding-right: 0;
      background-color: transparent;
    }

    .send-message {
      //bottom: 0;
    }

    .our-projects {
      .card {
        max-width: 100%;
      }

      .our-projects-data {
        font-size: 14pt !important;
      }
    }

    .our-reviews {
      .section-container {
        padding: 0;
      }

      .our-reviews-data {
        font-size: 14pt !important;
      }

      .add-review-btn {
        height: 40px;
        font-size: 12pt;
      }
    }
  }

  @media(max-width: 450px) {
    // Aside
    .aside-col {
      .social {
        padding: 0 20px 20px;
      }
    }

    .tabs {
      .tab {
        font-size: 11pt;
      }
    }

    .section-top-sticky {
      .content-block-col {
        .heading {
          font-size: 14pt !important;
        }
      }
    }
  }

  @media(max-width: 345px) {
    .tabs {
      margin-top: 0;
      padding-top: 20px;
    }

    .section-top-bg {
      height: 330px;
    }

    .section-top-sticky {
      margin-top: -320px;
      .location {
        margin-top: 10px;
      }
    }
  }
}
