@import './video';
@import './helpers/variables';

.index-business {
  font-family: "Raleway","Helvetica","Arial",sans-serif;

  // Aside
  .aside-col {
    position: sticky;
    top: 0;
    flex-shrink: 0;
    width: 286px;

    .side-block {
    }

    .aside-inner { }

    .item {
      padding-top: 10px;
      border-bottom: 1px solid #e7e7e7;

      span {
        font-size: 15pt;
      }
    }

    .icon {
      width: 16px;
      margin-right: 20px;
    }

    // Social
    .social {
      justify-content: space-between;
      width: 100%;
      padding: 0 40px 20px;
      border-bottom: 1px solid #e7e7e7;

      .social-item {
        cursor: pointer;
      }
    }

    // Buttons bottom aside
    .buttons {
      width: 100%;

      .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        margin-bottom: 20px;
        padding: 0 20px;
        box-shadow: 0 5px 17.5px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;

        span {
          margin: 0 auto;
          font-size: 15pt;
        }
      }
    }
  }

  // Content-wrap
  .content-block-col {
    //flex-grow: 1;
    //width: auto;
  }

  // Section top
  .section-top-bg {
    position: sticky;
    top: 20px;
    left: 0;
    z-index: 220;
    //margin-top: -70px;
    width: 100%;
    height: 320px;
    background-image: url('../../assets/images/bg/index_business-bg-d.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section-top-sticky {
    position: sticky;
    top: 80px;
    left: 0;
    z-index: 230;
    width: 100%;
    margin: -180px auto 0;
    //background-color: #fff;

    .section-container {
      position: relative;

      &::after {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 96%;
        height: 1px;
        background-color: #e8e8e8;
        display: block;
        content: '';
      }
    }

    .image-col {
      width: 286px;

      img {
        width: 100%;
        height: 100%;
        border: 4px solid #fff;
      }
    }

    .content-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      padding: 20px 0 0 20px;
      font-family: $main-font;
      //background-color: transparentize(darkolivegreen, .5); //

      .heading {
        font-size: 25pt;
      }

      .reviews-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2vh 0;
        color: #d8cdba;

        .rating-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 20px;
        }

        .rate-index {
          font-size: 16pt;
        }

        .reviews {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 16pt;
        }

        .reviews-index {
          margin-right: 10px;
        }

        .divider {
          margin: 0 10px;
        }

        .add-review {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 160px;
          padding: .5rem 1rem;
          border: solid 1px #d8cdba;
          background-color: rgba(0, 0, 0, 0.25);
          font-size: 13pt;

          img {
            width: 10px;
          }
        }

        .location {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 16pt;

          img {
            display: block;
            margin-right: 5px;
          }
        }
      }

      .location {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          margin-left: 10px;
        }
      }
    }
  }

  // tabs
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 620px;
    margin-top: auto;

    .tab {
      position: relative;
      //margin-right: 10%;
      padding-bottom: 25px;
      font-weight: 900;
      font-size: 18pt;
      white-space: nowrap;
      cursor: pointer;

      &.active {
        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          display: block;
          content: '';
          width: 100%;
          height: 6px;
          background-color: #d8cdba;
        }
      }
    }
  }

  // Send message btn
  .send-message {
    position: absolute;
    right: 0;
    top: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 56px;
    padding: 0 2%;
    background-color: #342e49;
    box-shadow: 0 4.5px 20px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;

    img {
      width: 15px;
      margin-right: 10px;
    }

    span {
      font-weight: bold;
      font-size: 13pt;
      color: #fff;
    }
  }

  // Content
  .content {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  // Read more
  .read-more {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    cursor: pointer;

    img {
      width: 14px;
      padding-top: 3px;
      margin-left: 5px;
      object-fit: contain;
    }

    span {
      font-size: 13pt;
    }
  }

  // Post info
  .post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .post-text {
    line-height: 1.25;
    font-weight: 300;
    font-size: 13pt;
  }

  .post-date {
    font-size: 13pt;
  }

  // Section about-us
  .about-us {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
    background-color: #fff;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
      display: block;
      content: '';
    }

    .video-col {
      @media(min-width: 992px) {
        width: 40%;
        max-width: 480px;
      }
    }

    .video-container {
      @media(min-width: 992px) {
        height: 250px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      height: 100%;

      .text-title {
        font-size: 15pt;
      }

      .text-content {
        margin-top: 0;
        font-size: 13pt;
      }
    }
  }

  // Section our-projects
  .our-projects {
    position: relative;
    padding-bottom: 20px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: 1px;
      background-color: #e8e8e8;
      display: block;
      content: '';
    }

    .our-projects-data {
      padding: 20px 0;
      font-size: 18pt;
    }

    .card-col {
      margin-bottom: 30px;
    }

    .card {
      box-shadow: 0 7px 22.5px 0 rgba(0, 0, 0, 0.1);

      .title {
        font-size: 16pt;
      }

      .info {
        padding: 15px;
      }

      .location {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
        font-size: 13pt;

        img {
          width: 13px;
          margin-right: 10px;
        }
      }

      .card-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 13pt;

          img {
            width: 8px;
            padding-top: 3px;
            margin-left: 10px;
          }
        }

        .view {
          cursor: pointer;
          border-bottom: 1px solid #342e49;
        }
      }
    }

    .load-more-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      background-color: #ebe6dc;
      cursor: pointer;
      
      span {
        color: #585077;
      }

      img {
        width: 15px;
        margin-left: 10px;
        object-fit: contain;
      }
    }
  }

  // Section our-reviews
  .our-reviews {
    padding-bottom: 20px;

    .reviews-header {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 20px 0;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 103%;
        height: 1px;
        background-color: #e8e8e8;
        display: block;
        content: '';
      }
    }

    .our-reviews-data {
      font-size: 18pt;
    }

    .add-review-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 46px;
      padding: 0 10px;
      border: 1px solid #d8cdba;
      font-size: 13pt;

      img {
        width: 15px;
        object-fit: contain;
        margin-left: 10px;
        padding-top: 3px;
      }
    }

    .reviews-container-outer {
      padding: 20px 0;
    }

    .review-item {
      position: relative;
      padding-bottom: 20px;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 103%;
        height: 1px;
        background-color: #e8e8e8;
        display: block;
        content: '';
      }

      .user-col {
        width: 35%;
      }

      .review-item-details {
        padding-top: 3px;
      }

      .review-item-details-col {

      }

      .user {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 18px;
          margin-right: 10px;
          object-fit: contain;
        }

        .user-name {
          font-size: 15pt;
          white-space: nowrap;
        }
      }

      .review-item-details-top {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        span {
          font-size: 12pt;
          white-space: nowrap;

          &:not(:last-child) {

            margin-right: 2%;
          }
        }
      }

      .review-item-details-rating {
        display: flex;
        flex-direction: row;
        align-items: center;

        .rating-index {
          margin-left: 10px;
          font-size: 15pt;
        }
      }
    }
  }

  // Rating stars
  .rating {
    display: flex;
    flex-direction: row;
    align-items: center;

    .star {
      width: 20px;
      height: 20px;
      margin-right: 5px;

      img {
        width: 100%;
        height: 100%;

        fill: red;
      }
    }
  }
}

.index-business {
  @media(max-width: 1899px) {}

  @media(max-width: 1599px) {}

  @media(max-width: 1399px) {}

  @media(max-width: 1199px) {
    .send-message {
      top: 0;
    }

    .tabs {
      .tab {
        font-size: 16pt;
        padding-bottom: 20px;
      }
    }
  }

  @media(max-width: 991px) {
    .aside-col {
      width: 260px;
    }

    .section-top {
      height: 320px;
      margin-top: -60px;

      .section-top-inner {
        transform: translate(0%, 65%);
      }

      .image-col {
        width: 260px;
      }

      .content-block-col {
        .heading {
          font-size: 21pt;
        }

        .reviews-container {
          .rating-container {
            .star {
              width: 16px;
              height: 16px;
              margin-right: 3px;
            }
          }

          .rate-index,
          .reviews {
            font-size: 14pt;
          }

          .add-review {
            width: 140px;
            font-size: 11pt;
          }
        }
      }
    }

    .tabs {
      .tab {
        font-size: 16pt;
      }
    }

    .content {
      transform: translate(0%, 15%);
      padding-bottom: 15%;
    }
  }

  @media(max-width: 767px) {
    .section-top {
      .content-block-col {
        .heading {
          font-size: 18pt;
        }

        .reviews-container {
          flex-wrap: wrap;

          .add-review {
            margin-top: 10px;
          }
        }

        .location {
          img {
            width: 15px;
          }
        }
      }
    }

    .tabs {
      .tab {
        font-size: 14pt;
      }
    }
  }

  @media(max-width: 599px) {}

  @media(max-width: 374px) {}
}
