// helpers
@import 'helpers/variables.scss';

// for all info pages common styles
.info-page {
    width: 100%;
    height: 100%;

    .content-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('./../images/bg/contact-us-bg-d.jpg');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    //.top-bg {
    //    width: 100%;
    //    height: 85px;
    //    background-color: #f7f7f7;
    //}

    .content {
        transform: translate(0, -6%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 900px;
    }

    .text-content {
        font-family: "Raleway",sans-serif;
        transform: translate(0, 11%);
        padding: 2% 7% 6%;
        background-color: #fff;
        border-top: 10px solid #d8cdba;
        border-radius: 5px 5px 5px 5px;

        box-shadow: 0 1.5px 15px 0 rgba(50, 81, 129, 0.2);

        h1 {
            font-weight: 900;
            font-size: 30pt;
            color: #585077;
            text-align: left;
        }

        h2 {
            font-weight: 600;
            font-size: 26pt;
            color: #1a1a1a;
            text-align: center;
        }

        p {
            font-family: 'Lato', 'Helvetica','Arial',sans-serif;
            font-weight: 400;
            font-size: 14pt;
            color: #585858;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 96%;
        margin-top: 2vh;
    }

    .form-group {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2.2rem;
    }

    .error-message {
        position: absolute;
        bottom: -1.3rem;
        padding-left: 5px;
    }

    .form-control {
        width: 48%;
        height: 50px;
    }

    .form-control, textarea, input[type='checkbox'] {
        border-radius: 5px;
        border: solid 1px #c4c4c4;
        background-color: #ffffff;
    }

    textarea {
        display: flex;
        height: 50px;
        padding-top: .75rem;
        resize: none;
        font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
        outline: none;

        &::placeholder {
            font-size: 14pt;
            color: #c4c4c4;
        }
    }

    .form-control, textarea {
        padding-left: .75rem;
        font-size: 13pt;
        color: $pageFooterSecondaryColor;

        &::placeholder {
            font-size: 14pt;
            color: #c4c4c4;
        }
    }

    .form-control, select {
        outline: none;
    }

    select:required:invalid {
        color: #c4c4c4;
    }

    option[value=""][disabled] {
        display: none;
    }

    option {
        font-size: 13pt;
        color: $pageFooterSecondaryColor;
    }

    .custom-control {
        width: 48%;
    }

    .input-label {
        font-size: 11pt;
        color: #848484;
    }

    .request-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 56px;
        border-radius: 5px;
        font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
        font-weight: bold;
        font-size: 15pt;
        color: $pageFooterSecondaryColor;
        background-color: #d8cdba;
        margin: 0 auto;
    }
}

// Contact us
.contact-us {
    .content-wrap {
        background-size: cover;
        background-position: center;
    }

    .content {
        width: 96%;
        max-width: 1000px;
        background-color: #fff;
        border-top: 10px solid #d8cdba;
        border-radius: 5px 5px 5px 5px;

        box-shadow: 0 1.5px 15px 0 rgba(50, 81, 129, 0.2);
    }

    .success {
        & h2 {
            margin: 25px 0;
            font-size: 26pt;
            text-align: center;
        }

        & p {
            font-size: 18pt;
            text-align: center;
        }
    }

    .text-content {
        background-color: transparent;
        border-top: none;
        border-radius: 0;
        box-shadow: none;

        p {
            text-align: center;
        }
    }
}

// Text page (Privacy-policy)
.text-page {
    .content-wrap {
        width: 100%;
        height: auto;
        padding-top: 160px;
        background-color: #f7f7f7;
        background-size: 100% 500px;
        background-position: bottom;
    }

    .content {
        transform: translate(0, -16%);
        padding: 2% 7% 6%;
        width:96%;
        max-width: 1200px;
    }

    .text-content {
        min-height: 460px;

        p {
            margin-top: 20px;
            font-size: 14pt;
        }
    }
}

// About Us page
.about-us {
    .content-wrap {
        //margin-top: 110px;
        padding-bottom: 90px;
        padding-top: 100px;
        background-size: 100%;
    }

    .content {
        width: 96%;
        transform: none;
    }

    .text-content {
        transform: none;
    }
}

// info-page-legal
.info-page-legal {
    .content-wrap {
        width: 100%;
        height: auto;
        padding-top: 40px;
        background: none;
    }

    .content {
        transform: none;
        padding: 2%;
        max-width: 96%;
    }

    .text-content {
        transform: none;

        p {
            margin: 8px;
            font-size: 8pt;
        }
    }
}


// RESPONSIVE
// for all info pages common styles
.info-page {
    @media(max-width: 991px) {
        h2 {
            font-size: 22pt;
        }

        .text-content {
            h1 {
                font-size: 26pt;
            }

            p {
                font-size: 13pt;
            }
        }

        .form-group {
            margin-bottom: 1.25rem;
        }

        .form-control, textarea {
            padding-left: .5rem;
            padding-right: .5rem;
            font-size: 11pt;

            &::placeholder {
                font-size: 11pt;
            }
        }

        .request-btn {
            font-size: 12pt;
        }
    }

    @media(max-width: 599px) {
        .content {
            max-width: 90%;
        }

        .success {
            & h2 {
                font-size: 20pt;
            }

            & p {
                font-size: 13pt;
                padding-bottom: 50px;
            }

            & .image-col {
                width: 100%;
                margin: 0 auto;

                & img{
                    width:30%;
                    margin:0 auto;
                }
            }
        }

        .text-content h2 {
            font-size: 22pt;
        }

        .text-content p {
            font-size: 12pt;
        }

        .form-group {
            flex-direction: column;
            margin-bottom: 0;
        }

        .form-control {
            width: 100%;
            margin-bottom: 1rem;
        }

        .custom-control {
            width: 100%;
            margin: 1rem 0;
        }

        .request-btn {
            width: auto;
            margin: 15px auto;
        }
    }
}

// Contact Us page
.contact-us {
    @media(max-width: 1899px) {}

    @media(max-width: 1599px) {}

    @media(max-width: 1399px) {}

    @media(max-width: 1199px) {}

    @media(max-width: 991px) {}

    @media(max-width: 767px) {}

    @media(max-width: 599px) {}

    @media(max-width: 374px) {}
}

// Text page (Privacy-policy)
.text-page {
    @media(max-width: 767px) {
        .content {
            transform: translate(0, -14%) !important;
        }
    }
}

























