// helpers
@import 'helpers/variables.scss';
@import 'helpers/base.scss';
@import 'helpers/helpers.scss';
@import 'components/video-container';

.magazine {
  font-family: $h-font;
  color: $primaryColor;
  box-sizing: border-box;

  .container-lg {
    max-width: 1470px;
  }

  .page-title-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .page-heading-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .fa-chevron-left {
      margin-right: 10px;
      font-size: 26pt;
    }
  }

  .fa-share-alt {
    font-size: 11pt;
    cursor: pointer;
    //transition: font-size .5s ease;

    //&:hover {
    //  font-size: 15pt;
    //}
  }

  .cards {
    padding-right: 10px;
  }

  .card {
    height: 100%;
    //transition: transform .5s ease;

    .link-mask {
      z-index: 1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .share-link {
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
      background-color: rgba(88,80,119,0.56);
      z-index: 2;
      padding: 10px;
      cursor: pointer;

      .fa-share-alt {
        color: #fff;
      }
    }

    //&:hover {
    //  transform: scale(0.9);
    //}
  }

  h3 {
    color: #585077;
  }

  // tags
  .tags-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

    .tags-container-inner {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 40px;
      padding: 0 16px 0 16px;
      background-color: transparentize(#585077, .44);

      .fa-tag {
        color: #fff;
      }

      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .tag {
      padding: 0 8px;
      color: #fff;
      font-weight: 300;
      font-size: 13.5pt;

      &:not(:last-child) {
        border-right: 1px solid #fff;
      }
    }
  }
  //EOL: tags

  // read more
  .read-more {
    line-height: 1.25;
    padding: 0;
    margin-top: 15px;
    color: #b3b3b3;
    text-decoration: underline;

    .fa-chevron-right {
      color: #b3b3b3;
    }
  }

  // label
  .label {
    display: flex;
    margin-bottom: 20px;

    .h3 {
      display: flex;
      align-items: center;
      height: 46px;
      padding: 0 26px;
      font-size: 19.5pt;
      color: #fff;
      background-color: #d8cdba;
    }
  }

  // image-container, card-info
  .image-container,
  .card-info {
    height: 100%;
    overflow: hidden;
  }
  // EOL: image-container, card-info

  // card-info
  .card-info {
    .fa-share-alt {
      position: absolute;
      top: 4px;
      right: 0;
      color: #585077;
      cursor: pointer;
    }

    .text {
      margin-top: 6px;
      color: #000;
      font-weight: 300;
    }

    .read-more {
      font-size: 15pt;
    }
  }
  // EOL: card-info

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text {
    font-weight: 300;
    color: #000;
  }

  // horizontal-card
  .horizontal-card {
    padding: 26px 20px;

    .row {
      flex-wrap: nowrap;
    }

    .image-container {
      height: 100%;
      max-height: 318px;
    }

    h3 {
      font-size: 22.5pt;
    }

    .card-info {
      .read-more {
        font-size: 16.5pt;
      }
    }

    .text {
      line-height: 1.25;
      font-size: 16.5pt;
    }

    // Horizontal && small
    &.small {
      padding-bottom: 10px !important;
      //box-shadow: 0 2.5px 15px 0 rgba(0, 0, 0, 0.18);
      //padding: 10px;
      //margin-bottom: 10px;

      &:not(:last-child) {
        border-bottom: 2px solid #dcdcdc;
      }

      &:not(:first-child) {
        margin-top: 10px;
      }

      .image-container {
        height: 212px;
      }

      .card-info {
        padding: 10px 10px 0 0;

        .fa-share-alt {
          right: 26px;
        }

        .text {
          line-height: 1.15;
          font-size: 12pt;
        }

        .read-more {
          font-size: 10.5pt;
        }
      }
    }

    // Horisontal && big
    &.big {
      .share-link {
        top: 26px;
        left: 20px;
        right: auto;
        background-color: rgba(88,80,119,0.56);

        .fa-share-alt {
          color: #fff;
        }
      }
    }
  }

  // vertical-card
  .vertical-card {
    padding: 26px 20px;

    .image-container {
      height: 100%;
      max-height: 219px;
    }

    .card-info {
      margin-top: 8px;
    }

    .h2 {
      font-size: 18pt;
    }

    .text {
      line-height: 1.15;
      font-size: 12pt;
    }

    // Vertical && Big
    &.big {
      margin-bottom: 20px;
      background-color: #efefef;

      .text {
        font-size: 11.5pt;
      }

      .image-container {
        height: 100%;
        max-height: 240px;
      }

      .card-info {
        //max-height: 180px;
        padding: 10px 20px 20px;
      }

      .read-more {
        font-size: 11pt;
      }
    }

    // Vertical && Small
    &.small {
      .share-link {
        right: auto;
        left: 20px;
        top: 25px;
        background-color: rgba(88,80,119,0.56);

        .fa-share-alt {
          color: #fff;
        }
      }
    }
  }

  // featured-items
  .featured-items {
    margin-top: 15px;
    padding: 0 20px 26px 20px;
    background-color: #fff;
    box-shadow: 0 3px 30px 0 rgba(216,205,186,0.31);

    .card {
      box-shadow: none;
      padding: 0;
      margin-bottom: 30px;

      &.small {
        .share-link {
          top: 0;
          left: 0;
        }
      }

      .share-link {
        right: auto;
        left: 0;
        background-color: rgba(88,80,119,0.56);

        .fa-share-alt {
          color: #fff;
        }
      }
    }

    .h2 {
      font-size: 16.5pt;
    }

    .fa-share-alt {
      //padding-right: 6px;
    }
  }

  // big-content-block
  .big-content-block {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 0 3px 30px 0 rgba(216,205,186,0.31);
    background-color: #fff;

    .card {
      box-shadow: none;
      padding: 0;
    }
  }

  // trends
  .trends {
    .share-link {
      top: 0;
      right: auto;
      left: 0;
      background-color: rgba(88,80,119,0.56);

      .fa-share-alt {
        color: #fff;
      }
    }
  }

  // videos
  .videos {
    .video-item {
      margin-bottom: 10px;
    }

    .video-item-col {
      width: calc(100% / 2);
    }

    .video-container {
      //margin-bottom: 10px;
      background-color: transparentize(#585077, .61);
    }

    .video-info {
      .text {
        max-height: 47px;
        overflow: hidden;
        padding: 10px 20px 10px 0;
      }
    }
  }

  // cards
  .cards {
    .horizontal-card {

    }
  }
}

