.our-technology {
  // Head section
  .head-section {
    background-color: #3e3755;

    &:before {
      display: none;
    }

    .wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 6%;

      .title {
        p {
          font-weight: 900;
          font-size: 18pt;
          color: #fff;

          &:not(:first-child) {
            margin-top: 10px;
          }

          span {
            font-size: 24pt;
          }
        }
      }

      video {
        &:focus {
          outline: none;
        }
      }
    }
  }

  // Section "our-system"
  .our-system {
    .content-col {
      .text {
        padding-bottom: 30px !important;
      }
    }

    .image-col {
      .image-container {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  // Section "Content wrap"
  .content-wrap {
    .content {
      position: relative;
      z-index: 10;
      margin-top: -60px;
      padding: 0 3% 2%;
      background-color: #fff;
      border-top: 17px solid #d8cdba;
      border-radius: 5px 5px 5px 5px;
      box-shadow: 0 1.5px 15px 0 rgba(50,81,129,0.2);
    }

    h2 {
      font-size: 30pt;
    }

    .text-content {
      margin-top: 20px;

      .text {
        color: #585858;
      }
    }
  }

  // Text (Commonly used)
  .text {
    font-family: 'Helvetica','Arial',sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #3a3451;
  }

  // Section "section-bottom"
  .section-bottom {
    .info-points {
      position: relative;
      padding: 4%;
      border-radius: 15px;
      box-shadow: 0 2px 15px 0 rgba(186, 186, 186, 0.25);
      background-color: #ffffff;
      border-top: none;

      &:after {
        position: absolute;
        left: 50%;
        bottom: -10px;
        transform: translate(-50%, 0);
        display: block;
        content: '';
        height: 10px;
        width: 96%;
        background-color: #d4cbba;
        border-radius: 0 0 50px 50px;
      }
    }

    .section-container > .text {
      margin-top: 50px;
      margin-bottom: 100px;
    }
  }

  // List with bullets
  .list-with-bullets {
    li {
      position: relative;
      line-height: 1;
      margin-bottom: 10px;
      padding-left: 20px;

      &::before {
        position: absolute;
        top: .05em;
        left: -10px;
        display: block;
        content: '';
        width: 12px;
        height: 12px;
        background-color: #bd52af;
        border-radius: 50%;
      }
    }
  }
}

.our-technology {
  @media(max-width: 1299px) {
    // head-section
    .head-section {
      .wrap {
        .title {
          font-size: 20pt;
        }
      }
    }
  }

  @media(max-width: 991px) {
    .head-section {
      .wrap {
        padding-bottom: 12%;

        .image-container {
          width: 120px;
        }
      }
    }

    .our-system {
      .image-col {
        .image-container {
          justify-content: center;

          img {
            width: 80%;
          }
        }
      }

      .content-col {
        .text {
          padding-bottom: 0 !important;
        }
      }
    }
  }

  @media(max-width: 599px) {
    .head-section {
      .wrap {
        padding-bottom: 20%;

        .title {
          p {
            font-size: 16pt;

            &:not(:first-child) {
              margin-top: 5px;
            }

            span {
              font-size: 20pt;
            }
          }
        }

        .image-container {
          width: 120px;
        }
      }
    }

    .text {
      padding: 0 !important;
      font-size: 12pt !important;
    }

    // Our system
    .our-system {
      .decoration-element {
        display: none !important;
      }
    }
  }

  @media(max-width: 374px) {
    .head-section {
      .wrap {
        .title {
          font-size: 16pt;
        }
      }
    }
  }
}
