// helpers
@import 'helpers/variables';
@import 'helpers/base';
@import 'helpers/helpers';
@import 'helpers/colors';


.services-page {
    padding-top: 0 !important;
    font-family: $main-font;
    color: #585077;
    // Page title
    .page-title-inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .page-heading-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }
    // Services
    section.services {
        background: -webkit-linear-gradient(bottom, #fff 0%, rgba(244,238,228,0.5) 50px, rgba(244,238,228,0.8) 40%, rgba(244,238,228, 1) 100%);
        background: -moz-linear-gradient(bottom, #fff 0%, rgba(244,238,228,0.5) 50px, rgba(244,238,228,0.8) 40%, rgba(244,238,228, 1) 100%);
        background: linear-gradient(to bottom, #fff 0%, rgba(244,238,228,0.5) 50px, rgba(244,238,228,0.8) 40%, rgba(244,238,228, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f4eee4', GradientType=0);
       
        .services-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
            grid-gap: 0 20px;
            grid-auto-rows: 10px;
        }

        .services-list-col {
            position: relative;
            flex-grow: unset;
            flex-basis: unset;
            width: auto !important;
            padding: 15px 25px;
            border-radius: 20px;
            box-shadow: 0 7.5px 27.5px 0 rgba(0, 0, 0, 0.1);
            background-color: #fff;

            &::after {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                left: -3px;
                transform: translate(0, -50%);
                width: 6px;
                height: 90%;
                background-color: #585077;
                border-radius: 50px 0 0 50px;
            }
        }
    }
    // Top section
    .top-section {
        padding-top: 50px;

        .section-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0 10%;
        }

        .uppercase-title {
            font-family: $h-font;
            font-weight: bold;
            font-size: 30pt;
            color: #342e49;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

// Responsive
main.services-page {
    @media(max-width: 1199px) {
        // Services
        section.services {
            .services-list {
                grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
            }
        }
    }

    @media(max-width: 991px) {
        // Services
        section.services {
            .services-list {
                grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
                grid-gap: 0 15px;
                padding: 0;
            }
        }
        // Top section
        .top-section {
            .section-inner {
                padding: 0;
            }

            .uppercase-title {
                font-size: 26pt;
            }
        }
    }

    @media(max-width: 767px) {
        // Services
        section.services {
            .section-container {
                max-width: 96%;
            }

            .services-list {
                grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
                grid-gap: 0 10px;
            }
        }
        // Top section
        .top-section {
            .uppercase-title {
                font-size: 24pt;
            }
        }
    }

    @media(max-width: 599px) {
        // Page title
        .page-title-inner {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        // Top section
        .top-section {
            padding-top: 10px;

            .uppercase-title {
                white-space: nowrap;
                font-size: 15pt;
                letter-spacing: .05px;
            }
        }
        // Services
        section.services {
            .services-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;

                .services-list-col {
                    width: 100% !important;
                    margin-bottom: 20px !important;
                }
            }
        }
        // Questionnaire
        .questionnaire {
            margin-top: 0;
        }
    }
}