// helpers
@import 'helpers/variables';
@import 'helpers/base';
@import 'helpers/helpers';
@import 'helpers/colors';


.services-page {
  padding-top: 0 !important;
  font-family: "Raleway","Helvetica","Arial",sans-serif;
  color: #585077;

  // Page title
  .page-title-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .page-heading-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }


  // Services
  section.services {
    .services-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
      grid-gap: 0 20px;
      grid-auto-rows: 10px;
    }

    .services-list-col {
      flex-grow: unset;
      flex-basis: unset;
      width: auto !important;
      padding: 15px;
      background-color:rgba(255,255,255, 0.5);
      border:solid 1px #585077;
      border-radius:10px;
    }
  }
}

// Responsive
main.services-page {
  @media(max-width: 1199px) {
    // Services
    section.services {
      .services-list {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      }
    }
  }

  @media(max-width: 991px) {
    // Services
    section.services {
      .services-list {
        grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
        grid-gap: 0 15px;
        padding: 0;
      }
    }
  }

  @media(max-width: 767px) {
    // Services
    section.services {
      .section-container {
        max-width: 96%;
      }

      .services-list {
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
        grid-gap: 0 10px;
      }
    }
  }

  @media(max-width: 599px) {
    // Page title
    .page-title-inner {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    // Services
    section.services {
      .services-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .services-list-col {
          width: 100% !important;
          margin-bottom: 20px !important;
        }
      }
    }

    // Questionnaire
    .questionnaire {
      margin-top: 0;
    }
  }
}
