@import 'helpers/variables';
@import 'helpers/helpers';


.video {
  @media(max-width: 1899px) {

  }

  @media(max-width: 1599px) {
    .container-lg {
      max-width: 1340px;
    }
  }

  @media(max-width: 1399px) {
    .container-lg {
      max-width: 1280px;
    }
  }

  @media(max-width: 1365px) {
    .container-lg {
      max-width: 1140px;
    }
  }

  @media(max-width: 1199px) {
    .tool-panel {
      span {
        font-size: 10pt;
      }

      .fa-thumbs-up {
        margin-left: 6px;
      }
    }

  }

  @media(max-width: 991px) {
    padding-top: 50px;

    .services {
      .container-lg {
        width: 100%;
        max-width: initial;
        padding: 0 15px;
      }
    }

    .tool-panel {
      span:first-child {
        padding-left: 0;
      }

      .seen {
        font-size: 11pt;
      }
    }

    .content-container {
      .card {
        flex-direction: column;
        max-width: 96%;
        margin: 0 auto;
      }

      .card-col {
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    .categories-container-col {
      max-width: 100%;
    }

    .categories-container {
      max-width: 100%;
    }

    .most-popular {
      .video-items-container {
        padding: 20px 50px 0 !important;
      }
    }

    .most-popular,
    .featured-video {
      .video-container {
        &.small-video {
          .embed-responsive-16by9 {
            .fa-play-circle {
              font-size: 50pt;
            }
          }
        }

        &.small-video:hover {
          .fa-play-circle {
            font-size: 65pt;
          }
        }
      }
    }
  }

  @media(max-width: 767px) {
    .tool-panel {
      margin: 10px 0 0 auto !important;

      span {
        padding: 0 10px;
        font-size: 10pt !important;
        border-right: none !important;
      }
    }

    .h3 {
      margin-top: 0;
    }

    .container-lg {
      width: 100%;
      max-width: initial;
      padding: 0 15px;
    }

    .featured-video {
      .video {
        .video-items-container {
          padding: 0 10px;
        }
      }

      .categories-container {
        max-width: 100% !important;
      }

      .video-item-col {
        width: 100% !important;
        //max-width: 315px;
        margin: 0 auto;
      }
    }
  }

  @media(max-width: 599px) {
    padding-top: 50px !important;

    .tool-panel {
      .fa-eye {
        padding-right: 8px !important;
      }
    }

    .categories-container-col {
      max-width: 315px !important;
    }

    .categories-container {
      max-width: 315px !important;
    }

    .content-container {
      .card {
        padding: 15px !important;
      }
    }

    .most-popular {
      .video-items-container {
        padding: 20px 20px 0 !important;

        .video-item-col {
          width: 100% !important;
        }
      }

    }
  }
}
