@import 'helpers/variables';
@import 'helpers/helpers';

.video {
  @media(max-width: 1599px) {
      .container-lg {
          max-width: 1340px;
      }

      .video-list-with-cat {
          .video-items-col {
              .video-item-col {
                  max-width: 315px;
              }
          }

          .categories-container-col {
              width: 315px;
          }
      }
  }

  @media(max-width: 1399px) {
      .container-lg {
          max-width: 1280px;
      }

      .video-list-with-cat {
          .video-item-col {
              max-width: 300px;
          }

          .categories-container-col {
              width: 300px;
          }
      }
  }

  @media(max-width: 1365px) {
      .container-lg {
          max-width: 1140px;
      }

      .video-list-with-cat {
          .video-item-col {
              max-width: 265px !important;
              ;
          }

          .categories-container-col {
              width: 265px !important;
          }
      }
  }

  @media(max-width: 1199px) {
    .tool-panel {
      span {
        font-size: 10pt;
      }

      .fa-thumbs-up {
        margin-left: 6px;
      }
    }

    .video-items-container {
      padding: 0 15px;
    }

        .video-list {
            // Video settings and layers
            .video-container {
                &.small-video {
                    .embed-responsive-16by9 {
                        .fa-play-circle {
                            font-size: 70pt;
                        }
                    }
                }
            }

            .video-item-col {
                width: 50% !important;
            }
        }

        .video-list-with-cat {

            .video-container {
                &.small-video {
                    .embed-responsive-16by9 {
                        .fa-play-circle {
                            font-size: 70pt;
                        }
                    }
                }
            }


            .video-item-col {
                max-width: 240px !important;
            }
        }
    }

  @media(max-width: 991px) {
    padding-top: 50px;

    .tool-panel {
      span:first-child {
        padding-left: 0;
      }

      .seen {
        font-size: 11pt;
      }
    }

    .content-container {
      .card {
        flex-direction: column;
        max-width: 96%;
        height: auto;
        margin: 0 auto;
      }

      .card-col {
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    .categories-container-col {
      max-width: 90%;
    }

    .categories-container {
      max-width: 100%;
    }

    .categories-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .categories-item {
        width: 50%;
      }
    }

        .video-list-with-cat {
            .video-list-with-cat-inner {
                .categories-container-col {
                    order: 1;
                    max-width: 90%;
                    margin-top: 20px;
                }

        .section-title-col {
          order: 2;
          max-width: 90% !important;

          .section-title {
            padding: 0;
          }
        }

        .video-items-col {
          order: 3;
          max-width: 90%;
        }

        .video-item-col {
          width: 50%;
          max-width: 50% !important;
        }
      }

      .video-items-container {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 !important;
      }
    }

        .video-list-with-cat,
        .video-list {
            .video-container {
                &.small-video {
                    .embed-responsive-16by9 {
                        .fa-play-circle {
                            font-size: 60pt;
                        }
                    }
                }

        &.small-video:hover {
          .fa-play-circle {
            font-size: 65pt;
          }
        }
      }
    }
  }

  @media(max-width: 767px) {
    .tool-panel {
      margin: 10px 0 0 auto !important;

      span {
        padding: 0 10px;
        font-size: 10pt !important;
        border-right: none !important;
      }
    }

    .h3 {
      margin-top: 0;
    }

    .container-lg {
      width: 100%;
      max-width: initial;
      padding: 0 15px;
    }

        .video-list {
            .video {
                .video-items-container {
                    padding: 0 10px;
                }
            }

      .categories-container {
        max-width: 100% !important;
      }
    }
  }

  @media(max-width: 599px) {
    padding-top: 50px !important;

    .video-item {
      .sub-title {
        font-size: 16pt;
      }

      .title {
        font-size: 16pt;
      }
    }

    .text {
      font-size: 12pt;
    }

    .tool-panel {
      .fa-eye {
        padding-right: 8px !important;
      }
    }

    .categories-container-col {
      max-width: 90%;
    }

    .categories-list {
      flex-wrap: nowrap;
      flex-direction: column;

      .categories-item {
        width: 100%;
      }
    }

    .content-container {
      .card {
        padding: 15px !important;
      }
    }

        .video-list {
            .video-items-container {
                padding: 0 15px;

                .video-item-col {
                    width: 90% !important;
                    max-width: 90% !important;
                    margin: 0 auto;
                    padding: 0;
                }
            }
        }

    .most-popular {
      .video-items-container {
        padding: 0 15px;

        .video-item-col {
          width: 90% !important;
          max-width: 90% !important;
          margin: 0 auto;
          padding: 0;
        }
      }
    }
  }
}
