.card {
  @media(min-width: 300px) {
    max-width: 400px;

    .cards-container {
      margin-top: 40px;
    }

    .card-image {
      height: 210px;
    }

    .card-body {
      min-height: 120px;
      padding: 10px;

      .card-title {
        margin-bottom: 8px;
        font-size: 22pt;
      }

      .description {
        font-size: 13pt;
      }
    }

    .card-footer {
      height: 10px;
    }
  }
  // EOL: @media(min-width: 300px)

  @media(min-width: 600px) {
    max-width: 450px;

    .card-body {
      padding: 20px 20px 16px;
    }
  }
  // EOL: @media(min-width: 600px)

  @media(min-width: 992px) {
    max-width: 100%;
  }
  // EOL: @media(min-width: 992px)

  @media(min-width: 1400px) {

  }
  // EOL: @media(min-width: 1400px)


  @media(min-width: 1600px) {
    .card-footer {
      height: 12px;
    }
  }
  // EOL: @media(min-width: 1600px)
}
