// Categories
.categories {
  font-family: $main-font;
  font-weight: 400;
  background: url("../images/bg/bg__categories_d.png") no-repeat center bottom / auto;
}

.categories-container {
  width: 100%;
  max-width: 315px;
  height: 100%;
  padding: 20px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .title {
    display: block;
    margin-bottom: 20px;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 16pt;
    color: #585077;
  }
}

.categories-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    background-color: transparentize($primaryColor, .5);
  }
}



@media(min-width: 300px) {
  .categories {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media(min-width: 992px) {
  .categories {
    padding-top: 60px;
    padding-bottom: 60px;

    .list {
      .col-item {
        position: relative;
      }

      .col-item:not(:last-child) {
        &:after {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          display: block;
          content: '';
          width: 2px;
          height: 86px;
          background-color: #d6dce6;
        }

      }

      .list-item-with-icon {
        position: relative;
        margin-bottom: 0;
      }
    }
  }
}
