// featured-items
.featured-items {
  margin-top: 15px;
  padding: 15px 20px 26px 20px;
  background-color: #fff;
  box-shadow: 0 3px 30px 0 rgba(216,205,186,0.31);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .label {
    display: flex;
    margin-bottom: 20px;

    .h3 {
      display: flex;
      align-items: center;
      height: 46px;
      margin-top: 15px;
      padding: 0 26px;
      font-size: 19.5pt;
      color: #fff !important;
      background-color: #d8cdba;
    }
  }

  .vertical-card {
    padding: 20px 20px;

    .image-container {
      height: 100%;
      max-height: 220px;
    }

    .text {
      line-height: 1.15;
      font-size: 12pt;
    }

    .card-info {
      margin-top: 0px;
      padding: 0 5px;

      .text {
        margin-top: 6px;
      }
    }

    &.small {
      .text {
        color: #585077;
        font-size: 13pt;
        font-weight: 600;
        line-height: 1.3;
      }
    }
  }

  .card {
    max-width: 100% !important;
    height: 100%;
    box-shadow: none;
    padding: 0;

    &.small {
      .share-link {
        top: 0;
        left: 0;
      }
    }

    .share-link {
      right: auto;
      left: 0;
      background-color: rgba(88,80,119,0.56);

      .fa-share-alt {
        color: #fff;
      }
    }
  }

  .image-container {
    height: 100%;
    overflow: hidden;
    border: solid 1px rgba(216,205,186,0.31);
  }

  .card-info {
    height: 100%;
    overflow: hidden;
  }

  .h2 {
    font-size: 16.5pt;
  }

  .tags-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

    .tags-container-inner {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 40px;
      padding: 0 16px 0 16px;
      background-color: rgba(88,80,119,0.56);

      .fa-tag {
        color: #fff;
      }

      .tags-inner {
        display: flex;
        flex-direction: row;
        align-items: center;

        .tag {
          padding: 0 8px;
          color: #fff;
          font-weight: 300;
          font-size: 13.5pt;
        }
      }
    }
  }
}

// Responsive


.featured-items {

  @media (max-width: 1399px) {
    .tags-container {
      .tag {
        font-size: 10.5pt !important;
      }
    }
  }

  @media(max-width: 991px) {
    .vertical-card {
      &.small {
        width: 100%;
        max-width: 100%;
        margin: 10px auto 20px;
        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: 599px) {
    padding: 15px 15px 15px 15px;
    margin-top: 30px;
  }
}
