.page-footer {
    padding-top: 20px;
    color: $text-color-999;
    background-color: $pageFooterPrimaryColor;
    font-family: $main-font;

    .footer-container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    // Left
    .content-column-left {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 30px;

        &::after {
            position: absolute;
            top: 60%;
            right: 10px;
            transform: translate(0, -50%);
            display: block;
            content: '';
            width: 1px;
            height: 85%;
            background-color: #edecef;
        }
    }
    // Center
    .content-column-center {
        padding-top: 60px;
    }

    .news-letter-wrap {
        .image-container {
            width: 35px;
        }
    }
    // Right
    .content-column-right {
        .content {
            padding-top: 30px;
        }
    }

    .page-footer-link {
        display: block;
        width: auto;
        margin-right: 20px;
        text-align: left;
        font-size: 9pt;
        color: #ccc;
    }

    .page-footer-main {
        max-width: 1300px;
        padding-bottom: 40px;
        margin: 0 auto;
    }

    .brand-logo {
        align-self: flex-start;
        width: 145px;
    }

    .logo-pros-container {
        width: 100%;
        height: 40px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .more-information-container {
        margin-top: 20px;

        .more-info {
            a {
                text-transform: uppercase;
                text-decoration: underline;
            }

            .page-footer-link {
                color: #d8cdba;
            }
        }

        .top-services {
            //width: 37%;
        }
    }

    .footer-h4 {
        display: block;
        font-family: $h-font;
        font-size: 12pt;
        color: #fff;
        white-space: nowrap;
    }

    p {
        font-weight: 400;
        font-size: 12pt;
        color: #ccc;
    }

    span {
        font-weight: 400;
        font-size: 12pt;
    }

    .pros-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        max-height: 390px;
        padding: 30px 40px;
        background-color: #312c43;
        border-radius: 5px;
    }

    .join-us-button {
        width: 220px;
        height: 40px;
        border-radius: 5px;

        button {
            width: 100%;
            height: 100%;
            line-height: .75;
            color: #fff;
            font-family: $main-font;
            font-size: 15pt;
            font-weight: 400;
            border-radius: 5px;
            border: solid 0.5px #ffffff;
        }
    }
}

.post-stats {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-stats-item {
  margin-left: 30px;
}

.page-footer-footer {
  width: 100%;
  height: 68px;
  background-color: $pageFooterSecondaryColor;

  .footer-container {
    //max-width: 1460px;
    height: 100%;
    //margin-right: 80px;
    //margin-left: auto;
  }

  .page-footer-main {
    padding-bottom: 0;
  }

  .row {
    height: 100%;
  }

  .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 100%;

    a {
      display: block;
      width: 28px;
      height: 28px;
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
      }
    }
  }
}

// Subscribe
.page-footer-subscribe-box {
    width: 340px;
    margin-top: 25px;
    //width: 270px;
    //max-width: 100%;
    //margin: 40px 0 0;
    .form-group {
        .form-control {
            width: 100%;
            height: 50px;
            padding-left: 60px;
            padding-right: 10px;
            background-color: #15131d;
            color: #000;
            font-family: $main-font;
            font-weight: 400;
            font-size: 10pt;
            border: none !important;

            &::-webkit-input-placeholder {
                color: #000;
                font-size: 10pt;
            }

            &::-moz-placeholder {
                color: #000;
                font-size: 10pt;
            }

            &:-ms-input-placeholder {
                color: #000;
                font-size: 10pt;
            }

            &:-moz-placeholder {
                color: #000;
                font-size: 10pt;
            }

            &.email {
                padding-right: 100px;
                background-color: #d8cdba;
            }
        }

        .fa-envelope,
        .fa-user {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(0, -50%);
            font-size: 18pt;
            color: #585077 !important;
        }

        .btn-subscribe {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translate(0, -50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            //width: 120px;
            width: auto;
            height: 35px;
            border-radius: 1px;
            background-color: #585077;
            color: #FFF;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 8pt;
        }
    }

    .error-message {
        font-size: 10pt;
    }
}

// Spinner
@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.spinner-border {
  //position: absolute;
  //right: .5vw;
  //top: 15%;
  display: block;
  margin-left: 10px;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
  border: .25em solid #585077;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1.25rem;
  height: 1.25rem;
  border-width: .1em;
}

