.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    display: flex;
    align-items: center;
    width: 100%;
    height: $page-header-height-d;
    background-color: #585077;
    font-family: $main-font;

    &.is-hidden-on-home {
        .header-zip-code {
            display: none !important;
        }
    }

    .header-search-input-cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 38px;
        background-color: transparent;
        display: none;
    }

    @media (min-width: 992px) {

        &.is-hidden-on-home {
            $animation-duration: 400ms;

            transform: translate(0, -100%);

            &.show-on-home {
                @keyframes show {
                    0% {
                        transform: translate(0, -100%);
                    }

                    100% {
                        transform: translate(0, 0%);
                    }
                }

                animation-name: show;
                animation-duration: $animation-duration;
                animation-timing-function: ease;
                animation-delay: 0s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;
            }

            &.hide-on-home {
                @keyframes hide-search {
                    0% {
                        transform: translate(0, 0%);
                    }

                    100% {
                        transform: translate(0, -100%);
                    }
                }

                animation-name: hide-search;
                animation-duration: $animation-duration;
                animation-timing-function: ease;
                animation-delay: 0ms;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;
            }
        }
    }

    .btn-open-menu,
    .btn-search {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        cursor: pointer;
    }

    .btn-open-menu {
        margin-right: 5px;
    }

    .btn-search {
        display: none;
        margin-left: auto;

        img {
            width: 19px;
            height: 19px;
            margin: 0 auto;
        }
    }

    .btn-close-menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparentize(#000, .5);
    }

    .dropdown-menu-container {
        margin-right: auto;
    }

    .dropdown-menu-header {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $page-header-height-m;
        padding: 0 15px;
        background-color: $primaryColor;
    }

    .dropdown-menu-header-logo {
        width: 120px;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }



    .menu-icon:hover .dropdown-menu-container {
        display: block;
        position: fixed;
        top: $page-header-height-d;
        left: 0;
        background-color: #fff;
    }

    .logo {
        width: 120px;
        margin-top: 6px;
    }

    .search {
        .when-input-empty {
            display: none;
        }

        .return-button-header {
            display: none;
        }
    }

    .form-group {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 530px;
        height: calc(#{$page-header-height-d} - 20px);
        margin-left: 35px;
        border-radius: 5px;
        box-shadow: 0px 5.5px 3.5px 0 rgba(0, 0, 0, 0.02);
        background-color: #ffffff;

        .form-control {
            width: 100%;
            height: 100%;
            padding: 0 calc(#{$page-header-find-pro-btn} + 15px) 0 60px;
            border: none;
            font-size: 12pt;
            color: #352f4a;

            &::placeholder {
                font-size: 11pt;
                color: #352f4a;
            }

            &:focus {
                &::placeholder {
                    color: #b3b3b3;
                }
            }
        }

        .find-btn {
            position: absolute;
            right: 4px;
            top: 4px;
            width: 140px;
            height: calc(100% - 8px);
            padding: 0 6px;
            font-size: 11pt;
            color: #fff;
            background-color: #585077;
        }

        .super-placeholder {
            position: absolute;
            left: 28px;
            top: 50%;
            transform: translateY(-50%);

            img {
                width: 16px;
            }
        }
    }

    .header-content {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        margin-left: 20px;

        li {
            &:not(:last-child) {
                border-right: 1px solid #fff;
            }

            &.is-active {
                /* Place styles here for menu item active state */
                a {
                    /* font color change here */
                    color: #d8cdba;

                    &::after {
                        display: block;
                        content: '';
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background-color: #d8cdba;
                    }
                }
            }
        }

        a {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 10px;
            font-weight: 500;
            font-size: 12pt;
            color: #fff;

            &:hover {
                color: #d8cdba;

                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: #d8cdba;
                }
            }
        }

        span {
            color: #d8cdba;
            margin-right:4px;
        }

        .menu-item-icon {
            display: block;
            width: 30px;
            height: 20px;
        }
    }
}

.header {
    @media(max-width: 1599px) {
        .form-group {
            width: 480px;
            margin-left: 15px;

            .form-control {
                padding: 0 #{$page-header-find-pro-btn-1600 + 15px} 0 40px;
                border: none;
            }

            .find-btn {
                width: $page-header-find-pro-btn-1600;
                font-size: 9pt;
            }

            .super-placeholder {
                left: 18px;

                img {
                    width: 12px;
                }
            }
        }
    }

    @media(max-width: 1399px) {
        .form-group {
            width: 360px;
            margin-left: 10px;

            .form-control {
                padding-right: calc(#{$page-header-find-pro-btn-1200} + 15px);
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;


                &::placeholder {
                    font-size: 9pt;
                }
            }

            .find-btn {
                width: $page-header-find-pro-btn-1200;
                font-size: 8pt;
            }

            .super-placeholder {
                left: 16px;

                img {
                    width: 10px;
                }
            }
        }
    }

    @media(max-width: 1199px) {
        .header-content {
            justify-content: flex-end;
        }

        .logo {
            margin-right: 20px;
        }

        .menu-icon {
            display: block;
            width: 20px;
            height: 20px;
        }

        .dropdown-menu {
            display: flex;
        }

        .navbar {
            align-items: flex-start;
            margin-left: 0 !important;

            a {
                font-size: 11pt !important;

                &:hover {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        .form-group {
            width: 280px;

            .super-placeholder {
                left: 10px;
            }

            .form-control {
                padding-left: 30px;
                padding-right: calc(#{$page-header-find-pro-btn-992} + 15px);
            }

            .find-btn {
                width: $page-header-find-pro-btn-992;
                font-size: 8.5pt;
            }
        }
    }

    @media(max-width: 991px) {
        display: block;
        height: $page-header-height-m;
        padding-right: 10px;

        .header-content {
            flex-wrap: wrap;
        }

        .btn-open-menu,
        .btn-search {
            height: $page-header-height-m;
        }

        .btn-open-menu,
        .btn-search {
            width: 50px;
        }

        .search {
            margin-left: auto;
        }

        .form-group {
            flex-grow: 1;
            max-width: 600px;
            width: 53vw;
            height: 36px;
            margin-left: 0;

            .form-control {
                padding-left: 40px;
            }

            .find-btn {
                width: 80px;
            }

            .super-placeholder {
                left: 16px;
            }
        }

        .dropdown-menu-container {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9000;
            display: none;
        }

        .dropdown-menu {
            position: relative;
            z-index: 1;
            transform: translateX(-100%);
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            width: 80%;
            max-width: 320px;
            height: 100%;
            background-color: #fff;
        }

        .dropdown-menu-inner {
            display: flex;
            flex-direction: column;
            height: 100vh;
            overflow: auto;
            padding: 0 0 20px;
        }

        .navbar {
            flex-grow: 1;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: stretch;
            height: auto;
            margin-top: 25px;
            padding: 0 10px 30px;

            li {
                border-right: 0 !important;

                &.is-active {
                    a {
                        &::after {
                            display: none !important;
                        }
                    }
                }
            }

            a {
                padding: 14px 0;
                font-size: 12pt;
                color: $primaryColor;
                border-bottom: 1px solid transparentize(#000, .84);

                &.no-border-bottom {
                    border-bottom: none;
                }
            }

            span {
                color: #887963;
            }


            .menu-item-icon {
                margin: 0 15px;
            }
        }

        .dropdown-menu-container {
            $dropdown-menu-animation-duration: 600ms;
            $btn-close-menu-animation-duration: 300ms;

            &.show {
                display: block;

                .btn-close-menu {
                    @keyframes show-btn-close-menu {
                        0% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 1;
                        }
                    }

                    animation-name: show-btn-close-menu;
                    animation-duration: $btn-close-menu-animation-duration;
                    animation-timing-function: ease;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    animation-direction: normal;
                    animation-fill-mode: forwards;
                    animation-play-state: running;
                }

                .dropdown-menu {
                    @keyframes show-dropdown-menu {
                        0% {
                            transform: translateX(-100%);
                        }

                        100% {
                            transform: translateX(0%);
                        }
                    }

                    animation-name: show-dropdown-menu;
                    animation-duration: $dropdown-menu-animation-duration;
                    animation-timing-function: ease;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    animation-direction: normal;
                    animation-fill-mode: forwards;
                    animation-play-state: running;
                }
            }

            &.hide {
                .btn-close-menu {
                    @keyframes hide-btn-close-menu {
                        0% {
                            opacity: 1;
                        }

                        100% {
                            opacity: 0;
                        }
                    }

                    animation-name: hide-btn-close-menu;
                    animation-duration: $btn-close-menu-animation-duration;
                    animation-timing-function: ease;
                    animation-delay: 200ms;
                    animation-iteration-count: 1;
                    animation-direction: normal;
                    animation-fill-mode: forwards;
                    animation-play-state: running;
                }

                .dropdown-menu {
                    @keyframes hide-dropdown-menu {
                        0% {
                            transform: translateX(0%);
                        }

                        100% {
                            transform: translateX(-100%);
                        }
                    }

                    animation-name: hide-dropdown-menu;
                    animation-duration: $dropdown-menu-animation-duration;
                    animation-timing-function: ease;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    animation-direction: normal;
                    animation-fill-mode: forwards;
                    animation-play-state: running;
                }
            }
        }
    }

    @media(max-width: 767px) {
        .container-lg {
            width: 100%;
            max-width: initial;
            padding: 0 15px !important;
        }

        .search {
            .form-group {
                input {
                    padding-left: 28px;
                    padding-right: 90px;
                }

                .super-placeholder {
                    left: 6px;
                }
            }
        }
    }

    @media (min-width: 600px) {
        .header-search-input-cover {
            display: none !important;
        }
    }

    @media(max-width: 599px) {
        padding-right: 0;

        .header-content {
            height: 60px;
        }

        .section-container {
            width: 100% !important;
            max-width: 100% !important;
        }

        &.is-hidden-on-home {
            .super-placeholder {
                .header-location {
                    display: block !important;
                }

                .header-zip-code {
                    display: none !important;
                }

                &.is-active {
                    .header-location {
                        display: none !important;
                    }

                    .header-zip-code {
                        display: block !important;
                    }
                }
            }
        }

        .logo {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: $page-header-height-m;
            margin-top: 0;
            padding: 0;
            background-color: $primaryColor;

            img {
                width: 120px;
            }
        }

        .btn-search {
            display: block;
            margin-left: auto;

            img {
                width: 20px;
                height: 20px;
            }
        }

        .search {
            $search-animation-duration: 300ms;

            position: static;
            flex-grow: 1;
            flex-shrink: 0;
            order: 1;
            transform: translate(0, -100%);
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 100%;
            height: $page-header-height-m;
            padding: 10px 15px;
            background-color: $primaryColor;
            border-top: 2px solid darken($primaryColor, 10%);

            &.show {
                @keyframes show-search {
                    0% {
                        transform: translate(0, -100%);
                    }

                    100% {
                        transform: translate(0, 0%);
                    }
                }

                animation-name: show-search;
                animation-duration: $search-animation-duration;
                animation-timing-function: ease;
                animation-delay: 0s;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;

                .form-group-mobile-wrap {
                    width: 100%;
                }

                .form-group {
                    width: 100%;
                }

                .return-button-header {
                    display: none;
                }
            }

            &.hide-on-start {
                opacity:0;
            }
 
            &.hide {
                @keyframes hide-search {
                    0% {
                        transform: translate(0, 0%);
                    }

                    100% {
                        transform: translate(0, -100%);
                    }
                }

                animation-name: hide-search;
                animation-duration: $search-animation-duration;
                animation-timing-function: ease;
                animation-delay: 0ms;
                animation-iteration-count: 1;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-play-state: running;
            }

            &.fixed {
                z-index: 9000;
                padding: 0;

                .form-group-mobile-wrap {
                    z-index: 999;
                    position: fixed !important;
                    //top: 0;
                    //left: 0;
                    right: 0;
                    bottom: 0;
                    left: -2%;
                    top: -2px;
                    height: 102vh;
                    width: 104%;
                    align-items: flex-start;
                    //width: 100vw;
                    //height: 100vh;
                    padding: 2% 2% 0;
                    background: #fff;
                }

                .when-input-empty {
                    display: block;
                    padding: 2%;
                    font-family: $h-font;
                    font-weight: 600;
                    font-size: 12pt;
                    text-align: center;
                    color: #342e4a;
                }

                .form-group {
                    width: 96%;
                    height: 50px;
                    margin: 0 auto;
                }

                .form-control {
                    height: 100%;
                    padding-right: 40px;
                    border: solid 2px #d8cdba;
                }




                .super-placeholder {
                    left: 12px !important;
                    height: 50px;
                    top: 0;
                    transform: inherit !important;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                .return-button-header {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(0, -50%);
                    display: block;
                    padding: 2% 3%;
                    //font-size: 16pt;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                .find-btn {
                    display: none;
                }
            }
        }

        .form-group {
            .form-control {
                font-family: "Raleway","Helvetica","Arial",sans-serif;
                font-weight: 600;
                font-size: 12pt;
                color: #342e4a;

                &::placeholder {
                    font-family: "Raleway","Helvetica","Arial",sans-serif;
                    font-weight: 600;
                    font-size: 12pt;
                    color: #342e4a;
                }
            }
        }

        .navbar {
            li {
                &.is-active {
                    a {
                        font-weight: 600;
                        color: #342e4a;
                    }
                }

                a:hover {
                    font-weight: 600;
                    color: #342e4a;
                }
            }
        }
    }

    @media(max-width: 374px) {
        .search {
            .form-group {
                input {
                    padding-left: 30px;
                }

                .find-btn {
                    width: 64px;
                    padding: 0;
                    font-size: 7.5pt;
                }
            }
        }

        .dropdown-menu {
        }

        .navbar {
            margin-top: 10px;
        }
    }
}
