@import "../vendor/bootstrap.custom/bootstrap.scss";
@import "../vendor/bootstrap.custom/bootstrap-theme.scss";

// Lang-select data
.lang-select {
  width: 160px !important;

  .dropdown-toggle {
    border: none;
    border-radius: 5px;
    box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.45);
    background: #575174;

    &:focus {
      outline: none !important;
      outline-offset: 0;
    }

    .caret {
      border-top-color: #fff;
    }
  }

  .filter-option {
    .select-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        font-weight: normal;
        font-size: 13.5pt;
        color: #fff;
      }

      img {
        margin-right: 20px;
      }
    }
  }

  .dropdown-menu {
    margin: 0;
    padding: 0 5px;
    border: none;

    .inner {
      border-top: 1px solid transparentize(#fff, .5);
    }

    li {
      a {
        width: 100%;
        height: 42px;
        padding: 0;
      }

      &:not(:last-child) {
        .select-item {
          border-bottom: 1px solid #fff;
        }
      }
    }

    .text {
      width: 100%;
      height: 100%;
    }

    .select-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;

      span {
        font-weight: 300;
        font-size: 13.5pt;
        color: #fff;
      }

      img {
        margin-right: 20px;
      }
    }

    // ot to duplicate the same selected item
    & .active > a {
      display: none;
    }

    &.open {
    }
  }

}

.header-ipo {
  z-index: 8000;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #342e49;

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .info-content-header {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    align-items: center;
    width: auto;


    .title {
      margin-left: 10px;
      font-weight: 300;
      font-size: 13.5pt;
      color: #d8cdba;
    }

    .stats {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 15pt;
      color: #fff;

      .count-numbers {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      span {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        //margin-right: 3%;
        margin-right: 5px;
        background-color: #676080;
        border-radius: 3px;
        font-weight: bold;
      }

      i {
        //margin-right: 3%;
        margin-right: 5px;
        font-weight: bold;
      }

      .currency {
        //margin-right: 3%;
        margin-right: 5px;
        font-weight: 400;
      }
    }
  }

  .logo {
    margin-top: 6px;

    img {
      width: 140px;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .logo-title {
      margin-left: 10px;
      font-weight: bold;
      font-size: 22.5pt;
      color: #fff;
    }
  }

  .download-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d8cdba;
    border-radius: 4px;
    box-shadow: 0 2px 7.5px 0 rgba(87, 81, 116, 0.5);

    span {
      font-weight: 500;
      font-size: 10.5pt;
      color: #342e49;
    }

    img {
      width: 14px;
      margin-right: 20px;
    }
  }
}
