main {
  position: relative;
}

.info-note {
  z-index: 301;
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: auto;
  max-width: 380px;
  padding: 15px 25px;
  -moz-border-radius:20px;
  border-radius:20px ;
  background-color: #fff;
  box-shadow: 0 10px 10px -5px transparentize(#585077, .35);

  @media(max-width: 599px) {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 15px;
    max-width: 100%;
    //max-width: 350px;
    padding: 15px 45px 15px 25px;
  }

  @media(max-width: 399px) {
    padding: 15px 30px 15px 10px;
  }


  .info-note-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .decoration-element {
    z-index: 1;
    //display: block;
    //content: '';
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translate(0, -50%);
    width: 4px;
    height: 80%;
    background-color: #d8cdba;
    //background-color: #585077;
    border-radius: 50px 0 0 50px;
  }

  .h4-title {
    line-height: 1.25;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 13pt;
    color: #585077;
    text-align: center;
    //border-bottom: 1px solid #e9e9e9;

    @media(max-width: 399px) {
      font-size: 9pt;
    }

    @media(max-width: 360px) {
      font-size: 8pt;
    }
  }

  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    img {
      width: 20px;

      @media(max-width: 399px) {
        width: 15px;
      }
    }
  }

  .brand-btn.primary {
    @media(max-width: 399px) {
      padding: 7px 20px;
      font-size: 10pt;
    }
  }
}
