@media(max-width: 1199px) {
  .list-col {
    .list-col-item {
      margin: 0 auto;
    }
  }
}

@media (max-width: 991px) {
  .col-item {
    position: relative;
    padding-top: 30px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding-bottom: 20px;

      &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;
        background-color: $grey;
      }
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(3),
    &:nth-child(6) {
      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        height: 90%;
        width: 1px;
        background-color: $grey;
      }
    }

    &:nth-child(1),
    &:nth-child(4) {
      &:before {
        left: auto;
        right: 0;
      }
    }
  }

  .list-col {
    .decoration-line {
      &.decoration-line-one {
        left: 30%;
      }
      &.decoration-line-two {
        left: 65%;
      }
      &.decoration-line-three {
        display: none;
      }
    }
  }

  .list {
    .list-item-with-icon a {
      h5 {
        width: 50%;
      }
    }
  }
}

@media(max-width: 767px) {
  .list-col {
    .decoration-line {
      &.decoration-line-one {
        left: 47%;
      }
      &.decoration-line-two {
        display: none;
      }
    }
  }

  .list {

    .list-item-with-icon a {
      h5 {
        width: auto;
      }
    }
  }
}

@media(max-width: 599px) {
  .list {
    h4 {
      font-size: 14pt;
    }

    h5 {
      font-size: 12pt;
    }
  }

  .list-col {
    width: 90%;
    padding: 20px 0 0 0;

    .list-col-item {
      line-height: 1.8;
      margin: 0 auto;
      font-size: 14.2pt;
      text-align: center;
      width:100%!important;
    }

    .decoration-line {
      &.decoration-line-one {
        left: 50%;
      }
      &.decoration-line-two {
        display: none;
      }
    }

    .decoration-line {
      &.decoration-line-one {
        display: none;
      }
    }
  }

  &.common-searches-list {
    .list-col {
      padding: 20px 15px 0;
    }
  }

  img {
    max-height: 100%;
  }

  .services-list-col {
    width: 50% !important;
    font-size: 13pt;
  }

  .list-item-with-icon a {
    align-content: flex-start;
    height: 103px;

    .list-item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      margin-bottom: 25px;
    }

    h5 {
      font-size: 9pt !important;
    }
  }

  .list-col-item,
  .services-list-col {
    width: 50% !important;
  }
}

@media (max-width: 474px) {
  .list {
    .col-item {
      padding-bottom: 3vh;
    }
  }
}

@media(min-width: 1200px) {
  .list-col {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .services-list-col {
    width: 20% !important;
    text-align: left;
  }
}

@media(min-width: 1400px) {
  .list-col {
    margin-bottom: 40px;
  }
}

