.list {
  padding-left: 20px;
  padding-right: 20px;

  .h4-title,
  p,
  .view-more {
    line-height: 2;
  }

  p,
  .view-more {
    color: $text-color;
  }

  .h4-title {
    font-size: 13pt;
    color: $primaryColor;
  }

  .view-more {
    position: relative;
    font-weight: 700;
    font-size: 12pt;
    cursor: pointer;

    &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $text-color;
    }
  }

  .list-item-icon {

    display: flex;
    align-items: flex-start;
    width: 68px;
    height: 57px;
    margin-bottom: 20px;
  }

  .list-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .list-item-with-icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    h5 {
      color: $text-color;
      font-weight: 400;
      text-align: center;
      font-family: $main-font;
      font-size: 11.25pt;
    }
  }

  .list-col-item,
  .services-list-col {
    width: 33.33%;
    font-size: 12pt;
    flex-grow: 0;
    flex-basis: auto;
  }
}

.services-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h4-title {
  font-family: "Raleway",sans-serif;
  font-weight: 900;
}
