.page-title {
  padding: 20px;

  .page-heading {
    padding: 20px 0;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    font-size: 30pt;
  }
}

.page-title {
  @media(max-width: 1899px) {}

  @media(max-width: 1599px) {}

  @media(max-width: 1399px) {}

  @media(max-width: 1199px) {}

  @media(max-width: 991px) {
    .page-heading-container {
      .fa-chevron-left {
        font-size: 24pt;
      }
    }

    .page-heading {
      font-size: 28pt;
    }
  }

  @media(max-width: 767px) {}

  @media(max-width: 599px) {}

  @media(max-width: 374px) {}
}
