// helpers
@import '../helpers/variables';
@import '../helpers/base';
@import '../helpers/helpers';
@import '../helpers/colors';


// Questionaire
.questionnaire {
    margin-top: 50px;
    font-family: $h-font;

    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        height: 75%;
        background-color: #585077;
    }

    .section-container {
        //margin: 0 auto;
        //@media(min-width: 1400px) {
        //  max-width: 1100px;
        //}
        //.row {
        //  justify-content: center;
        //  align-items: stretch;
        //}
    }

    .questionnaire-title {
        font-weight: bold;
        font-size: 22pt;
        color: $primaryColor;
    }

    .questionnaire-text {
        margin-top: 34px;
        line-height: 1.5;
        font-size: 13pt;
        font-weight: 600;
        color: #fff;
    }

    .questionnaire-image {
        width: 210px;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .questionnaire-content {
        display: flex;
        flex-direction: column;
    }

    .questionnaire-content-outer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-bottom: 10px;
        background-color: #fff;

        .questionnaire-content-inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px 10px;

            .questionnaire-content-item {
                position: relative;
                display: flex;
                align-items: center;
                padding: 10px 5px;

                &:not(:last-child) {
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 0);
                        display: block;
                        content: '';
                        width: calc(100% - 60px);
                        border-bottom: 1px solid transparentize(#325181, .8);
                    }
                }

                .questionnaire-content-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    margin-right: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .questionnaire-content-text {
                    line-height: 1;
                    margin-top: 10px;
                    font-family: $main-font;
                    font-weight: 400;
                    font-size: 12pt;
                    color: $primaryColor;
                }
            }
        }

        .join-us {
            //flex-grow: 1;
            width: calc(100% - 20px);
            margin-left: auto;
            margin-right: auto;
            background-color: #d8cdba;

            .btn {
                width: 100%;
                height: 45px;
                font-family: $main-font;
                font-weight: bold;
                color: $primaryColor;
                font-size: 14pt;
                line-height:45px;
                text-align: center;
            }
        }
    }
}


@media(max-width: 1899px) {}

@media(max-width: 1599px) {}

@media(max-width: 1399px) {}

@media(max-width: 1199px) {
  // Questionaire
  .questionnaire {
    .questionnaire-title {
      font-size: 20pt;
    }
  }
}

@media(max-width: 991px) {
  // Questionaire
    .questionnaire {
        .row {
            flex-wrap: nowrap;
        }

        &::before {
            height: 80%;
        }

        .questionnaire-content-col {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .questionnaire-title {
            font-size: 2.125vw !important;
        }

        .questionnaire-image {
            width: 180px;
        }

        .questionnaire-text {
            margin-top: 20px;
            line-height: 1.25;
            font-size: 1.5vw;
        }

        .questionnaire-content-outer {
            margin-top: 15px;
        }

        .questionnaire-content-inner {
            padding: 1% 2%;
        }

        .questionnaire-content-item {
            padding: 2% 1% !important;

            .questionnaire-content-text {
                width: auto;
                flex-grow: 1;
                font-size: 1.65vw !important;
            }
        }

        .join-us {
            width: 96%;
            height: 100%;
        }
    }
}

@media(max-width: 767px) {
  // Questionaire
    .questionnaire {
        .questionnaire-content-outer {
            margin-bottom: 50px;
        }

        .questionnaire-image {
            width: 150px;
        }
    }
}

@media(max-width: 599px) {
  // Questionnare
    .questionnaire {
        background-color: #585077;
        padding: 10px 0 30px;

        .questionnaire-content-outer {
            margin-bottom: 0;
        }

        &::before {
            display: none;
        }

        .image-col {
            padding: 0;
        }

        .questionnaire-title {
            font-size: 17pt !important;
            color: #d8cdba;
        }

        .questionnaire-text {
            font-size: 12pt !important;
        }

        .questionnaire-content-icon {
            width: 38px !important;
        }

        .questionnaire-image {
            display: none;
        }

        .questionnaire-content-item {
            &:not(:last-child)::after {
                width: calc(100% - 110px);
            }

            .questionnaire-content-text {
                font-size: 11pt !important;
            }
        }

    }
}
