@media(max-width: 600px) {
    .section-title-container {

        .section-title {
            font-size: 15pt;
        }

        h2 {
            font-size: 13pt;
            white-space: normal;
        }

        h3 {
            font-size: 15pt;
        }

        p {
            font-size: 11pt;
        }
    }

}

// EOL: @media(min-width: 992px)
// EOL: @media(min-width: 1200px)
// EOL: @media(min-width: 1600px)
