@media(min-width: 300px) {
  .section-title-container {
    padding-bottom: 20px;
  }

  .section-title {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13pt;
    font-weight: 900;
  }
}

@media(min-width: 992px) {
  .section-title-container {
    padding-bottom: 0;
  }

  .section-title {
    padding: 0 20px;
    font-weight: 500;
    white-space: nowrap;
    font-size: 16pt;
  }
}
// EOL: @media(min-width: 992px)


@media(min-width: 1200px) {
  .section-title {
    font-size: 18pt;
  }
}
// EOL: @media(min-width: 1200px)

@media(min-width: 1600px) {
  .section-title-container {
    padding-bottom: 30px;
  }

  .section-title {
    padding: 0 40px;
  }
}
// EOL: @media(min-width: 1600px)
