@media(max-width: 599px) {
    .section-title-container {
        padding: 10% 0 0 0;

        .section-title {
            font-size: 15pt;
            text-align: center;
            padding: 25px 0 150px 0 !important;
        }

        h2 {
            font-size: 15pt;
            font-weight: 700;
            white-space: normal;
            flex: 1 0 100%;
            text-align: center;
        }

        h3 {
            font-size: 15pt;
            font-weight: 700;
            white-space: normal;
            flex: 1 0 100%;
            text-align: center;
        }

        h4 {
            font-size: 13pt;
            font-weight: 700;
            white-space: normal;
            flex: 1 0 100%;
            text-align: center;
            padding: 0 0 15px 0 !important;
        }


        a {
            font-size: 15pt;
            max-width: 2000px;
            font-weight: 700;
            white-space: normal;
            flex: 1 0 100%;
            text-align: center;
            margin-bottom: 15px;
        }


        p {
            font-size: 12pt;
            margin-bottom: 40px;
        }
    }
}
