// Video settings and layers
.video-container {
  .text {
    position: absolute;
    top: 15px;
    bottom: auto;
    left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    padding: 7px 30px 7px 10px;
    background-color: #d8cdba;
    color: #342e49;
    font-family: "Raleway", sans-serif;

    .video-title {
      font-weight: bold;
      font-size: 24pt;
    }
  }

  &.small-video {
    .text {
      left: 10px;
      top: auto;
      bottom: 10px;
      padding: 5px 20px 5px 10px;

      & .video-title {
        font-size: 15pt;
      }
    }
  }

  .link-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
  }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .5s ease;
        z-index: 200;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize(#342e49, 0.35);
        z-index: 300;
    }

    .fa-play-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #d8cdba;
        font-size: 78pt;
        z-index: 2;
        cursor: pointer;
        transition: font-size .5s ease;
        z-index: 400;
    }

    .video-player {
        display: none;
        z-index: 100;
        width: 100%;
        height: 100%;
    }


  &.small-video {
    .embed-responsive-16by9 {
      .fa-play-circle {
        font-size: 50pt;
      }
    }
  }


}


.video-container {
  @media(min-width: 992px) {

    &:hover {
      img {
        transform: scale(1.1);
      }

      .fa-play-circle {
        font-size: 100pt;
      }
    }

    &.small-video:hover {
      .fa-play-circle {
        font-size: 65pt;
      }
    }
  }
}
