body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.autocomplete-suggestions {
  z-index: 10 !important;
  height: auto !important;
  max-height: unset !important;
  padding: 0 30px;
  margin-top: 10px;
  box-sizing: border-box;
  //border: 1px solid #d8cdba;
  background: #FFF;
  cursor: default;
  //overflow: auto;
  border-radius: 15px;
  box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.16);
  //display: block !important; // remove !!!!

  &.find-pro-autocomplete,
  &.header-autocomplete {
    position: relative;

    &::before {
      position: absolute;
      top: -6px;
      left: 10%;
      display: block;
      content: '';
      width: 1px;
      height: 1px;
      border-bottom: 8px solid #fff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: none;
      z-index: 99999 !important;
    }
  }
}

.autocomplete-suggestions {
  &.find-pro-autocomplete {
    .autocomplete-suggestion {
      height: 70px;
      line-height: 70px;
      padding: 0 5px 0 40px;
      font-size: 14pt;

      @media(max-width: 599px) {
        height: 55px;
        line-height: 55px;
        padding: 0 5px 0 40px;
      }
    }
  }

  &.header-autocomplete {
    .autocomplete-suggestion {
      height: 55px;
      line-height: 55px;
      padding: 0 5px 0 30px;
      font-size: 12pt;
    }
  }
}

.autocomplete-suggestion {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Raleway', 'Helvetica','Arial',sans-serif;
  font-weight: 400;
  color: #352f4a;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    content: '';
    width: 6px;
    height: 16px;
    border-radius: 3px;
    background-color: #585077;
  }
}

.autocomplete-no-suggestion {
  padding: 2px 5px;
}

.autocomplete-selected {
  background: transparent;
}

.autocomplete-suggestions strong {
  line-height: 1.5;
  font-weight: 900;
  color: #585077;
}

.autocomplete-group {
  padding: 2px 5px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}

input {
  font-size: 28px;
  padding: 10px;
  border: 1px solid #CCC;
  display: block;
  //margin: 20px 0;
}
