body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.autocomplete-suggestions {
  display: block !important;
  height: auto !important;
  max-height: unset !important;
  //padding: 0 30px;
  margin-top: 10px;
  box-sizing: border-box;
  background: #FFF;
  cursor: default;
  border-radius: 15px;
  box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.16);

  &.find-pro-autocomplete,
  &.header-autocomplete {
    position: relative;

    &::before {
      position: absolute;
      top: -6px;
      left: 10%;
      display: block;
      content: '';
      width: 1px;
      height: 1px;
      border-bottom: 8px solid #fff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: none;
      z-index: 99999 !important;
    }
  }
}

.autocomplete-suggestions {
  &.find-pro-autocomplete {
    min-height: 320px;
    z-index: 20 !important;

    .autocomplete-suggestion {
      height: 70px;
      line-height: 70px;
      padding: 0 35px 0 70px;
      font-size: 14pt;

      &:hover {
        background-color: #f4eee4;
      }

      &::before {
        left: 30px;
      }

      @media(max-width: 599px) {
        height: 55px;
        line-height: 55px;
        padding: 0 5px 0 40px;
      }
    }

    .autocomplete-no-suggestion {
      .no-results-message-wrap {
        font-size: 21pt;

        @media(max-width: 991px) {
          font-size: 18pt;
        }

        @media(max-width: 767px) {
          text-align: center;
        }
      }

      .image-container {
        width: 100px;
        height: 110px;

        @media(max-width: 991px) {
          width: 90px;
          height: 100px;
        }
      }
    }
  }

  &.header-autocomplete {
    position: fixed !important;
    top: 60px !important;


    @media(max-width: 599px) {
      top: 110px !important;
    }

    .autocomplete-suggestion {
      height: 55px;
      line-height: 55px;
      padding: 0 15px 0 40px;
      font-size: 12pt;

      &::before {
        left: 20px;
      }
    }

    .autocomplete-no-suggestion {
      .no-results-message-wrap {
        font-size: 18pt;
        text-align: center;

        @media(max-width: 991px) {

        }

        @media(max-width: 767px) {
          
        }
      }

      .image-container {
        width: 90px;
        height: 100px;

        @media(max-width: 991px) {
          width: 80px;
          height: 90px;
        }
      }
    }
  }
}

.autocomplete-suggestion {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Raleway', 'Helvetica','Arial',sans-serif;
  font-weight: 400;
  color: #352f4a;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
  }

  &::before {
    position: absolute;
    //left: 30px;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    content: '';
    width: 6px;
    height: 16px;
    border-radius: 3px;
    background-color: #585077;
  }
}

.autocomplete-no-suggestion {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;
  height: 300px;
}

.no-results-message-wrap {
  font-family: 'Raleway', 'Helvetica','Arial',sans-serif;
  font-weight: 300;
  color: #342e49;
}

.autocomplete-no-suggestion {
  .image-container {
    //width: 100px;
    //height: 110px;
    margin-top: 40px;

    @media(max-width: 991px) {
      //width: 90px;
      //height: 100px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}


.autocomplete-selected {
  background: transparent;
}

.autocomplete-suggestions strong {
  line-height: 1.5;
  font-weight: 900;
  color: #585077;
}

.autocomplete-group {
  padding: 2px 5px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}

input {
  font-size: 28px;
  padding: 10px;
  border: 1px solid #CCC;
  display: block;
  //margin: 20px 0;
}
