.section-container {
  width: 100%;
  max-width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media(max-width: 1399px) {
    max-width: 1200px;
  }

  @media(max-width: 1199px) {
    max-width: 990px;
  }

  @media(max-width: 991px) {
    max-width: 90%;
  }

  @media(max-width: 599px) {
    max-width: 100%; // added 21.06.2020
  }
}
