.section-container {
  max-width: 1300px;
  margin: 0 auto;

  @media(max-width: 1399px) {
    max-width: 1200px;
  }

  @media(max-width: 1199px) {
    max-width: 990px;
  }

  @media(max-width: 991px) {
    max-width: 90%;
  }

  @media(max-width: 767px) {

  }
}
