<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<div class="services-card position-relative">
  <div class="services-card-heading  text-center position-relative">
    Please give us a few details so we can connect you with the best pros
  </div>
  <div class="services-card-title font-weight-black">Select required service</div>
  <div class="services-container">
    <div class="row">
      <div class="col-6 px-2 px-lg-3">
        <div class="service-item">
          <div class="service-icon display-flex-center">
            <img class="replacement" src="../assets/images/landing/roof-replacement.png" alt="replacement">
          </div>
          <div class="service-name font-weight-black">Roof Replacement</div>
          <button class="service-btn" type="button">Click Here</button>
        </div>
      </div>
      <div class="col-6 px-2 px-lg-3">
        <div class="service-item">
          <div class="service-icon display-flex-center">
            <img class="repair" src="../assets/images/landing/roof-repair.png" alt="repair">
          </div>
          <div class="service-name font-weight-black">Roof Repair</div>
          <button class="service-btn" type="button">Click Here</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
