@media(min-width: 1200px) {
  .services {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .services-list {
    padding-left: 50px;
    padding-right: 20px;
  }
}

// EOL: @media(min-width: 1200px)

@media(min-width: 1400px) {
  .services {
    > .container {
      max-width: 1300px;
    }
  }
}

// EOL: @media(min-width: 1400px)


@media(min-width: 1600px) {

}

// EOL: @media(min-width: 1600px)
