// helpers
@import 'helpers/variables';
@import 'helpers/base';
@import 'helpers/helpers';

// vendor custom bootstrap cherry picking styles
@import "vendor/bootstrap.custom/bootstrap.custom";
@import "vendor/slick/slick";
@import "vendor/slick/slick-theme";

// components
@import 'components/section-title';
@import 'components/header';
@import 'components/reasons';
@import 'components/button';
@import 'components/categories';
@import 'components/list';
@import 'components/footer';
@import 'components/footer-slick';
@import 'components/load-funnel';

.landing-page {
  .categories {
    background: #fff;
    background-image: none;
  }

  .head-section {
    .section-title {
      font-family: $h-font;
      font-weight: 500;
      color: $text-color;
    }

    .why-us {
      position: relative;
      z-index: 100;

      .reason {
        font-family: $main-font;
        color: $text-color;
      }
    }

    .bottom-mask {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 117.5px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) -5%, #ebe2d3 70%);
    }
  }

  .bg-container {
    &:before {
      display: block;
      content: '';
      width: 100%;
    }
  }

  .other-categories {
    .section-sub-title {
      color: $text-color;
      font-family: $h-font;
      font-weight: 600;
    }
  }

  .section-2 {
    background-color: #ebe2d3;

    .section-title-decoration {
      &.left {
        background-image: linear-gradient(to left, #325181, #dde1e8);
      }

      &.right {
        background-image: linear-gradient(to right, #325181, #dde1e8);
      }
    }

    .section-title {
      color: #325181;
      font-family: $main-font;
      font-weight: 400;
    }

    .newsletter-container {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: #fffdfa;
      overflow: hidden;

      .super-placeholder {
        display: flex;
        flex-direction: row;
        align-items: center;

        .newsletter-text {
          font-family: $h-font;
          color: $text-color;
        }
      }

      .form-group {
        display: flex;

        .form-control {
          border-radius: 2px;
          background-color: #f3f4f7;
          border: none;
          box-shadow: none;
          color: $text-color;
        }

        .placeholder {
          display: flex;
          flex-direction: row;
        }

        .send {
          border-radius: 2px;
          background-color: #352f4a;
          font-family: $h-font;
          color: #fff;
        }
      }
    }
  }

  .search-pros-inner {
    position: relative;
    z-index: 10;
    padding-top: 20px;

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .logo-title {
      margin-left: 20px;
      color: $text-color;
      font-family: $h-font;
      font-weight: 700;
      font-size: 27pt;
    }

    .search {
      .form-group {
        .form-control {
          border-radius: 5px;
          background-color: #f3f4f7;
          font-family: $h-font;
          color: $text-color;
          border: none;
          box-shadow: none;

          &::placeholder {
            color: $text-color;
          }
        }

        .fa-search {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translate(0, -50%);
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      height: 100%;

      img {
        margin-top: 2px;
      }
    }

    .pros-card-image {
      border-radius: 5px;
      box-shadow: 0 10px 35px 0 rgba(50, 81, 129, 0.35);
    }

    .pros-content {
      .pros-type {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        img {
          margin-left: 10px;
        }
      }

      .distance {
        margin-left: auto;
        font-family: $main-font;
        font-weight: 500;
        color: $grey;
      }

      .spec-type {
        font-family: $main-font;
        font-weight: 900;
        color: $text-color;
      }

      .info,
      .pros-reviews {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;

        .image-container {
          margin-right: 10px;
        }
      }

      .info {
        margin: 10px 0;

        span {
          font-family: $main-font;
          font-weight: 600;
          color: $primaryColor;
        }
      }

      .pros-reviews {
        font-family: $main-font;
        font-weight: 400;
        color: $grey;
      }
    }

    .activity-areas-title {
      font-family: $h-font;
      color: $text-color;
    }

    .activity-areas-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }

    .activity-area {
      font-family: $main-font;
      font-weight: 400;
      color: #aeb0b3;
    }

    .pagination-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      overflow: hidden;
      background-color: $text-color;

      .title {
        display: block;
        font-family: $h-font;
        color: #fff;
      }

      .pagination-inner {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .page-prev,
        .page-next {
          display: block;

          i {
            color: #fff;
          }
        }

        .pagination {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }

        .page-item {
          &:not(:last-of-type) {
            .page-link {
              border-right: 1px solid red;
            }
          }

          &:hover,
          &.active {
            background-color: #ebe2d3;

            .page-link {
              border-right-color: transparent;
            }
          }

          .page-link {
            font-family: $h-font;
            color: #fff;
          }
        }
      }
    }
  }

  .view-more-container {
    button {
      font-family: $h-font;
      font-weight: 400;
      color: #fff;
    }
  }
}
