@import 'helpers/variables';
@import 'helpers/helpers';

@import 'components/header-responsive.scss';
@import 'components/section-title-responsive.scss';
@import 'components/footer-responsive.scss';
@import 'components/button-responsive.scss';
@import 'components/card-responsive.scss';
@import 'components/list-responsive.scss';

.magazine {

  @media(max-width: 1899px) {

  }

  @media(max-width: 1599px) {
    .container-lg {
      max-width: initial;
    }
  }

  @media(max-width: 1399px) {
    .container-lg {

    }
  }

  @media(max-width: 1199px) {
    .container-lg {

    }
  }

  @media(max-width: 991px) {

  }

  @media(max-width: 767px) {
    .container-lg {
      width: 100%;
      max-width: initial;
      //padding: 0 15px !important;
    }
  }

  @media(max-width: 599px) {

  }

  @media(max-width: 374px) {

  }
}

