@import 'variables';
@import 'helpers';

@import 'components/section-title-responsive';
@import 'components/list-responsive';
@import 'components/footer-responsive';
@import 'components/button-responsive';
@import 'components/header-responsive';
@import 'components/card-responsive';
@import 'components/navbar-mobile-responsive';
@import 'components/carousel';
@import 'components/services-responsive';

@import 'pages/home-responsive.scss';
@import 'pages/landing-responsive.scss';
@import 'pages/article-responsive.scss';
@import 'pages/video-responsive.scss';

// Common styles for common modules

@media(min-width: 300px) {
  .categories {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
  .reasons {
    align-items: stretch;
    width: 96%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.27);
    background-color: #f4eee4;
  }

  .reason {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    &:before,
    &:after {
      display: block;
      content:'';
      position: absolute;
      background-color: #d2cec6;
    }

    &.licensed {
      &:before {
        height: calc(100% - 10px);
        width: 1px;
        right: 0;
        bottom: 0;
      }

      &:after {
        width: 80%;
        height: 1px;
        bottom: 0;
        right: 0;
      }
    }

    &.protected {
      &:before {
        width: 80%;
        height: 1px;
        bottom: 0;
        left: 0;
      }
    }

    &.rating {
      &:before {
        height: calc(100% - 10px);
        width: 1px;
        right: 0;
        top: 0;
      }
    }

    &.local {
      padding-top: 10px;
    }
  }

  .reason-icon {
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
  }

  .headings {
    padding: 0 20px;
    margin-top: 8px;
  }

  h2 {
    font-family: $main-font;
    font-weight: bold;
    color: $text-color;
    font-size: 10.5pt;
  }

  h3 {
    line-height: 1.25;
    margin-top: 5px;
    color: $grey;
    font-weight: 400;
    font-size: 8.25pt;
  }
}

@media(min-width: 992px) {
  .categories {
    padding-top: 60px;
    padding-bottom: 60px;

    .list {
      .col-item {
        position: relative;
      }

      .col-item:not(:last-child) {
        &:after {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          display: block;
          content: '';
          width: 2px;
          height: 86px;
          background-color: #d6dce6;
        }

      }

      .list-item-with-icon {
        position: relative;
        margin-bottom: 0;
      }
    }
  }
}
// EOL: @media(min-width: 992px)

@media(min-width: 1400px) {
  .section-container {
    max-width: 1300px;
  }
}
// EOL: @media(min-width: 1400px)
