.card {
  @media(min-width: 600px) {
    max-width: 400px;

    .card-image {
      height: 210px;
    }

    .card-body {
      min-height: 120px;
      padding: 20px 20px 16px;

      .card-title {
        margin-bottom: 8px;
        font-size: 22pt;
      }

      .description {
        font-size: 13pt;
      }
    }

    .card-footer {
      height: 10px;
    }
  }

  @media(min-width: 1200px) {
    max-width: 100%;
  }
  // EOL: @media(min-width: 1200px)

  @media(min-width: 1400px) {

  }
  // EOL: @media(min-width: 1400px)


  @media(min-width: 1600px) {
    .card-footer {
      height: 12px;
    }
  }
  // EOL: @media(min-width: 1600px)
}
