// categories container
.categories-container {
  width: 100%;
  max-width: 315px;
  height: 100%;
  padding: 20px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;

  h3 {
    font-size: 16pt;
    margin-bottom: 20px;
  }
}

.categories-list {

}

.categories-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    background-color: transparentize($primaryColor, .5);
  }
}
