@media(min-width: 300px) {
  .page-footer {
    padding-top: 20px;

    .content-column-left {
      display: flex;
      flex-direction: column;
    }

    .content-column-center {
      margin-top: 40px;
    }

    .content-column-right {
      margin-top: 60px;
    }

    .page-footer-link {
      font-size: 10pt;
    }
  }

  .page-footer-main {
    padding-top: 20px;
    padding-bottom: 40px;

    .brand-logo {
      align-self: flex-start;
      width: 145px;
    }

    .more-information {
      margin-top: 40px;
    }

    h4 {
      padding-bottom: 30px;
      font-size: 13.5pt;
    }

    h5 {
      font-size: 11pt;
    }

    p {
      font-size: 13.5pt;
      color: #d6d6d6;
    }

    span {
      font-size: 12pt;
      color: $grey;
    }

    .posts-divider {
      margin: 28px 0;
    }
  }

  .popular-posts {
    margin-left: -15px;
    margin-right: -15px;

    .post {
      h5 {
        margin-bottom: 15px;
      }

      i {
        margin-right: 10px;
      }
    }
  }

  .dummy-image {
    width: 100%;
    height: 150px;
  }

  .post-stats {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .post-stats-item {
    margin-left: 30px;
  }

  .page-footer-footer {
    .content {
      height: 68px;
    }
  }

  .page-footer-subscribe-box {
    margin: 30px auto 0;

    .form-control {
      height: 60px;
      padding: 0 15px 0 60px;
      font-size: 12.75pt;
      background-color: #fff;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #999;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #999;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #999;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #999;
      }
    }

    .newsletter-icon {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 100%;
      opacity: .7;
      font-size: 1.875rem;
    }

    .btn-subscribe-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      color: $primaryColor;
      border-radius: 2px;
      background-color: #d8cdba;
      font-family: $h-font;
      font-size: 10.5pt;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
// EOL: @media(min-width: 300px)

@media(min-width: 600px) {
  .page-footer {
    padding-top: 30px;

    .popular-posts {
      margin-left: 0;
      margin-right: 0;
    }

    .dummy-image {
      width: 110px;
      height: 100px;
    }
  }

  .content-column-center {
    padding-right: 40px;
  }

  .page-footer-subscribe-box {
    width: 400px;

    label {
      height: 52px;
      padding: 0 15px;
      font-size: 10pt;
    }

    .form-control {
      height: 40px;
      padding: 0 15px;
      font-size: 10pt;
      background-color: #d8cdba;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #d8cdba;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #d8cdba;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #d8cdba;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #d8cdba;
      }
    }
  }
}
// EOL: @media(min-width: 600px)

@media(min-width: 992px) {
  .page-footer {
    padding-top: 70px;

    .content-column-left {
      padding-right: 60px;

      p {
        max-width: 320px;
      }
    }
  }

  .page-footer-main {
    padding-top: 60px;
    padding-bottom: 40px;

    .content-column-left {
      display: block;
    }

    .content-column-center {
      margin-top: 0;
    }

    .content-column-right {
      margin-top: 0;
    }

    .brand-logo {
      width: 145px;
    }

    .popular-posts {
      padding-top: 15px;
    }

    p {
      font-size: 11.25px;
      color: #999;
    }

    span {
      font-size: 9pt;
    }

    .post {
      i {
        margin-right: 0;
      }
    }

    .dummy-image {
      width: 130px;
      height: 100px;
    }

    .post-stats {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .page-footer-subscribe-box {
    width: 270px;
    max-width: 100%;
    margin: 40px 0 0;
  }
}
// EOL: @media(min-width: 992px)

@media(min-width: 1400px) {
  .page-footer {
    .container {
      max-width: 1340px;
    }

    .content-column-center {
      padding-right: 60px;
    }
  }
}
// EOL: @media(min-width: 1400px)


@media(min-width: 1600px) {

}
// EOL: @media(min-width: 1600px)
