@import '../variables';

header {
  @media(min-width: 300px) {
    .find-box {
      width: 100%;
      margin-top: 20px;
    }

    .form-control {
      height: 60px;
      padding-right: 45px;
      padding-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .form-control,
    .form-control::placeholder {
      font-size: 11pt;
    }

    .find-btn {
      top: 4px;
      right: 4px;
      width: 40px;
      height: calc(100% - 8px);
      padding: 0;
      font-size: 0;
      background: transparent url(../images/icons/magnifier.png) no-repeat center;
    }

    .super-placeholder {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }
  // EOL: @media(min-width: 300px)

  @media(min-width: 600px) {
    .find-btn {
      width: auto;
      top: 4px;
      right: 4px;
      height: calc(100% - 8px);
      padding: 0 10px;
      background-image: none;
      background-color: $primaryColor;
      font-weight: bold;
      font-size: inherit;
      text-align: center;
      color: #ffffff;
    }
  }
  // EOL: @media(min-width: 600px)

  @media(min-width: 992px) {
    .find-box {
      width: 90%;
      height: 200px;
      margin-top: 50px;
    }

    .find-btn {
      width: 150px;
      font-size: 16px;
    }

    .form-control {
      padding-left: 290px;
      padding-right: 210px;
    }

    .super-placeholder {
      span {
        font-size: 10pt;
      }
    }
  }
  // EOL: @media(min-width: 992px)

  @media(min-width: 1600px) {
    .find-btn {
      width: 200px;
    }

    .form-control {
      height: 80px;
      padding-left: 320px;
      padding-right: 210px;
    }

    .form-control,
    .form-control::placeholder {
      font-size: 12pt;
    }

    .super-placeholder {
      span {
        font-size: 12pt;
      }
    }
  }
  // EOL: @media(min-width: 1600px)

  @media(min-width: 1920px) {
    .find-btn {
      font-size: 18px;
    }
  }
  // EOL: @media(min-width: 1920px)

}

.header {
  @media(min-width: 300px) {
    background-image: url('../images/header/main-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .header-content {
      height: 462px;
      padding-bottom: 115px;
    }

    h1 {
      margin-top: 30px;
      font-size: 20pt;
    }

    .reasons {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-left: -10px;
      margin-right: -10px;
      padding: 15px 0 0 0;

      .reason {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        margin-bottom: 20px;
      }

      .reason-icon {
        width: 35px;
      }

      .headings {
        text-align: center;
        margin-top: 10px;

        & h2 {
          font-size: 13pt;
        }

        & h3 {
          font-size: 11pt;
        }
      }
    }
  }
  // EOL: @media(min-width: 300px)

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .reasons {
      padding: 0 15px;

      .reason {
        flex-direction: row;
        align-items: center;
        padding: 10px;
        height: 90px;
        margin-bottom: 0;
      }

      .headings {
        text-align: left;
        margin-top: 0;

        & h2 {
          font-size: 11pt;
        }

        & h3 {
          font-size: 9pt;
        }
      }

      .reason-icon {
        width: 25px;
      }
    }
  }

  @media(min-width: 992px) {
    background-position: center 60%;
    background-size: 106% auto;

    .header-content {
      height: 462px;
      padding-bottom: 115px;
    }

    .logo {
      width: 80%;
      max-width: 300px;
      margin-top: 70px;
    }

    & h1 {
      margin-top: 40px;
      font-size: 24pt;
    }

    .reasons {
      position: absolute;
      bottom: 15px;
      left: 0;
      flex-wrap: nowrap;
      width: 100%;
      margin: 0;

      .reason {
        flex-direction: row;
        width: 25%;
        height: 70px;
        padding: 16px;

        &:not(:first-child):before {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(50%, 50%);
          width: 2px;
          height: 40px;
          background-color: $primaryColor;
        }
      }

      .headings {
        & h2 {
          font-size: 12pt;
        }

        & h3 {
          margin: 8px 0 0 0;
          font-size: 10pt;
        }
      }

      .reason-icon {
        width: 30px;
      }
    }
  }

  @media(min-width: 1600px) {
    & h1 {
      font-size: 25pt;
    }
  }
}

// Header on scroll
.header-sticky {
  @media(min-width: 300px) {
    position: sticky;
    z-index: 8000;
    height: auto;
    margin-bottom: 0;
    border-top: 2px solid #f8f8fa;
    background: $primaryColor;

    .header-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 90px;
      padding-bottom: 0;
    }

    .logo {
      width: 115px;
      max-width: inherit;
      margin-top: 0;
    }

    h1 {
      display: none;
    }

    .find-box {
      position: static;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      width: 100%;
      max-width: 100%;
      height: 92px;
      margin: 0 0 0 30px;
      padding: 0;
      box-shadow: none;
      background-color: transparent;
      overflow: hidden;
    }

    .form-control {
      height: 60px;
      padding-right: 45px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .find-btn {
      top: 4px;
      right: 4px;
      width: 40px;
      height: calc(100% - 8px);
      padding: 0;
      font-size: 0;
      background: transparent url('../images/icons/magnifier.png') no-repeat center;
    }
  }
  // EOL: @media(min-width: 300px)

  @media(min-width: 600px) {
    .logo {
      width: 145px;
      max-width: inherit;
      margin-top: 0;
    }

    .form-control {
      padding-right: 130px;
    }

    .find-btn {
      width: auto;
      right: 6px;
      height: calc(100% - 8px);
      padding: 0 10px;
      background-image: none;
      background-color: $primaryColor;
      font-weight: bold;
      font-size: inherit;
      text-align: center;
      color: #ffffff;
    }
  }
  // EOL: @media(min-width: 600px)

  @media(min-width: 1400px) {
    .header-container {
      max-width: 1300px !important;
    }
  }
  // EOL: @media(min-width: 1400px)

  @media(min-width: 1600px) {
    .find-box {
      margin-left: 50px;
    }
  }
  // EOL: @media(min-width: 1600px)

}
