@import '../variables';

.reasons {
  display: flex;
  justify-content: space-between;

  & .reason {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    color: $primaryColor;
    overflow: hidden;

    & h2 {
      width: 100%;
      margin: 0;
      font-weight: bold;
    }

    & h3 {
      width: 100%;
      font-weight: normal;
    }
  }
}

.header {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #181522;
    z-index: 1;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
  }

  h1 {
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0,0,0,.3), 0 0 5px rgba(0,0,0,.3);
  }
}

// Header on scroll
.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 9000;
  background-color: $primaryColor;

  //.find-box {
  //  display: flex;
  //  align-items: center;
  //}
}

// navbar mobile

.header-mobile {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 56px;
}

