@import '../variables';

.header {
  @media(min-width: 300px) {
    .logo {
      width: 50%;
      margin-top: 30px;
    }
    h1 {
      line-height: 1.5;
      margin-top: 20px;
      font-size: 14pt;
    }
    .find-box {
      height: 300px;

      .find-btn {
        top: 0;
        right: 0;
        transform: translate(-60%, 140%);
        width: 150px;
        height: 80%;
        font-size: 14px;
      }
      .form-control {
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
      }
      .form-control,
      .form-control::placeholder {
        font-size: 11pt;
      }
      .super-placeholder{
        display: none;

        span {
          font-size: 9pt;
        }
      }
      .reasons {
        .headings {
          & h2 {
            font-size: 10pt;
          }

          & h3 {
            font-size: 8pt;
            margin: 4px 0 0 0;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .find-box {
      .reasons {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 15px;

        .reason {
          margin-bottom: 5px;
        }

        .reason-icon {
          width: 25px;
        }
      }
    }
  }

  @media(min-width: 600px) {
    h1 {
      margin-top: 30px;
      font-size: 20pt;
    }
    .find-box {
      height: 200px;

      .reasons {
        flex-direction: row;
        align-items: center;

        .reason {
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }
  }

  @media(min-width: 768px) {
    .find-box {
      .find-btn {
        top: 0;
        right: 0;
        transform: initial;
        height: 98%;
      }
      .form-control {
        padding-left: 250px;
        padding-right: 150px;
      }
      .super-placeholder {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .find-box {
      .reasons {
        flex-wrap: wrap;
        padding: 0 15px;

        .reason {
          width: 50%;
          margin-bottom: 10px;
        }

        .headings {
          & h2 {
            font-size: 11pt;
          }

          & h3 {
            font-size: 9pt;
          }
        }

        .reason-icon {
          width: 25px;
        }
      }
    }
  }

  @media(min-width: 1200px) {
    height: 462px;
    margin-bottom: 110px;

    .header-content {
      padding-bottom: 115px;
    }

    .logo {
      width: 80%;
      max-width: 300px;
      margin-top: 70px;
    }
    & h1 {
      margin-top: 40px;
      font-size: 24pt;
    }
    .find-box {
      .find-btn {
        font-size: 16px;
      }
      .form-control {
        padding-left: 290px;
        padding-right: 210px;
      }
      .super-placeholder {
        span {
          font-size: 10pt;
        }
      }
      .reasons {
        .reason {
          width: 25%;
          height: 70px;
          padding: 16px;

          &:not(:first-child):before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(50%, 50%);
            width: 2px;
            height: 40px;
            background-color: $primaryColor;
          }
        }

        .headings {
          & h2 {
            font-size: 12pt;
          }

          & h3 {
            margin: 8px 0 0 0;
            font-size: 10pt;
          }
        }

        .reason-icon {
          width: 30px;
        }
      }
    }
  }
  @media(min-width: 1600px) {
    & h1 {
      font-size: 25pt;
    }
    .find-box {
      .find-btn {
        width: 200px;
      }
      .form-control {
        height: 80px;
        padding-left: 320px;
        padding-right: 210px;
      }
      .form-control,
      .form-control::placeholder {
        font-size: 12pt;
      }
      .super-placeholder {
        span {
          font-size: 12pt;
        }
      }
    }
  }

  @media(min-width: 1920px) {
    .find-box {
      .find-btn {
        font-size: 18px;
      }
    }
  }

  // Header on scroll
  &.sticky {
    @media(min-width: 300px) {
      min-height: initial;
      height: 90px;
      background-image: none;

      .header-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 10px;

        .find-box {
          width: 70%;
          margin: 0;

          .form-control {
            padding-right: 40px;
          }

          .find-btn {
            width: 40px;
            height: 50px;
            padding: 0;
            transform: translate(0%, 0%);
            font-size: 0;
            background: url('../../images/icons/magnifier.png') no-repeat center;
          }
        }

        .logo {
          width: 90px;
          max-width: initial;
          margin-top: 0;
        }
      }

      h1 {
        display: none;
      }

      .find-box {
        width: 50%;
        height: 50px;
        padding: 0;
        background-color: transparent;
        box-shadow: none;

        .reasons {
          display: none;
        }

        .form-group {
          .form-control {
            height: 50px;
          }
        }
      }
    }
    @media(min-width: 600px) {
      .header-inner {
        .find-box {

          .form-control {
            padding-right: 160px;
          }

          .find-btn {
            transform: translate(0%, 0%) !important;
            width: 150px !important;
            height: 84% !important;
            font-size: 14px !important;
            background-color: #585077;
            top: 4px;
            right: 4px;
            background-image: none;
          }
        }
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-inner {
        padding: 0 20px;

        .find-box {
          width: 80%;

          .form-control {
            padding-left: 20px;
          }

          .super-placeholder {
            display: none;
          }
        }

        .logo {
          width: 110px;
        }
      }
    }
    @media(min-width: 1200px) {
      & {
        margin-bottom: 0;
      }

      .header-inner {
        .find-box {
          width: 85%;
        }

        .logo {
          width: 140px;
        }
      }
    }

    @media(min-width: 1600px) {
      .header-inner {
        max-width: 1380px;
      }
    }
  }
}
