.header {
  @media(max-width: 1899px) {

  }

  @media(max-width: 1599px) {
    .container-lg {
      max-width: initial !important;
    }

    .header-content {
      .form-group {
        width: 480px;
        height: 60px;
        margin-left: 15px;

        .form-control {
          padding-left: 40px;
          border: none;
          font-size: 10pt;

          &::placeholder {
            font-size: 10pt;
          }
        }

        .find-btn {
          //right: 4px;
          //top: 4px;
          width: 100px;
          //height: calc(100% - 8px);
          font-size: 10pt;
        }

        .super-placeholder {
          left: 18px;

          img {
            width: 12px;
          }
        }
      }

      .login-network {
        width: 100px;
        padding: 0 10px 0 10px;

        img {
          width: 20px;
        }

        span {
          text-align: left;
        }
      }

      .navbar {
        margin-left: 20px;

        a {
          padding: 0 6px;
          font-size: 10pt;
        }
      }
    }
  }

  @media(max-width: 1399px) {
    .container-lg {
      //max-width: 1280px !important;
    }

    .header-content {
      .form-group {
        width: 390px;
        margin-left: 10px;

        .form-control {
          font-size: 9pt;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;


          &::placeholder {
            font-size: 9pt;
          }
        }

        .find-btn {
          width: 80px;
          font-size: 9pt;
        }

        .super-placeholder {
          left: 16px;

          img {
            width: 10px;
          }
        }
      }

      .login-network {
        padding: 0 10px 0 10px;

        img {
          width: 20px;
        }

        span {
          text-align: left;
        }
      }
    }
  }

  @media(max-width: 1199px) {
    .container-lg {
      //max-width: 960px !important;
    }
  }

  @media(max-width: 991px) {

  }

  @media(max-width: 767px) {
    .container-lg {
      width: 100%;
      max-width: initial;
      padding: 0 15px !important;
    }
  }

  @media(max-width: 599px) {

  }
}
