@media(max-width: 599px) {
  .list {
    h4 {
      font-size: 14pt;
    }

    h5 {
      font-size: 12pt;
    }
  }

  img {
    max-height: 100%;
  }

  .list-col-item {
    line-height: 1.5;
    width: 50%;
    font-size: 13pt;
  }

  .services-list-col {
    width: 50% !important;
    font-size: 13pt;
  }

  .list-item-with-icon {
    align-content: flex-start;
    height: 103px;

    .list-item-icon {

      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      margin-bottom: 25px;
    }

    h5 {
      font-size: 9pt;
    }
  }

  .list-col-item,
  .services-list-col {
    width: 50% !important;
  }
}

@media (max-width: 991px) {
  .col-item {
    position: relative;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding-bottom: 20px;

      &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;
        background-color: $grey;
      }
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      padding-top: 20px;
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(3),
    &:nth-child(6) {
      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        height: 90%;
        width: 1px;
        background-color: $grey;
      }
    }

    &:nth-child(1),
    &:nth-child(4) {
      &:before {
        left: auto;
        right: 0;
      }
    }
  }
}

@media(min-width: 800px) {
}

@media(min-width: 992px) {
}
// EOL: @media(min-width: 992px)

@media(min-width: 1200px) {
  .list-col {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .list-col-item,
  .services-list-col {
    width: 20% !important;
    text-align: left;
  }
}

@media(min-width: 1400px) {
  .list-col {
    margin-bottom: 40px;
  }
}
// EOL: @media(min-width: 1400px)


@media(min-width: 1600px) {
  .other-categories {
    .list-col-item {
      width: 16.66% !important;
    }
  }
}
// EOL: @media(min-width: 1600px)
