.list {
  &.five-cols {
    .list-col {
      width: 20%;
    }
  }

  .list-item-with-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h5 {
      color: $text-color;
      font-weight: 400;
      text-align: center;
    }
  }

  .list-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4,
  p,
  .view-more {
    line-height: 2;
  }

  p,
  .view-more {
    line-height: 2;
    color: $text-color;
  }

  h4 {
    color: $primaryColor;
  }

  p {

  }

  .view-more {
    position: relative;

    &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $text-color;
    }
  }
}
