@media(min-width: 300px) {
  .list {
    h4 {
      font-size: 14pt;
    }

    h5 {
      font-size: 12pt;
    }
  }

  img {
    max-height: 100%;
  }

  .list-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .list-col-item {
    width: 50%;
    font-size: 13pt;
  }

  .services-list-col {
    width: 100%;
    font-size: 13pt;
  }

  .list-item-with-icon {
    align-content: flex-start;
    height: 103px;
    //padding: 30px 0;

    .list-item-icon {
      width: 68px;
      height: 57px;
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    h5 {
      font-family: $main-font;
      font-weight: 400;
      font-size: 9pt;
      color: #342e49;
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
  .col-item {
    position: relative;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding-bottom: 20px;

      &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;
        background-color: $grey;
      }
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      padding-top: 20px;
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(3),
    &:nth-child(6) {
      //padding-right: 20px;
      //padding-left: 20px;

      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        height: 90%;
        width: 1px;
        background-color: $grey;
      }
    }

    &:nth-child(1),
    &:nth-child(4) {
      &:before {
        left: auto;
        right: 0;
      }
    }
  }
}

@media(min-width: 600px) {
  .list-col-item,
  .services-list-col {
    width: 50%;
  }

  // Services-list
  .services-list-col {

  }
}

@media(min-width: 800px) {
  .list-col-item,
  .services-list-col {
    width: 33.33%;
  }

  // Services-list
  .services-list-col {

  }
}

@media(min-width: 992px) {
  .list {
    padding-left: 20px;
    padding-right: 20px;

    h4 {
      font-size: 13pt;
    }

    .view-more {
      font-size: 12pt;
    }

    .list-item-with-icon {
      padding: 0;
    }

    .list-item-icon {
      align-items: center;
      height: 44px;
      margin-bottom: 25px;
    }

    h5 {
      font-size: 11.25pt;
    }

    .list-col-item,
    .services-list-col {
      font-size: 12pt;
    }
  }

  // Services-list
  .services-list-col {

  }
}
// EOL: @media(min-width: 992px)

@media(min-width: 1200px) {
  .list-col {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .list-col-item,
  .services-list-col {
    width: 20%;
    text-align: left;
  }

  // Services-list
  .services-list-col {

  }
}

@media(min-width: 1400px) {
  .list-col {
    margin-bottom: 40px;
  }

  // Services-list
  .services-list-col {

  }
}
// EOL: @media(min-width: 1400px)


@media(min-width: 1600px) {
  .other-categories {
    .list-col-item {
      width: 16.66%;
    }
  }

  // Services-list
  .services-list-col {

  }
}
// EOL: @media(min-width: 1600px)
