@media only screen and (min-width: 300px) and (max-width: 991px) {
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 15px;
    background-color: $primaryColor;

    .logo {
      width: 75px;
    }
  }

  .navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 15px;
    font-family: $main-font;
    color: $primaryColor;

    .user-name {
      font-size: 10.5pt;
    }

    .user-address {
      font-size: 8pt;
    }
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    //padding-left: 30px;
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    padding: 12px 15px;

    &:not(:last-child) {
      border-bottom: 1px solid transparentize($grey, .5);
    }
  }

  .nav-link {
    width: 100%;
  }

  .nav-icon {
    display: block;
    width: 26px;
    height: 30px;

    &.icon-home {
      background: url('../images/icons/home.png') no-repeat center;
    }

    &.icon-trending-categories {
      background: url('../images/icons/nav-trending-categories.png') no-repeat center;
    }

    &.icon-support {
      background: url('../images/icons/nav-support.png') no-repeat center;
    }

    &.icon-aiq-magazine {
      background: url('../images/icons/aiq-magazine.png') no-repeat center;
    }

    &.icon-contact-us {
      background: url('../images/icons/mail.png') no-repeat center;
    }

    &.icon-search {
      background: url('../images/icons/magnifier.png') no-repeat center;
    }

    &.icon-settings {
      background: url('../images/icons/settings.png') no-repeat center;
    }
  }

  .link-name {
    padding-left: 25px;
    font-family: $main-font;
    color: $primaryColor;
    font-size: 10.5pt;
  }

  .hide-navbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100vh;
  }

  .fa-search,
  .fa-bars {
    font-size: 15pt;
  }

  .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    width: 65%;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.16);

    &.navbar-active {
      @keyframes slide-right {
        from {
          transform: translateX(-100%);
        }

        to {
          transform: translateX(0%);
        }
      }

      animation-name: slide-right;
      animation-duration: 500ms;
      animation-timing-function: linear;
      animation-delay: 0ms;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }

    &.navbar-hide {
      @keyframes slide-left {
        from {
          transform: translateX(0%);
        }

        to {
          transform: translateX(-100%);
        }
      }

      animation-name: slide-left;
      animation-duration: 500ms;
      animation-timing-function: linear;
      animation-delay: 0ms;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }
  }

}
