@media(min-width: 600px) {
  .section-title-container {
    padding-bottom: 20px;
  }
}

@media(min-width: 992px) {
  .section-title-container {
    padding-bottom: 40px;
  }

  .section-title {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 13pt;
  }
}
// EOL: @media(min-width: 992px)

@media(min-width: 1400px) {

}
// EOL: @media(min-width: 1400px)


@media(min-width: 1600px) {
  .section-title-container {
    padding-bottom: 50px;
  }

  .section-title {
    padding-left: 120px;
    padding-right: 120px;
  }
}
// EOL: @media(min-width: 1600px)
