@media(min-width: 1200px) {
  .section-title {
    padding-left: 80px;
    padding-right: 80px;
  }

  .services {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .services-list {
    padding-left: 50px;
    padding-right: 20px;
  }

  .list-row {
    &.five-cols {
      .list-col {
        margin-bottom: 30px;
      }
    }
  }
}

// EOL: @media(min-width: 1200px)

@media(min-width: 1400px) {
  .services {
    > .container {
      max-width: 1300px;
    }
  }

  .list-row {
    &.five-cols {
      .list-col {
        margin-bottom: 40px;
      }
    }
  }
}

// EOL: @media(min-width: 1400px)


@media(min-width: 1600px) {
  .section-title {
    padding-left: 120px;
    padding-right: 120px;
  }
}

// EOL: @media(min-width: 1600px)
